{% load static %}
{% load i18n %}
{% load is_enrolled %}

<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.component.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/courses/courses/courses.filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
<!--<script>window.user_id = {{ user.pk }};</script>-->

<!-- CONTAINER -->
<div class="courses-page page" ng-controller="CourseListController">
    <div class="container-fluid">
        <header class="page-header">
            <h2><i class="fa fa-angle-double-right"></i><span translate>Courses</span></h2>
        </header>
        {% verbatim %}
        <section ng-cloak>
            <p ng-if="!courses" translate>Loading courses...</p>
            <p ng-if="courses && courses.length === 0" translate>There are no courses.</p>
            <div ng-if="courses && courses.length !== 0">
                <div class="courses-list">
                    <div class="card-list" ng-repeat="course in courses track by course.id">
                        <course-card course="course"></course-card>
                    </div>
                </div>
            </div>
            {% endverbatim %}
        </section>
    </div>
</div>
<!-- CONTAINER -->
