// ADMIN STYLES
// ********************************************************************* //
#admin {
    // COURSE, FORUM
    // ********************************************************************* //
    .course {
        .main-header {
            padding: 0;
        }
        &.course-intro {
            .course-info {
                .secondary-page-header {
                    margin-bottom: 0;
                }
            }
        }
        &.course-lesson {
            .video,
            .activity {
                border: 0;
                margin-top: 20px;
                @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                    width: 65%;
                }
                @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                    width: 88%;
                }
                @media (max-width: $screen-xs-max) {
                    margin-top: 86px;
                }
                .current-video,
                .add-activity {
                    border: 1px solid $gray-lighter;
                    overflow: hidden;
                }
            }
            .activity {
                .editable-title {
                    margin-bottom: 10px;
                    float: left;
                    width: 93%;
                }
                .question .btn-danger {
                    float: right;
                }
                .alert-info {
                    clear: both;
                }
            }
            .add-side-notes {
                margin-top: 20px;
            }
            .embed-input {
                padding: 10px;
                width: 100%;
            }
        }
        // ADD CONTENT - Admin
        // ********************************************************************* //
        .add-content {
            .active-language {
                background-color: $brand-secondary;
            }
            margin-top: 20px;
            margin-bottom: 20px;
            .help-text {
                color: #000;
                font-size: 12px;
                font-weight: $bold;
            }
            .text-select {
                margin-top: 20px;
            }
            .video-activity-buttons {
                button {
                    font-size: 11px;
                    margin-bottom: 10px;
                    padding: 10px 20px;
                }
                @media (max-width: 560px) {
                    .col-xs-6 {
                        width: 100%;
                        &.textright {
                            text-align: left;
                        }
                    }
                }
            }
            .secondary-header {
                .unit {
                    font-size: 18px;
                    margin: 5px 5px 0 0;
                }
                .editable-text {
                    width: 100%;
                    input {
                        font-size: 18px;
                    }
                }
                @media screen and (min-width: $screen-sm-min) {
                    .btn {
                        float: right;
                    }
                }
            }
        }
        // END CONTENT
        // ADD VIDEO, THUMBNAIL, ACTIVITIES
        .add-video-intro,
        .add-thumbnail,
        .add-activity {
            color: $brand-danger;
            height: 489px;
            &:before {
                content: '';
                height: 100%;
                @include vertical-align(middle);
            }
            .centered {
                @include vertical-align(middle);
                text-align: center;
                width: 98%;
            }
            .icon-youtube-play {
                display: block;
                font-size: 54px;
            }
        }
        .add-activity {
            .activity-btn {
                margin-bottom: 5px;
            }
        }
        @media (max-width: 400px) {
            .add-thumbnail {
                .centered {
                    input {
                        width: 260px;
                    }
                }
            }
        }

        .lesson {
            .handle {
                float: left;
                margin-left: -40px;
                margin-top: 6.5%;
            }
        }
        .instructors {
            .title {
                color: #000;
                font-size: 20px;
                font-weight: $bold;
            }
            .handle {
                margin-right: 10px;
            }
            .submit {
                margin: 20px 0 10px;
            }
        }
        .handle {
            .btn {
                height: 40px;
                max-height: 40px;
                width: 40px;
                &:before {
                    font-size: 20px;
                    margin-right: 0;
                }
            }
        }

        // COURSE INFO
        .course-status {
            margin-top: 5px;
            &.btn-group.open .dropdown-toggle {
                box-shadow: none;
            }
            button {
                color: #fff;
                &.published {
                    background: $brand-primary;
                }
                &.draft {
                    background: $red;
                }
            }
            .status-label {
                float: left;
            }
            .caret {
                float: right;
                margin: 8px 0 0 10px;
            }
            .dropdown-menu {
                margin: 0;
                min-width: initial;
                padding: 0;
                li {
                    margin: 0 !important;
                }
            }
        }
        .percentage-bubble {
            background: $brand-primary;
            border-radius: 100%;
            color: #fff;
            display: inline-block;
            height: 60px;
            padding: 20px 0px;
            text-align: center;
            width: 60px;
        }
        .percentage-input {
            /*removes default webkit styles*/
            -webkit-appearance: none;

            background: transparent;

            /*fix for FF unable to apply focus style bug */
            border: 1px solid transparent;

            /*required for proper track sizing in FF*/
            max-width: 270px;
            width: 100%;

            margin-top: 15px;

            &::-webkit-slider-runnable-track {
                max-width: 270px;
                width: 100%;
                height: 5px;
                background: $gray;
                border: none;
                border-radius: 3px;
            }
            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: 1px solid $gray;
                cursor: pointer;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: $gray-lighter;
                margin-top: -4px;
            }
            &:focus {
                outline: none;
            }
            &:focus::-webkit-slider-runnable-track {
                background: $gray
            }

            &::-moz-range-track {
                max-width: 270px;
                width: 100%;
                height: 5px;
                background: $gray;
                border: none;
                border-radius: 3px;
            }
            &::-moz-range-thumb {
                border: 1px solid $gray;
                cursor: pointer;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: $gray-lighter;
            }

            /*hide the outline behind the border*/
            &:-moz-focusring{
                outline: 1px solid transparent;
                outline-offset: -1px;
            }

            &::-ms-track {
                max-width: 270px;
                width: 100%;
                height: 5px;

                /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
                background: transparent;

                /*leave room for the larger thumb to overflow with a transparent border */
                border-color: transparent;
                border-width: 6px 0;

                /*remove default tick marks*/
                color: transparent;
            }
            &::-ms-fill-lower {
                background: $gray;
                border-radius: 10px;
            }
            &::-ms-fill-upper {
                background: $gray;
                border-radius: 10px;
            }
            &::-ms-thumb {
                border: 1px solid $gray;
                cursor: pointer;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                background: $gray-lighter;
            }
            &:focus::-ms-fill-lower {
                background: $gray;
            }
            &:focus::-ms-fill-upper {
                background: $gray;
            }
        }
        .date-input {
            margin-top: 5px;
            width: 230px;
            .form-control {
                border: 2px solid $brand-success;
                box-shadow: none;
                color: $gray;
                font-weight: $bold;
                padding: 1px 6px;

                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: $gray;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: $gray;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: $gray;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: $gray;
                }
            }
        }
        .number-input {
            border: 2px solid $brand-success !important;
            box-shadow: none;
            color: $gray;
            font-weight: $bold;
            padding: 1px 6px;
            width: 100px;
        }
        .language {
            background-color: $gray-secondary;
            border: 0px
        }
    }
}

@media screen and (max-width: $screen-xs-max) {
    #admin {
        .main-header {
            .course-sections {
                a {
                    width: 25.5%;
                }
                .dropdown {
                    width: 24%;
                    .tools {
                        padding: 8% 30%;
                        width: 100%;
                    }
                }
            }
            .dropdown .dropdown-menu li a {
                border-right: 0;
                width: 100%;
            }
        }
    }
}
