// Main navigation styles
// --------------------------------------------------

.main-nav {
    background: $main-nav-bg-color;
    font-family: 'Cabin 700';
    line-height: 14px;
    font: 12px;
    bottom: 0;
    left: -245px;
    top: 0;
    position: fixed;
    @include transition(all 0.5s ease);
    width: 85px;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $brand-tertiary $brand-primary;
    scrollbar-width: thin;

    a {
        color: #fff;
    }
    ul, ul ul {
        @extend .list-unstyled;
        color: #fff;
    }

    @media screen and (min-width: $screen-xs-min) {
        left: 0;

        li {
            margin: 0;
        }
    }
    @media screen and (min-width: $screen-sm-min) {
        left: 0;
        width: 120px;
    }
}
.main-nav-opened { // when the offcanvas menu is opened
    .main-nav {
        left: 0;
        width: 245px;
        z-index: 2020;
    }
    li:first-child {
        margin: 20px 0;
        padding: 0;
    }
}

.main-nav::-webkit-scrollbar {
	width: 5px;
	background: $brand-primary;
}
.main-nav::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $brand-primary;
	border-radius: 10px;
}
.main-nav::-webkit-scrollbar-thumb {
	background: $brand-tertiary;
	border-radius: 10px;
}

.nav-bubble-notification {
    background-color: $brand-secondary;
    border-radius: 50%;
    height: 20px;
    min-width: 20px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: calc(50% - 10px);

    .main-nav-opened & {
      right: 10px;
    }
}

.user-nav {
    font-size: $font-size-base;
    font-weight: $semi-bold;
    margin: 80px 0 10px;
    text-align: center;
    @media screen and (min-width: $screen-xs-min) {
        margin-top: 0px;
    }
    li {
        position: relative;
        @media screen and (min-width: $screen-xs-min) {
            margin-bottom: 0;
            padding: 0 10px;
        }
        &:last-child {
            margin-bottom: 0 !important;
        }
        &:hover, .active {
            background-color: $brand-tertiary;
            color: $brand-primary;

            a {
                color: $brand-primary;
            }

            .with-image img {
                // Generated via https://codepen.io/sosuke/pen/Pjoqqp
                filter: brightness(0) invert(36%) sepia(6%) saturate(356%) hue-rotate(163deg) brightness(92%) contrast(83%);
            }

            & + li a {
              border-color: transparent;
            }
        }
    }
    a {
        color: white;
        display: inline-flex;
        align-items: center;
        gap: 4px;
        justify-content: flex-start;
        border-bottom-width: 2px !important;
        padding: 5px;
        width: 100%;

        @media screen and (min-width: $screen-xs-min) {
            border-top: 2px solid $brand-tertiary;
            flex-direction: column;
            padding-bottom: 15px;
            padding-top: 10px;
        }

        &:before {
            color: inherit;
            display: block;
            font-size: 32px;
            line-height: 1;
            width: 32px;
        }
    }
    .submenu {
        ul {
            li {
                font-size: 11px;
                font-weight: $normal;
                margin-bottom: 0;
                padding: 10px 0;
                a {
                    border-bottom-width: 1px !important;
                    padding-block: 5px;
                }
            }
            li + li {
                padding-top: 0;
            }
        }
    }
    .admin {
        @extend %icon-briefcase;
    }
    .calendar {
        @extend %icon-calendar;
    }
    .cards {
        @extend %icon-lightbulb;
    }
    .chat {
        @extend %icon-chat;
        position: relative;
    }
    .courses {
        @extend %icon-certificate;
    }
    .forum {
        @extend %icon-comments;
    }
    .help {
        @extend %icon-help;
    }
    .login {
        @extend %icon-login;
    }
    .logout {
        @extend %icon-logout;
    }
    .messages {
        @extend %icon-messages;
        position: relative;
    }
    .notes {
        @extend %icon-edit;
    }
    .profile {
        @extend %icon-profile;
    }
    .register {
        @extend %icon-register;
    }
    .repositories {
        @extend %icon-repositories;
    }
    .home {
        margin-top: 0px;
        // @extend %icon-home;
        @media screen and (min-width: $screen-xs-min) {
            border-top: 0;
            margin-top: 40px;
        }
    }
    .user-guideline {
        @extend %icon-info-circle;
    }
    .arrow-left {
        @extend %icon-arrow-left;
    }
    .cog {
        @extend %icon-cog;
    }
    .help {
        @extend %icon-question-circle;
    }
    .contact {
        @extend %icon-envelope;
    }
    .reports {
        @extend %icon-bar-chart;
    }
    .bell-o {
        @extend %icon-bell-o;
    }
    .bullhorn {
        @extend %icon-bullhorn;
    }
}
.main-nav-opened { // when the offcanvas menu is opened
    .user-nav {
        font-size: $font-size-base;
        margin: 0px 25px 25px;
        text-align: left;
        @media screen and (min-width: $screen-xs-min) {
            margin-top: 0px;
        }
        a {
            &:before, &.with-image img {
                display: inline-block;
                margin-right: 10px;
            }
            @media screen and (min-width: $screen-xs-min) {
                border-bottom: none;
                flex-direction: row;
                padding-block: 10px;
            }
        }
        .submenu {
            margin-bottom: 15px;
            ul {
                border-left: 1px solid;
                padding-left: 10px;
                li {
                    font-size: 14px;
                    padding: 5px 0;
                }
            }
        }
    }
}

.site-info {
    display: none;
    padding: 0 30px 30px;
    position: absolute;
    bottom: 0;
    .site-nav {
        @extend .list-inline;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
        li {
            font-weight: $font-size-small;
            margin: 0 10px 20px 0;
        }
    }
    .legal-text {
        color: #fff;
        font-size: $font-size-small;
        text-align: center;
    }
}
.main-nav-opened {  // when the offcanvas menu is opened
    .site-info {
        display: block;
    }
}
