// Site header styles
// --------------------------------------------------

.site-header {
    @include transition(width 0.5s ease);
    background-color: $brand-secondary;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1010;

    @media screen and (min-width: $screen-sm-min) {
        height: 80px;
    }
}

.unlogged {
    .site-logo {
        width: 100%;
        display: flex;
        align-items: center;
        img {
          height: 40px;
          width: auto;
        }
        @media screen and (min-width: $screen-sm-min) {
          img {
            height: 60px;
          }
        }
        @media screen and (min-width: 1024px) {
            justify-content: center;
        }
    }
}


.site-logo {
    text-align: center;
    width: 100%;
    img {
        margin: 10px;
        height: 40px;
        width: auto;
    }
    @media screen and (min-width: $screen-sm-min) {
        img {
            height: 60px;
        }
    }
}

.user-info {
    box-sizing: border-box;
    color: white;
    height: 30px;
    padding: 6px;
    position: absolute;
    top: 10px;
    left: 2vh;
    width: 30px;
    z-index: 1;
    @media screen and (max-width: $screen-xs) {
        cursor: pointer;
        padding: 1vh 1vw;
    }
    @media screen and (min-width: $screen-xs-min) {
        padding: 1vh 1vw;
        display: none;
    }
    @media screen and (min-width: $screen-sm-min) {
        padding: 1vh 1vw;
        display: none;
    }
    .menu-icon {
        font-size: 20px;
    }
    .user-icon {
        border-radius: 100%;
        float: none;
        height: 34px;
        margin: 0 auto;
        text-align: center;
        width: 34px;
        @media screen and (min-width: $screen-sm-min) {
            height: 40px;
            width: 40px;
        }
        img {
            height: 34px;
            width: 34px;
            @media screen and (min-width: $screen-sm-min) {
                height: 40px;
                width: 40px;
            }
        }
    }
    .user-name {
        display: none;
        font-size: $font-size-small;
        font-weight: $semi-bold;
        margin: 15px 0 0 10px;
        text-align: center;
        @media screen and (min-width: $screen-xs-min) {
            margin: 10px 0 0 10px;
        }
    }
    .menu-label,
    .hide-menu {
        display: block;
        font-size: 1.6vmax;
        font-weight: $bold;
        margin-top: 4px;
        text-align: center;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 10px;
            margin-left: -10px;
        }
        @media screen and (min-width: $screen-sm-min) {
            font-size: $font-size-small;
            margin-top: 5px;
            margin-left: 0px;
        }
    }
    .hide-menu {
        display: none;
    }
    .icon-header {
        display: "flex";
        .icon {
            font-size: 20px;
        }
    }
}

.main-nav-opened {
    // when the offcanvas menu is opened
    .user-info {
        width: 245px;
        .user-icon {
            float: left;
            margin: 0 5px;
        }
        .user-name {
            display: block;
        }
        .menu-label {
            display: none;
        }
        .hide-menu {
            display: block;
        }
    }
}

// .site-logo {
//     height: 60px;
//     width: 70px;
//     position: absolute;
//     left: 0;
//     right: 0;
//     @media screen and (min-width: $screen-sm-min) {
//         height: 80px;
//         left: 100px;
//     }
//     h1 {
//         margin: 0;
//         height: 100%;
//         width: 100%;
//     }
//     a {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 100%;
//     }
//     img {
//         margin: 10px;
//         max-height: calc(100% - 20px);
//     }
// }

.main-nav-opened {
    // when the offcanvas menu is opened
    .site-logo {
        display: none;
        @media screen and (min-width: $screen-xs-min) {
            display: block;
            left: 270px;
            text-align: left;
        }
        @media screen and (min-width: $screen-sm-min) {
            display: block;
            left: 250px;
            text-align: center;
        }
    }
    .user-tools {
        display: none;
        @media screen and (min-width: $screen-xs-min) {
            display: block;
        }
    }
}

.user-tools {
    @extend %list-inline;
    position: absolute;
    color: white;
    right: 8px;
    top: 8px;
    @media screen and (min-width: $screen-sm-min) {
        right: 60px;
        top: 20px;
    }
    li {
        margin-left: 15px;
        @media screen and (min-width: $screen-xs-min) {
            margin-left: 30px;
        }
    }
    a {
        display: inline-block;
        font-size: 1.6vmax;
        font-weight: $bold;
        line-height: 120%;
        text-align: center;
        @include link-hover(white, white, transparent, white);
        border-bottom-width: 2px !important;
        @media screen and (min-width: $screen-xs-min) {
            font-size: $font-size-small;
        }
        &:before {
            color: white;
            display: block;
            font-size: 18px;
            @media screen and (min-width: $screen-xs-min) {
                font-size: 18px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
    .chat,
    .notifications,
    .languages {
        position: relative;
    }
    .chat {
        @extend %icon-chat;
        .bubble {
            @media screen and (min-width: $screen-sm-min) {
                top: -5px;
                right: -5px;
            }
        }
    }
    .notifications {
        @extend %icon-bell;
        color: white;
        .bubble {
            @media screen and (min-width: $screen-sm-min) {
                top: -5px;
                right: 18px;
            }
        }
    }
    .languages {
        color: white;
        background-color: transparent;
        border: none;
        font-size: 18px;
        text-decoration: underline;
        color: white;
        text-align: center;

        // -moz-appearance:none; /* Firefox */
        // -webkit-appearance:none; /* Safari and Chrome */
        // appearance:none;

        .language-select {
            select option {
                margin: 40px;
                background: $brand-secondary;
                color: white;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

                &:hover {
                    background-color: $brand-primary;
                    color: white;
                }
            }
        }
        option {
            background-color: $brand-secondary;
        }
        .bubble {
            @media screen and (min-width: $screen-sm-min) {
                top: -5px;
                right: 18px;
            }
        }
    }
    .en {
        @extend %icon-language;
    }
    .es {
        @extend %icon-chat;
    }
    .pt_br {
        @extend %icon-pencil;
    }

    #header-logout {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-between;
    }
}

.anonymous .user-tools {
  top: calc(50% - 13px);

  li {
    margin-left: 10px;
  }

  a {
    font-size: 16px;
  }
}

.notifications-panel {
    min-width: auto;
    max-width: auto;
    position: fixed;
    right: 45px;
    top: 61px;
    z-index: 1100;
    @media screen and (min-width: $screen-sm-min) {
        right: 80px;
        top: 80px;
    }
    &:before {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid $gray-light;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        right: 3px;
        top: -15px;
        @media screen and (min-width: $screen-xs-min) {
            top: -10px;
        }
        @media screen and (min-width: $screen-sm-min) {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 20px solid $gray-light;
            right: 35px;
            top: -20px;
        }
    }
    .notifications-title {
        background-color: $brand-primary;
        color: #fff;
        font-family: $font-family-sans-serif;
        font-size: $font-size-small;
        font-weight: $bold;
        margin: 0;
        padding: 5px;
    }
    .notifications-list {
        color: black;
        background-color: #fff;
        list-style: none;
        height: auto;
        max-height: 490px;
        max-width: 300px;
        margin-bottom: 0;
        overflow: auto;
        padding: 5px 0;
        .notifications-item {
            border-bottom: 1px solid rgba($gray-light, 0.3);
            font-size: 11px;
            overflow: hidden;
            padding: 10px;
            &.not-read {
                background-color: rgba($gray-light, 0.15);
            }
            a {
                font-weight: $bold;
                @include link-hover($gray-dark, $gray-dark, transparent, $gray-dark);
            }
            .icon {
                border-radius: 100%;
                display: block;
                float: left;
                height: 40px;
                width: 40px;
                img {
                    border-radius: 100%;
                    height: 40px;
                    width: 40px;
                }
            }
            .info,
            .date {
                display: block;
                margin-left: 50px;
            }
            .date {
                color: $gray;
            }
        }
    }
    .see-more {
        background-color: $gray-lighter;
        box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
        color: $gray;
        display: block;
        font-size: 11px;
        font-weight: $bold;
        line-height: 11px;
        padding: 5px;
        text-align: center;
        text-decoration: none;
    }
}

//// Novo

// Site header styles
// --------------------------------------------------

// .site-header {
//     background-image: url('../img/background_nav.png');
//     background-repeat: no-repeat, repeat;
//     height: 60px;
//     @include transition(width 0.5s ease);
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     z-index: 1010;
//     @media screen and (min-width: $screen-sm-min) {
//         height: 80px;
//         background-color: $brand-secondary;
//         background-image: None;
//     }
// }

// .user-info {
//     box-sizing: border-box;
//     color: white;
//     height: 30px;
//     padding: 6px;
//     position: absolute;
//     top: 2vh;
//     left: 2vh;
//     width: 30px;
//     z-index: 1;
//     @media screen and (max-width: $screen-xs){
//         cursor: pointer;
//         padding: 1vh 1vw;
//     }
//     @media screen and (min-width: $screen-xs-min) {
//         padding: 1vh 1vw;
//     }
//     @media screen and (min-width: $screen-sm-min) {
//         padding: 1vh 1vw;
//         display: none;
//     }
//     .menu-icon {
//         font-size: 20px;
//     }
//     .user-icon {
//         border-radius: 100%;
//         float: none;
//         height: 34px;
//         margin: 0 auto;
//         text-align: center;
//         width: 34px;
//         @media screen and (min-width: $screen-sm-min) {
//             height: 40px;
//             width: 40px
//         }
//         img {
//             height: 34px;
//             width: 34px;
//             @media screen and (min-width: $screen-sm-min) {
//                 height: 40px;
//                 width: 40px
//             }
//         }
//     }
//     .user-name {
//         display: none;
//         font-size: $font-size-small;
//         font-weight: $semi-bold;
//         margin: 15px 0 0 10px;
//         text-align: center;
//         @media screen and (min-width: $screen-xs-min) {
//             margin: 10px 0 0 10px;
//         }
//     }
//     .menu-label, .hide-menu {
//         display: block;
//         font-size: 1.6vmax;
//         font-weight: $bold;
//         margin-top: 4px;
//         text-align: center;
//         @media screen and (min-width: $screen-xs-min) {
//             font-size: 10px;
//             margin-left: -10px;
//         }
//         @media screen and (min-width: $screen-sm-min) {
//             font-size: $font-size-small;
//             margin-top: 5px;
//             margin-left: 0px;
//         }
//     }
//     .hide-menu {
//         display: none;
//     }
//     .icon-header {
//         display: "flex";
//         .icon {
//             font-size: 20px;
//         }
//     }
// }

// .main-nav-opened { // when the offcanvas menu is opened
//     .user-info {
//         width: 245px;
//         .user-icon {
//             float: left;
//             margin: 0 5px;
//         }
//         .user-name {
//             display: block;
//         }
//         .menu-label {
//             display: none;
//         }
//         .hide-menu {
//             display: block;
//         }
//     }
// }

// .site-logo {
//     img {
//         max-height: calc(100% - 20px);
//         width: 150px;
//         margin: 15px 0;
//     }
//     @media screen and (min-width: $screen-xs-min) {
//         img {
//             max-height: calc(100% - 20px);
//             width: 2
//             50px;
//             margin: 15px 0;
//         }
//     }
//     @media screen and (min-width: $screen-sm-min) {
//         img {
//             max-height: calc(100% - 20px);
//             width: 350px;
//             margin: 15px 0;
//         }
//     }
// }

// .main-nav-opened { // when the offcanvas menu is opened
//     .site-logo {
//         display: none;
//         @media screen and (min-width: $screen-xs-min) {
//             display: block;
//             left: 270px;
//             text-align: left;
//         }
//         @media screen and (min-width: $screen-sm-min) {
//             display: block;
//             left: 250px;
//             text-align: center;
//         }
//     }
// }

// .user-tools {
//     @extend %list-inline;
//     position: absolute;
//     color: white;
//     right: 8px;
//     top: 17px;
//     @media screen and (min-width: $screen-sm-min) {
//         right: 15px;
//         top: 20px;
//     }
//     li {
//         margin-left: 10px;
//         @media screen and (min-width: $screen-xs-min) {
//             margin-left: 15px;
//         }
//     }
//     a {
//         display: inline-block;
//         font-size: 1.6vmax;
//         font-weight: $bold;
//         line-height: 120%;
//         text-align: center;
//         @include link-hover(white,white,transparent,white);
//         border-bottom-width: 2px !important;
//         @media screen and (min-width: $screen-xs-min) {
//             font-size: $font-size-small;
//         }
//         &:before {
//             display: block;
//             font-size: 24px;
//             color: white;
//             @media screen and (min-width: $screen-xs-min) {
//                 font-size: $font-size-large;
//                 margin-bottom: 5px;
//             }
//         }
//     }
//     .chat, .notifications, .languages {
//         position: relative;
//     }
//     .chat {
//         @extend %icon-chat;
//         .bubble {
//             @media screen and (min-width: $screen-sm-min) {
//                 top: -5px;
//                 right: -5px;
//             }
//         }
//     }
//     .notifications {
//         @extend %icon-bell;
//         color: white;
//         .bubble {
//             @media screen and (min-width: $screen-sm-min) {
//                 top: -5px;
//                 right: 18px;
//             }
//         }
//     }
//     .languages {
//         @extend %icon-language;
//         color: white;
//         .bubble {
//             @media screen and (min-width: $screen-sm-min) {
//                 top: -5px;
//                 right: 18px;
//             }
//         }
//     }
// }

// .notifications-panel {
//     min-width: 320px;
//     max-width: 420px;
//     position: fixed;
//     right: 0;
//     top: 61px;
//     z-index: 1100;
//     @media screen and (min-width: $screen-sm-min) {
//         right: 19px;
//         top: 80px;
//     }
//     &:before {
//         border-left: 15px solid transparent;
//         border-right: 15px solid transparent;
//         border-bottom: 15px solid $gray-light;
//         content: "";
//         height: 0;
//         width: 0;
//         position: absolute;
//         right: 3px;
//         top: -15px;
//         @media screen and (min-width: $screen-xs-min) {
//             top: -10px;
//         }
//         @media screen and (min-width: $screen-sm-min) {
//             border-left: 20px solid transparent;
//             border-right: 20px solid transparent;
//             border-bottom: 20px solid $gray-light;
//             right: 15px;
//             top: -20px;
//         }
//     }
//     .notifications-title {
//         background-color: $gray-light;
//         color: #fff;
//         font-family: $font-family-sans-serif;
//         font-size: $font-size-small;
//         font-weight: $bold;
//         margin: 0;
//         padding: 10px;
//     }
//     .notifications-list {
//         background-color: #fff;
//         list-style: none;
//         height: auto;
//         max-height: 490px;
//         margin-bottom: 0;
//         overflow: auto;
//         padding: 0;
//         .notifications-item {
//             border-bottom: 1px solid rgba($gray-light,0.3);
//             font-size: 11px;
//             overflow: hidden;
//             padding: 10px;
//             &.not-read {
//                 background-color: rgba($gray-light,0.15);
//             }
//             a {
//                 font-weight: $bold;
//                 @include link-hover($gray-dark,$gray-dark,transparent,$gray-dark);
//             }
//             .icon {
//                 border-radius: 100%;
//                 display: block;
//                 float: left;
//                 height: 40px;
//                 width: 40px;
//                 img {
//                     border-radius: 100%;
//                     height: 40px;
//                     width: 40px;
//                 }
//             }
//             .info, .date {
//                 display: block;
//                 margin-left: 50px;
//             }
//             .date {
//                 color: $gray;
//             }
//         }
//     }
//     .see-more {
//         background-color: $gray-lighter;
//         box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.3);
//         color: $gray;
//         display: block;
//         font-size: 11px;
//         font-weight: $bold;
//         line-height: 11px;
//         padding: 5px;
//         text-align: center;
//         text-decoration: none;
//     }
// }
