.user-guidelines-header {
    background-color: $brand-primary;
    background: linear-gradient(225deg, $brand-tertiary 0%, $brand-primary 100%);
    color: white;
    padding-bottom: 10px;
    .btn {
        background-color: white;
        color: $brand-primary;
    }
    .ug-content {
        display: flex;
        align-items: center;
        padding-top: 10px;
        .title {
            text-transform: uppercase;
        }
    }
    .new-card-btn {
        margin: 5px 0 0 auto;
        order: 2;
        padding: 5px 10px;
    }
    @media (min-width: $screen-sm-min) {
        margin-top: -30px;
    }
}

.cards {
    .ug-info {
        padding-bottom: 10px;
    }
    .search-box {
        display: flex;
        align-content: center;
    }
    .filter-label {
        margin-top: 10px;
        text-transform: uppercase;
        color: $brand-tertiary;
    }
    &.container-fluid {
        background: rgba(#fff,0.5);
        padding: 15px;
        @media (min-width: $screen-sm-min) {
            padding: 0;
        }
    }
    .btn.new-practice, .btn.clean-filters {
        @include button-hover($brand-secondary, white, white, $brand-secondary);
        margin: 10px 0 0 30px;
    }
    .presentation {
        font-size: 16px;
        @media (min-width: $screen-sm-min) {
            font-size: 18px;
        }
        margin-bottom: 30px;
        b {
            color: $brand-secondary;
        }
    }
    .description {
      font-size: 16px;
      margin: 10px 0 20px;
    }
    .search-container {
        flex: 1;
        margin-right: 10px;
        position: relative;
    }
    .search-button {
        @include icon(before, search);
        border: 0;
        background: transparent;
        position: absolute;
        top: 7px;
        right: 20px;
        padding: 0;
    }
    .search-input {
        border: 1px solid #DDD;
        border-radius: 5px;
        box-shadow: none;
    }
    .search-suggestion {
        font-size: 14px;
        a {
            color: $gray;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .open-filters-options {
        color: $brand-secondary;
        cursor: pointer;
        font-size: 20px;
        &:before {
            font-size: 30px;
            float: left;
            padding-top: 5px;
        }
        &:after {
            display: inline-block;
            margin-left: 15px;
            max-width: 120px;
        }
        &.closed {
            @include icon(before, chevron-down);
        }
        &.opened {
            @include icon(before, chevron-up);
        }
    }
    .cards-filters-options {
        margin-top: 15px;
        .form-control {
            border: 1px solid #DDD;
            border-radius: 5px;
            box-shadow: none;
        }
        .form-group {
            margin-bottom: 0;
        }
    }
    .ui-select-multiple {
        height: auto;
        min-height: 34px;
        padding: 4px;
        input {
            border: 0;
        }
        .btn-default {
            @extend %forum-categories;
            color: #fff;
            .close {
                color: #fff;
                opacity: 1;
                font-size: 1.4em;
                line-height: 0.9em !important;
                text-shadow: 0;
                transition: color 0.5s ease;
            }
            &:hover, &:active, &:hover {
                .close {
                    color: #fff !important;
                }
            }
        }
    }
    .results-info-tags {
        margin-top: 10px;
        .tag {
            @include icon(after, times);
            border-color: $gray;
            color: $gray;
            margin-bottom: 5px;
            &:after {
                margin-left: 5px;
            }
            &:hover {
                background-color: $gray;
                color: #fff;
            }
            &.active {
                border-color: $brand-secondary;
                background-color: $brand-secondary;
                color: #fff;
            }
        }
    }

    .results-info-title {
        font-family: $font-family-sans-serif;
        font-size: 20px;
        margin: 20px 0 30px;

        b {
            color: $brand-secondary;
        }
    }

    .subtitle {
        font-family: $font-family-sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin: 5px 0 15px;

        span {
            color: $gray;
            font-size: 14px;
            font-weight: normal;
            margin-left: 10px;
            span {
                margin: 0;
            }
        }
    }

    .cards-pagination {
        margin-bottom: 15px;
        ul {
            margin: 0 0 0 20px;
            padding: 0;
            display: flex;
            align-items: center;
            list-style: none;
        }
        li {
            border-radius: 50%;
            color: #fff;
            height: 10px;
            width: 10px;
            & + li {
                margin-left: 10px;
            }
        }
        .prev-button {
            @include icon(after, chevron-left);
            &:after {
                margin-left: 6px;
            }
        }
        .next-button {
            @include icon(after, chevron-right);
            &:after {
                margin-left: 9px;
            }
        }
        .prev-button, .next-button {
            height: 25px;
            width: 25px;
            &:after {
                line-height: 25px;
                vertical-align: middle;
            }
        }
    }

    .card {
        background: #fff;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 15px;
        position: relative;
        overflow: hidden;
        .category {
            position: absolute;
            top: 15px;
            left: 15px;
        }
        .tags {
            float: right;
        }
        footer {
            position: absolute;
            bottom: 20px;
            right: 15px;
            left: 15px;
        }
    }
    .card-image {
        aspect-ratio: 16 / 9;
        background-position: center;
        background-size: cover;
        border-radius: 10px 10px 0 0;
        margin: -15px -15px 15px;
    }
    .card-title {
        font-size: 14px;
        margin: 2px 0 4px;
        max-height: 55px;
        overflow: hidden;
        a {
            color: $brand-tertiary;
        }
    }
    .card-axis {
        color: #4A4A4A;
        font-size: 12px;
    }
    .card-author {
        color: #4A4A4A;
        display: block;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .carousel {
        margin-bottom: 20px;
        .item {
            .text-center {
                background: rgba(255,255,255,0.5);
                /*
                position: relative;
                padding-bottom: 56.25%;
                padding-top: 25px;
                height: 0;
                */
            }
            iframe, img {
                aspect-ratio: 16 / 9;
                display: block;
                width: 100%;
            }
            img {
                object-fit: contain;
                background: linear-gradient(90deg, rgba(black, 0.2) 0%, transparent 20%, transparent 80%, rgba(black, 0.2) 100%);
            }
        }
        .carousel-control {
            background-image: none;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            opacity: 1;
            top: 50%;
            margin-top: -20px;
            &:active, &:focus, &:hover {
                transition: all 0.3s ease;
            }
            span {
                font-size: 20px;
                height: auto;
                width: auto;
            }
            &.left {
                margin-left: 20px;
                span {
                    @extend %icon-chevron-left;
                }
            }
            &.right {
                margin-right: 20px;
                span {
                    @extend %icon-chevron-right;
                }
            }
        }
        .carousel-indicators {
            display: none;
        }
    }

    .cards-list {
        margin: 30px 0 20px;
    }

    .load-more-position{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

    .pull-right {
        .btn + .btn {
            margin-left: 10px;
        }
    }

    .ui-select-multiple {
        .ui-select-choices {
            max-height: 300px;
            overflow-y: scroll;
        }
        .btn-default {
            @include button-hover($brand-secondary,#fff,transparent,$brand-secondary);
            border: 1px solid $brand-secondary !important;
            margin-bottom: 5px;
            .close {
                color: $brand-secondary;
            }
        }
    }

    .ui-select-choices-row {
        > span {
            cursor: pointer;
            display: block;
            padding: 3px 20px;
            clear: both;
            line-height: 1.5;
            color: #333;
            white-space: nowrap;
        }
        &.active {
            > span {
                color: #fff;
                text-decoration: none;
                outline: 0;
                background-color: #428bca;
            }
        }
    }
}

.praticas-certificadas {
    .btn.add {
        @include button-hover(#fff,#fff,$brand-secondary,darken($brand-secondary,10%));
    }
    .subtitle {
        color: $brand-secondary;
    }
    .cards-pagination {
        li {
            background-color: rgba($brand-secondary,0.3);
        }
        .prev-button, .next-button, .active {
            background-color: $brand-secondary;
        }
    }
    .card-axis, .card-author a {
        color: $brand-secondary;
    }
    .category, .tag, .action {
        color: $brand-secondary;
    }
    .category, .tag {
        border-color: $brand-secondary;
    }
    .category {
        border: 0;
        @include button-hover(#fff,$brand-secondary,$brand-secondary,#fff);
    }
    .tag {
        &:hover {
            background-color: $brand-secondary !important;
        }
    }
    a.action.liked {
        &:before, span {
            color: $brand-secondary !important;
            &:hover, &:focus, &:hover {
                border-color: $brand-secondary !important;
                color: $brand-secondary !important;
            }
        }
    }
    .carousel {
        .carousel-control {
            background-color: $brand-secondary;
            &:active, &:focus, &:hover {
                background-color: darken($brand-secondary,10%);
            }
        }
    }
    .hint-text {
        background-color: $brand-secondary;
    }
}

.praticas-independentes {
    .btn.add {
        @include button-hover(#fff,#fff,$brand-primary,darken($brand-primary,10%));
    }
    .subtitle {
        color: $brand-primary;
    }
    .ui-select-multiple {
        .btn-default {
            @include button-hover($brand-primary,#fff,transparent,$brand-primary);
            border: 1px solid $brand-primary !important;
            .close {
                color: $brand-primary;
            }
        }
    }
    .cards-pagination {
        li {
            background-color: rgba($brand-primary,0.3);
        }
        .prev-button, .next-button, .active {
            background-color: $brand-primary;
        }
    }
    .card-axis, .card-author a {
        color: $brand-primary;
    }
    .category, .tag, .action {
        color: $brand-primary;
    }

    .category, .tag {
        border-color: $brand-primary;
    }
    .category {
        border: 0;
        @include button-hover(#fff,$brand-primary,$brand-primary,#fff);
    }
    .carousel {
        .carousel-control {
            background-color: $brand-primary;
            &:active, &:focus, &:hover {
                background-color: darken($brand-primary,10%);
            }
        }
    }
    .hint-text {
        background-color: $brand-primary;
    }
}

.scroll-warning {
    @include icon(before, chevron-down);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    text-align: center;
    height: 30px;
	width: 340px;
	border-radius: 20px 20px 0 0;
    background-color: #4A4A4A;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -170px;
    &:before {
        margin-right: 5px;
    }
}

.not-found {
	color: #4A4A4A;
	font-family: "Open Sans";
    font-size: 20px;
    margin: 30px 0;
    b {
        color: $brand-secondary;
        font-weight: bold;
    }
}

.card-detail-page {
    max-width: 689px;
    margin: 20px;
    padding-top: 5px;
    .btn-info {
        color: white;
        background-color: #888888;
        margin-right: 10px;
    }
    .title {
        color: $brand-primary;
        padding: 0;
    }
    @media (min-width: $screen-sm-min) {
        margin: 0 auto;
    }
    .action.liked.active {
      &, & span {
        color: black !important;
      }
      &:before {
        color: $brand-danger !important;
      }
    }
}

.card-page {
    .subtitle-cards {
        text-transform: uppercase;
        margin: 30px 0 20px 0;
    }
    .widget-topbar {
        border-top: none;
        margin: -15px -15px 0px -15px !important;
        @media (min-width: $screen-sm-min) {
            margin: -30px -30px 0px -30px !important;
        }
        .line {
            border-bottom: 0;
            margin: 0 30px;
            .author {
                color: $gray;
                font-size: 12px;
                b {
                    font-size: 14px;
                }
            }
        }
        .title {
            color: $gray;
            a {
                color: $gray;
                &:hover, &:active, &:focus {
                    text-decoration: underline;
                }
            }
        }
    }
    .widget-bottombar {
        padding: 10px 0;
        position: absolute;
        left: 15px;
        right: 15px;
    }

    .card-page-header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .tags, .category {
            margin-top: 10px;
        }
    }
    .card-page-info {
        .author {
            color: $gray;
            font-size: 12px;
        }
        b {
            color: $gray;
        }
    }

    .actions {
        display: flex;
        align-items: baseline;
        margin-top: 10px;
        padding-bottom: 20px;
        .text {
            color: $gray;
            font-size: 12px;
        }
    }
    .page-title {
        color: #000;
        font-size: 48px;
        font-weight: bold;
        margin: 0 20px 0 0;
    }
    .user-icon {
        display: inline-block;
        float: none;
        margin: 0 10px;
    }
    .card-page-content {
        p, li {
            line-height: 1.5;
        }
        ol li {
            margin-bottom: 10px;
        }
        .title {
            color: #000;
            font-size: 36px;
            font-weight: bold;
            margin-top: 0;
        }
        .subtitle {
            color: $brand-primary;
            font-size: 20px;
            margin: 35px 0 5px;
        }
        .carousel {
            @media screen and (min-width: $screen-md-min) {
                width: 50%;
            }
            @media screen and (min-width: $screen-lg-min) {
                width: 65%;
            }
        }
        .author {
            font-family: $font-family-sans-serif;
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0 10px;
        }
        .actions {
            margin: 20px 0;
        }
        .float-right {
            @media screen and (min-width: $screen-md-min) {
                float: right;
                clear: both;
                margin-left: 20px;
            }
        }
        .reverse-on-small {
            @media screen and (max-width: $screen-md-min) {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        .card-aux-description{
            display: block;
            .no-padding {
                padding: 0px;
            }
        }
        .sidebar {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 100%;
            .box {
                background-color: #F5F5F5;
                margin-bottom: 40px;
                padding: 20px;
            }
            h5 {
                color: $brand-primary;
                font-family: $font-family-sans-serif;
                font-size: 20px;
                font-weight: bold;
                margin: 0 0 5px;
            }
            .documents-list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                .download-link {
                    color: #0A854A;
                    margin: 0;
                    padding: 0;
                    button {
                        color: white;
                    }
                }
            }
            .tags {
                margin-top: 10px;
                .tag {
                    color: $brand-primary;
                    border: 1px solid $brand-primary;
                }
            }
        }
    }
    &.praticas-independentes {
        .page-title, .action {
            color: $brand-primary;
        }
        .widget-bottombar {
            background-color: $brand-primary;
        }
    }
    &.praticas-certificadas {
        .page-title, .action {
            color: $brand-secondary;
        }
        .subtitle {
            color: $brand-secondary;
        }
        .sidebar {
            .box {
                background-color: $brand-secondary;
            }
            h5 {
                color: $brand-secondary;
            }
            .tag {
                border: 1px solid $brand-secondary;
                color: $brand-secondary;
                @include button-hover($brand-secondary,#fff,transparent,$brand-secondary);
            }
        }
        .widget-bottombar {
            background-color: $brand-secondary;
        }
        .widget-topbar {
            border-color: $brand-secondary;
        }
    }
}

.card-edit {
    position: relative;
    .goback {
        margin-top: 7px;
        padding: 0px !important;
    }
    .cards-filters-options {
        .form-group {
            margin-bottom: 20px;
        }
    }
    .editable-title {
        background: #fff;
        .title {
            font-size: 48px;
            line-height: 0.1;
        }
        .subtitle {
            color: #000;
            font-family: $font-family-serif;
            font-size: 36px;
            line-height: 0.1;
            margin: 0;
            &::-webkit-input-placeholder {
                color: #000;
            }
            &::-moz-placeholder {
                color: #000;
            }
            &:-ms-input-placeholder {
                color: #000;
            }
            &:-moz-placeholder {
                color: #000;
            }
        }
        .author {
            font-family: $font-family-sans-serif;
            font-size: 16px;
            margin: 0;
        }
    }
    .editable-text-box {
        background: #fff;
        margin-top: 15px;
    }
    .tipo-pratica {
        font-size: 14px;
        font-weight: bold;
        margin: 20px 0;
        padding: 0;
        &:before {
            border-radius: 100%;
            content: '';
            height: 15px;
            width: 15px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: sub;
        }
    }
    .subtitle + .editable-title, .editable-text-box + .editable-title {
        margin-top: 15px;
    }
    .card-page-content {
        padding-bottom: 20px;
    }
    .card-page-actions {
        margin: 10px 0;
    }
    footer.card-page-actions {
      background-color: #f7f7f7;
      padding: 10px 0;
    }
    .panel-heading {
        display: flex;
        .btn {
            display: block;
        }
        .btn + .btn {
            margin-left: 5px;
        }
    }
    .panel-default {
        margin-top: 15px;
        .question {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .editable-title {
                background: lighten($gray,60%);
                flex-grow: 0.9;
            }
        }
        .centered {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            h1 {
                margin: 0;
            }
            .btn {
                margin: 20px 0 0;
            }
        }
        @media (max-width: 399px) {
            .add-image + .add-video {
                margin-top: 10px;
            }
        }
        @media (min-width: 400px) {
            .add-image + .add-video {
                margin-left: 10px;
            }
        }
        .img-responsive, iframe {
            display: block;
            margin: 0 auto;
        }
        .btn.trash {
            display: block;
            margin: 15px auto 0;
        }
    }
    .mce-tinymce {
        margin: 15px 0;
    }
    .sidebar {
        width: 100% !important;
    }
    &.praticas-independentes {
        .editable-title {
            .title {
                color: $brand-primary;
                &::-webkit-input-placeholder {
                    color: $brand-primary;
                }
                &::-moz-placeholder {
                    color: $brand-primary;
                }
                &:-ms-input-placeholder {
                    color: $brand-primary;
                }
                &:-moz-placeholder {
                    color: $brand-primary;
                }
            }
        }
        .tipo-pratica {
            &:before {
                background: $brand-primary;
            }
        }
        .panel-default {
            h1, .fa {
                color: $brand-primary;
            }
        }
    }
    &.praticas-certificadas {
        .widget-topbar {
            background-color: $brand-secondary;
        }
        .editable-title {
            .title {
                color: $brand-secondary;
                &::-webkit-input-placeholder {
                    color: $brand-secondary;
                }
                &::-moz-placeholder {
                    color: $brand-secondary;
                }
                &:-ms-input-placeholder {
                    color: $brand-secondary;
                }
                &:-moz-placeholder {
                    color: $brand-secondary;
                }
            }
        }
        .tipo-pratica {
            &:before {
                background: $brand-secondary;
            }
        }
        .panel-default {
            h1, .fa {
                color: $brand-secondary;
            }
        }
    }
    @media (max-width: $screen-sm-min) {
        .help-gallery {
            margin-top: 30px;
        }
    }
}

.divider {
    height: 1px;
    width: 100%;
    margin: 10px 0;
    background-color: gray;
}

.hint-tooltip {
    margin-left: 5px;
    span {
        display: none;
    }
    &:hover, &:active {
        span {
            border-radius: 5px;
            color: white;
            display: block;
            font-family: $font-family-sans-serif;
            left: 0;
            line-height: 150%;
            margin-top: 10px;
            padding: 10px;
            position: absolute;
            z-index: 20;
        }
    }
}
