.certificate-container {
    display: flex;
    flex-direction: column;
    font-family: $font-family-sans-serif;
    justify-content: space-evenly;

    .certificate-header {
      align-items: flex-start;
      color: $brand-primary !important;
      display: flex;
      justify-content: center;
    }
    .certificate-title {
        color: $brand-secondary !important;
        font-weight: bold;
        font-size: 40px;
        margin: 0 auto;
        line-height: 1.2;
        @media (min-width: $screen-sm-min) {
            font-size: 70px;
        }
    }
    .certificate-info {
        p {
            font-size: 20px;

            strong {
                font-weight: inherit;
                font-size: 24px;
            }
        }
        .student, .certificate-course-name {
          font-size: 24px;
            margin: 10px 0 20px;
            text-transform: uppercase;
        }
    }
    .coordinator-section {
        color: $brand-secondary !important;
        max-width: 290px;
        img {
          max-width: 100%;
        }
      }
      .certificate-signature {
        width: 100%;
    }
    .certificate-logo {
        img {
            max-height: 80px;
            max-width: 100%;
        }
    }
}

