.classroom-intro {
    $maxWidthGrid: 900px;

    .classroom-intro-grid {
        display: grid;
        grid-column-gap: 40px;
        grid-template-columns: 3fr 2fr;

        @media screen and (max-width: $maxWidthGrid) {
            grid-row-gap: 10px;
            grid-template-columns: 1fr;
        }

        .classroom-event {
            margin-bottom: 15px;

            &--header {
                display: flex;
            }

            &--date {
                align-items: center;
                display: flex;
                flex: 1;

                i.fa {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }

            &--actions {
                margin-left: 5px;

                .btn {
                    margin-left: 5px;
                    padding: 0 5px;

                    &.btn-danger {
                        @include button-hover($brand-danger, white, white, $brand-danger);
                    }

                    &.btn-success {
                        @include button-hover($brand-success, white, white, $brand-success);
                    }
                }
            }

            &--body {
                border-left: 1px solid gray;
                margin-left: 10px;
                margin-top: 5px;
                padding: 5px 15px;
            }

            &--subject {
                font-family: inherit;
                font-weight: bold;
            }
        }

        .header-double {
            margin: 20px 0px 20px 0px;
            border-top: 1px solid $gray-light;
            border-spacing: 10px;
            border-radius: 3px;
            h3 {
              display: inline-block;
              margin: 0px;
            }
        }

        .classroom-intro-sidebar {
            grid-column: 2;
            grid-row: 1;

            img {
              max-width: 100%;
            }

            &--wrapper {
                background-color: $brand-light;
                border-radius: 0 0 5px 5px;
                padding: 20px;
                @media screen and (max-width: $maxWidthGrid) {
                    border-radius: 5px;
                }
            }

            @media screen and (max-width: $maxWidthGrid) {
                grid-column: 1;
                grid-row: 2;
            }

            .edit-classroom {
                margin-bottom: 40px;
            }

            .btn-large {
                border-radius: 60px;
                background-color: $brand-secondary;
                box-shadow: 0 5px 0 0 $brand-primary;
                color: white;
                font-size: 20px;
                line-height: 1;
                margin: 10px 0px 33px 0px;
                max-height: none;
                padding: 25px;
                width: 100%;
            }

            .editable-text-box {
                background-color: rgba(#ddd, 0.5);
            }
            .widget-topbar {
                background: $brand-secondary;
                .title{
                  color: white;
                  font-family: $headings-font-family;
                  font-size: 24px;
                  i.fa {
                    margin-right: 10px;
                  }
                }
                .notification-bubble {
                    background-color: white;
                    color: $brand-secondary;
                    background-color: white;
                    height: 22px;
                    line-height: 24px;
                    margin-left: 5px;
                    margin-bottom: 3px;
                    vertical-align: text-bottom;
                    width: 22px;
                }
            }
            .messages-widget {
                background: white;
            }
            .classroom-messages, .classroom-events {
                margin: 30px 0 15px;
            }
            .classroom-message {
                border-bottom: 1px solid #DDD;
                border-left: 3px solid $brand-secondary;
                color: inherit;
                display: flex;
                padding: 5px 5px 5px 15px;

                &.is-read {
                  border-left: 1px solid gray;
                  margin-left: 1px;
                  background-color: #EEE;
                }

                &--main {
                    flex: 1;
                }

                &--subject {
                    font-size: 1.25em;
                    font-weight: bold;
                }

                &--date {
                    font-size: 12px;
                    padding-left: 5px;
                    text-align: right;
                }
            }
        }

        .classroom-intro-details {
            grid-column: 1;
            grid-row: 1;

            @media screen and (max-width: $maxWidthGrid) {
                grid-row: 3;
            }
            &--wrapper {
                background-color: #84C9D4;
                border-radius: 0 0 5px 5px;
                @media screen and (max-width: $maxWidthGrid) {
                    border-radius: 5px;
                }
            }
        }
    }
  }

