.course-intro {
  $maxWidthGrid: 768px;

  .course-intro-grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 20px;

      @media screen and (max-width: $maxWidthGrid) {
        grid-template-columns: 1fr;
      }

      h3 {
        color: $brand-secondary;
        text-transform: uppercase;
      }

      .header-double {
          margin: 20px 0px 20px 0px;
          border-spacing: 10px;
          border-radius: 3px;
          h3 {
            display: inline-block;
            margin: 0px;
          }
      }
      .course-video {
          grid-column: 1;
          grid-row: 1;
          width: 100%;
      }
      .language-list {
          margin: 30px 0;
      }
      .description-content {
          margin-bottom: 30px;
      }
      .course-intro-sidebar {
          grid-column: 2;
          grid-row: 1;

          &--wrapper {
              background-color: #ACB4B887;
              border-radius: 0 0 5px 5px;
              margin-top: 10px;
              padding: 1px 15px 30px 15px;
              min-height: 95%;
              @media screen and (max-width: $maxWidthGrid) {
                  border-radius: 5px;
                  background-color: white !important;
              }
          }

          @media screen and (max-width: $maxWidthGrid) {
              grid-column: 1;
              grid-row: 2;
          }

          .btn-large-rounded {
            background-color: $brand-success;
            border-radius: 60px;
            color: white;
            font-size: 20px;
            line-height: 1;
            margin: 10px 0px 33px 0px;
            max-height: none;
            padding: 25px;
            width: 100%;
          }

          .editable-text-box {
              background-color: rgba(#ddd, 0.5);
          }
          .active-language {
            background-color: $brand-secondary;
          }
      }

      .instructor-photo {
        width: 100%;

        .img-thumbnail {
          border: none;
          border-radius: 50%;
          height: 40px;
          object-fit: cover;
          padding: 0;
          width: 40px;
        }
      }

      .course-intro-details {
          background-color: white;
          background-image: url('/static/img/compass-left.svg');
          background-position: center left;
          background-repeat: no-repeat;
          grid-column: 1;
          grid-row: 1;
          padding: 0 15px;

          @media screen and (max-width: $maxWidthGrid) {
              grid-row: 3;
          }
      }

      .lesson-list {
        grid-column: 1;
        grid-row: 2;
        width: 100%;
        @media screen and (max-width: $maxWidthGrid) {
            grid-row: 4;
        }
      }
      .lesson-list-course {
        background-color: #EBBE82D9;
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100% !important;
        padding: 5px 10px;
        @media screen and (max-width: $maxWidthGrid) {
            grid-row: 4;
        }

        & > .lesson-list-course {
            background-color: transparent;
        }
      }
      .label-scheduled {
          padding: 8px;
          background-color: white;
          color: #9A345C;
          box-sizing: border-box;
          height: 23px;
          width: 98px;
          border: 1px solid #9A345C;
          border-radius: 10px;
          white-space: nowrap;
      }
      .lesson-title {
          @media screen and (max-width: $maxWidthGrid) {
             padding-bottom: 10px;
          }
      }
  }
}
