// Shared course header
// --------------------------------------------------

.main-header {

    .course-details {
        display: none;
    }
    .lesson-units {
        .lesson-list-dropdown {
            .dropdown-menu {
                border-top-color: darken($brand-secondary, 10%);
                li, li:nth-child(even) {
                    a {
                        @include button-hover($text-color, white, lighten($brand-secondary, 30%), $brand-secondary);
                    }
                }
            }
        }
    }
    .btn-group {
        margin-bottom: 20px;
        .btn {
            background-color: $orange;
            border: 1px solid darken($orange, 10%) !important;
        }
        .btn:first-child {
            border-right: 0 !important;
        }
        .btn:nth-child(2) {
            border-left: 0 !important;
        }
    }
    .chapters {
        .input-style {
            color: black;
            height: 30px;
            border-radius: 5px;
            padding: 10px;
        }
    }
    .release-settings {
        color: #333;
    }
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

.course-intro {
    .course-content {
        .course-info {
            .column {
                background-color: rgba($orange,0.4);
                &:last-child {
                    background-color: rgba($green,0.4);
                }
            }
        }
    }
}

// Course units navigation
// -----------------------------------------------------

.course {
  .units {
      .unit {
          &.current {
              span {
                  border-color: $brand-primary;
              }
          }
      }
  }
}

// Course notes
// -----------------------------------------------------

.student-notes {
    .button-show {
        color: lighten($brand-secondary, 20%);
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

.course-content {
    a {
        color: #0A854A;
    }
    .page-header {
        h3 {
            color: $brand-tertiary;
        }
    }
    .next-lesson {
        background-color: rgba(#fff,0.3);
    }
}
