// Courses' page
// --------------------------------------------------

//## Course box used on course widget on dashboard and course list page
//##
.course-box {
    .progress-bar {
        background-color: $brand-secondary;
    }

    .see-report {
        @include button-hover($brand-secondary, darken($gray-lighter,15%), darken($gray-lighter,15%), $brand-secondary);
        display: inline-block;
        font-weight: $bold;
        margin: 5px 0;
        padding: 5px 20px;
        text-transform: lowercase;
    }
}
