// Courses' page
// --------------------------------------------------

.courses-page {
    background-color: white;
    background-image: url('/static/img/compass-right.svg');
    background-position: center right;
    background-repeat: no-repeat;

    .course-filters {
        ul {
            background-color: rgba($orange,0.8);
            li {
                &:hover, &.selected {
                    background-color: $orange;
                    font-weight: $semi-bold;
                }
            }
        }
    }
}
