// Activities
.course-activity {
    background-color: rgba(#fff,0.3);

    .question {
        h1 {
            color: #000;
        }
    }
}


.open-activity {
    margin-bottom: 30px;
    .topbar {
        color: #fff;
        height: 40px;
        margin: -30px -30px 0;
        padding: 10px;
        @media screen and (min-width: $screen-sm-min) {
            margin: 0;
        }
        text-align: right;
        a {
            &:first-child {
                margin-right: 8px;
            }
            &:last-child {
                margin-left: 8px;
            }
        }
    }
    .title {
        color: #000;
        font-size: 30px;
    }
    .intro {
        color: #000;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .action {
        &.liked, &.used, &.replies {
            &.active {
                color: $red;
                &:before {
                    color: $red;
                }
            }
        }
    }
    a.action {
        &.liked, &.used, &.replies {
            color: $gray;
            &:hover {
                color: $red;
            }
            span {
                @include link-hover($gray,$red,transparent,$red);
            }
            &.active {
                span {
                    @include link-hover($red,$red,transparent,$red);
                }
            }
        }
    }
    .user-activity {
        .title {
            color: #000;
            font-family: $font-family-sans-serif;
            font-size: 20px;
            font-weight: $semi-bold;
        }
    }
    &.closed {
        .topbar {
            background-color: rgba($orange,0.2);
        }
        .message {
            margin: 20px auto 0;
            max-width: 760px;
            text-align: center;
            h3 {
                color: $orange;
                font-size: 36px;
                font-weight: bold;
                margin: 0 auto 20px;
                max-width: 400px;
            }
            p {
                color: #000;
                font-size: 16px;
            }
            .btn {
                margin-top: 30px;
            }
        }
    }
}
.all-activity {
    background-color: rgba($gray,0.15);
    margin: 30px -30px -30px;
    padding: 30px;

    .title {
        color: #000;
        font-size: 30px;
        margin: 0;
    }
    table {
        border-top: 2px solid $gray;
        margin-top: 20px;
        thead {
            th {
                padding: 7px 0;
            }
        }
        .action {
            &.liked, &.used, &.replies {
                color: $red;
                &:before {
                    color: $red;
                }
            }
        }
        a.action {
            &.liked, &.used, &.replies {
                color: $gray;
                &:hover {
                    color: $red;
                }
                span {
                    @include link-hover($gray,$red,transparent,$red);
                }
                &.active {
                    span {
                        @include link-hover($red,$red,transparent,$red);
                    }
                }
            }
        }
    }
}
