// Fonts
// --------------------------------------------------

//== Neuton

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton/neuton-bold-webfont.woff') format('woff'),
         url('../fonts/neuton/neuton-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton/neuton-extrabold-webfont.woff') format('woff'),
         url('../fonts/neuton/neuton-extrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

//== Cabin
@font-face {
  font-family: 'Cabin 500';
  font-weight: 500;
  src: url('../fonts/cabin/Cabin-Regular.ttf') format('truetype');
}

@font-face {
     font-family: 'Cabin 700';
     font-weight: 700;
     src: url('../fonts/cabin/Cabin-Bold.ttf') format('truetype');
}
