.home-spa {
  position: relative;
  top: 60px;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    margin-bottom: 80px;
    top: 80px;
  }

  .logged & {
    top: 0;

    @media (min-width: 768px) {
      top: -30px;
    }
  }

  a.btn {
    font-size: 18px;
    padding-inline: 1.5em;
  }

  &__hero {
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/banner-home.png');
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 50vh;
    padding: 60px 20px 60px;
    width: 100%;

    @media screen and (min-width: 500px) {
      min-height: 40vh;
    }

    &-content {
      margin: 0 auto;
      max-width: 100%;
      width: 1280px;
    }
  }

  &__intro {
    padding: 0 20px;

    @media screen and (min-width: 800px) {
      width: 50%;
      max-width: 550px;
    }

    p {
      color: white;
      font-size: 32px;
      font-weight: bold;
    }

    a.btn {
      background-color: $orange;
      margin-top: 6px;
      text-transform: initial;
    }
  }

  &__video-box {
    background-color: white;
    background-image: url('/static/img/compass-left.svg');
    background-position: center left;
    background-repeat: no-repeat;
    display: grid;
    width: 100%;

    & > .row {
      display: flex;
      gap: 30px;
      margin: 40px auto;
      max-width: 1280px;

      @media screen and (max-width: 978px) {
        padding-inline: 20px;
        flex-wrap: wrap;
      }
    }
  }

  &__video {
    background-color: white;
    box-shadow: 0px 1px 17px 3px rgba(0, 0, 0, 0.2);
    height: fit-content;
    padding: 15px;

    iframe {
      aspect-ratio: 16 / 9;
      background-color: black;
      height: 330px;
    }

    @media screen and (max-width: 978px) {
      width: 100%;

      iframe {
        height: auto;
        width: 100%;
      }
    }
  }

  &__video-explainer {

    h2 {
      color: $brand-secondary;
      font-size: 22px;
      text-transform: uppercase;
    }

    p {
      font-size: 16px;
      margin-block: 16px;
    }

    a.btn {
      background-color: $brand-success;
    }
  }

  &__newsletter {
      background-color: $orange;
      padding: 60px 20px;

      & > .row {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        max-width: 1280px;
        width: 100%;
      }

      h2 {
        color: $brand-secondary;
        font-size: 22px;
        text-transform: uppercase;
      }

      form {
        align-items: center;
        background-color: white;
        border-radius: 40px;
        display: flex;
        flex: 1;
        gap: 10px;
        justify-content: space-between;
        padding: 10px 20px;
        position: relative;
        width: 100%;

        input {
          border: none;
          color: #333;
          flex: 1;
          font-size: 18px;
          margin-left: 10px;
        }

        button.btn {
          align-items: center;
          background-color: $brand-success;
          color: white;
          display: flex !important;
          font-size: 18px;
          justify-content: center;
          line-height: 1;
          min-width: initial !important;
          margin: 0 !important;
          padding: 1em 2em;
        }
      }
  }
}
