// Login and register page styles
// --------------------------------------------------

// ## Common styles
//
.anonymous {
    .flatpage-page {
        margin-top: 80px;
        @media screen and (min-width: $screen-sm-min) {
            margin-top: 100px;
        }
    }
    .wrapper {
        form { // common form styles
            color: #fff;
            legend {
                color: $brand-primary;
                border-bottom: 0;
                font-family: $headings-font-family;
                font-size: 40px;
                line-height: 100%;
                margin: 20px 0;
                text-align: center;
                @media screen and (min-width: $screen-sm-min) {
                    font-size: 36px;
                }
            }
            .form-group {
                margin: 0 auto 15px;
                max-width: 280px;
                &.form-group-checkbox {
                  display: flex;
                  input {
                    display: inline-block;
                    margin-right: 1ch;
                  }
                }
                &.has-error {
                    .form-control {
                        border: 1px solid $red;
                    }
                    .help-block {
                        color: $red;
                        padding-left: 35px;
                    }
                }
                .warning-mark {
                    color: red;
                }
                .info-mark {
                    color: gray;
                }
                @media screen and (min-width: $screen-sm-min) {
                    max-width: 330px;
                }
            }
            .form-control {
                background-color: #ACB4B887;
                border: none;
                border-radius: 20px;
                box-shadow: none;

                &:hover, &:focus, &:active {
                    border: 1px solid darken($brand-primary, 10%);
                }
            }
            .checkbox {
                margin: 10px 15px 15px;
                padding: 0;
                a {
                    @include link-hover(#fff,#fff,#fff,transparent);
                }
            }
            .btn {
                color: #fff;
                display: block;
                font-size: $font-size-large;
                font-weight: $semi-bold;
                margin: 0 auto;
                min-width: 280px;
                max-width: 280px;
                transition: all 0.5s ease;
                &:hover {
                    color: #fff;
                }
                @media screen and (min-width: $screen-sm-min) {
                    min-width: 330px;
                    min-width: 330px;
                }
            }
            .btn-submit {
                @include button-hover(white, white, $brand-primary, darken($brand-primary, 10%));
                border-radius: 6px;
            }
            .info {
                color: #fff;
                margin: 10px 0 0;
                font-size: $font-size-base;
                font-weight: $semi-bold;
                text-align: center;

                a {
                    @include link-hover($brand-primary, $brand-primary, $brand-primary, transparent);
                }
            }
        }

        .login-form { // this is used on home and login page

            .recovery-link {
              font-size: $font-size-small;
              margin-top: 5px;
              text-align: right;

              a {
                @include link-hover($brand-primary, $brand-primary, $brand-primary, transparent);
              }
            }

            .checkbox {
                margin: 15px;
                text-align: center;
                label {
                    color: #fff;
                    font-weight: $semi-bold;
                }
            }
        }

        .register-form {
            margin: 0 auto;
            max-width: 340px;
            .form-group {
                .fa {
                    display: inline-block;
                    font-size: 20px;
                    text-align: center;
                    width: 30px;
                }
                input {
                    display: inline-block;
                    box-sizing: border-box;
                }
            }
            .group-cpf {
                position: relative;
                input {
                    &:focus, &:active {
                        + .help-cpf {
                            display: block;
                        }
                    }
                }
            }
            .help-cpf {
                background-color: $orange;
                color: #fff;
                display: none;
                font-size: $font-size-base;
                font-weight: bold;
                max-width: 240px;
                padding: 25px;
                position: absolute;
                transform: translate3d(130%,-55%,0);
                &:before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 20px 25px 20px 0;
                    border-color: transparent $orange transparent transparent;
                    position: absolute;
                    transform: translate3d(-200%,50%,0);
                }
            }
            .checkbox {
                padding: 0 0 0 5px;
            }
            .btn-submit {
                margin-bottom: 15px;
            }
        }

        .forgot-pass-form {
            margin: 0 auto;
            .form-group, .checkbox {
                max-width: 340px;
            }
            label {
                font-weight: normal;
                margin-bottom: 15px;
                text-align: center;
            }
            .btn-submit {
                margin-bottom: 15px;
                max-width: 340px;
                width: 100%;
                @media screen and (min-width: $screen-xs-min) {
                    width: 340px;
                }
            }
        }

        .alert { // common alert styles
            border: 0;
            border-radius: 0;
            color: #fff;
            font-weight: $bold;
            margin: -20px -20px 20px;
            text-align: center;
            @media screen and (min-width: 947px) {
                margin: -40px -40px 40px;
            }

            &.alert-danger {
                background-color: $red;
            }
        }

        .message {
            color: #fff;
            margin: 0 auto;
            max-width: 500px;
            text-align: center;
            h2 {
                font-weight: $extra-bold;
            }
            h2, h3 {
                font-family: $font-family-sans-serif;
            }
            p {
                display: inline-block;
            }
        }
    }
}

.register-page, .login-page {
    box-sizing: border-box;
    padding: 0 20px;
    @media screen and (min-width: 947px) {
        padding: 0 40px;
    }
    .login-form {
        .checkbox {
            margin: 30px 0 !important;
        }
    }
    a {
        @include link-hover($brand-tertiary,$brand-tertiary,#fff,transparent);
    }
}

.login-page {
    .login-form {
        .checkbox {
            margin: 30px 0 !important;
        }
    }
}

.register-page {
    background-color: white;
}
