.messages {
    .page {
        background-color: transparent;
    }
}

.messages-list {
    h2 {
      font-size: 20px;
    }

    .title-header {
        .btn {
            &.hide-all, &.show-all {
                @include link-hover($red,darken($red,5%),$red,darken($red,5%));
            }
        }
    }
    .message {
        &.unread {
            .message-body {
                .see-more {
                    @include button-hover(#fff, #fff, $brand-success, darken($brand-success, 5%));
                }
            }
        }
    }
}
