.site-footer {
  background-color: white;
  margin-top: 20px;

  @media print {
    display: none;
  }

  body.logged & {

    @media screen and (min-width: $screen-xs-min) {
      left: 120px;
      position: relative;
      width: calc(100% - 120px);
    }
  }

  h2 {
    color: $brand-secondary;
    font-size: 22px;
    margin-top: 0;
  }

  &__row {
    align-items: end;
    border-top: 1px solid #EEE;
    display: flex;
    gap: 20px 40px;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 40px 20px 70px;
    width: 100%;

    @media screen and (min-width: $screen-xs-min) {
      padding-bottom: 40px;
    }
  }

  &__column {

    &:nth-child(2) {
      align-self: flex-start;
      flex: 1;

      @media screen and (max-width: 1150px) {
        width: 100%;
      }
    }

    &:nth-child(3) {
      text-align: end;
    }
  }

  &__logo {
    img {
      height: 80px;
    }
  }

  &__privacy {
    margin-top: 12px;

    a {
      color: inherit;
    }
  }

  &__supporters-logos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    width: 100%;

    a {
      flex: 1;
    }

    img {
      max-height: 80px;
    }
  }

  &__social-menu {
    align-items: center;
    display: inline-flex;
    gap: 4px;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    img {
      height: 32px;
    }
  }

  &__by-hacklab {
    color: inherit;
    margin-top: 10px;

    strong {
      color: black;

      span {
        color: red;
      }
    }
  }

  @media screen and (max-width: 1150px) {

    &__row {
      align-items: center;
      flex-direction: column;
      gap: 20px;
    }

    &__column {
      text-align: center !important;
    }
  }
}
