// Widget's common styles
// --------------------------------------------------

.widget {
  background-color: $brand-light;
  margin-bottom: 65px;
}

.widget-topbar {

    &.breadcrumb {
        border-color: $red;
        .line {
            border-color: $red;
            color: $red;
            .btn.goback {
                @include link-hover($red,$red,$red,transparent);
            }
        }
    }
}

.section-title {
    color: $brand-tertiary;
    a {
        color: $brand-tertiary;
    }
}
.forum-title {
    font-size: 14px !important;
    margin: 20px 0 !important;
}

// Courses widget
// --------------------------------------------------

.courses-widget {

    .widget-header {
        margin-bottom: 30px;
    }
    .widget-filter {
        label {
            color: $orange;
        }
        .form-control {
            color: $orange;
            &:focus {
                border-color: $orange;
            }
        }
    }

    .all-courses {
        .btn {
            @include button-hover(#fff,#fff,$red,darken($red,10%));
        }
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {

    .widget-filter {
        &:after {
            color: $brand-primary;
        }
        .form-control {
            background-color: #ACB4B887;
            color: #333333;
            box-sizing: border-box;
            height: 40px;
            border: 1px solid #DDDDDD;
            border-radius: 20px;
            @media screen and (min-width: $screen-md-min) {
                display: inline-block;
            }
            @media screen and (max-width: $screen-xs-max) {
                display: inline-block;
            }
        }
        .form-tags {
            margin-right: 15px;
            @media screen and (max-width: $screen-xs-max) {
                margin-right: 0px !important;
            }
        }
    }

    .forum-update {
        background-color: $red;
    }
    .forum-search {
        text-align: center;
        display: inline-block;

        @media screen and (min-width: $screen-md-min) {
            float: left;
        }
    }
    .search-tags {
        display: inline-block;
        margin-top: 20px;
        text-align: left;

    }
}
