.courses-list {
    .line {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .header {
        border-bottom: 1px solid #000;
        margin-bottom: 6px;
        padding: 6px 0;
        .course-title {
            color: #000;
            font-size: 16px;
            margin: 0;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 20px;
            }
            @media screen and (min-width: $screen-md-min) {
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
}