// Page's headers
// --------------------------------------------------
.distance-header-title {
    margin-top: 0px !important;
}

.page-header {
    border: 0;
    margin: -40px -20px 0;
    padding: 10px 20px 0px 20px;

    h1, h2, h3, h4, h5, h6 {
        color: $brand-secondary;
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .description {
        margin-top: 30px;

        @media screen and (max-width: 425px) {
            margin: 20px 0px;
        }
    }

    .page-subheader-text {
        margin: 10px 10px 0 0;
    }

    .btn {
        @include button-hover(white, white, $brand-secondary, darken($brand-secondary, 5%));
    }
    &.capslock {
        text-transform: uppercase;
    }
}

.message-subtitle {
    color: #333333;
    font-family: 'Cabin 500';
    font-size: 12px !important;

    @media screen and (max-width: $screen-xs-max) {

        &.pull-right {
            display: none;
        }
    }
}

.page-subtitle {
    color: $brand-secondary;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 14px;
    margin: 20px 0 5px 0;
}

// Secondary page's headers
// --------------------------------------------------

.primary-page-header {
    border: 0;
    margin: 20px 0 10px;
    padding: 0;
    &:first-child, &.first {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-size: 5vmax;
        font-weight: bold;
        line-height: 0.9;
        margin: 0;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 36px;
            line-height: 1;
        }
    }
}

.secondary-page-header {
    border: 0;
    margin: 20px 0 10px;
    padding: 0;
    &:first-child, &.first {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, h6 {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: 3vmax;
        font-weight: bold;
        line-height: 1.2;
        margin: 0;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 20px;
        }
    }
}
