.star-rating {
  background-clip: text;
  font-size: 1.5em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  &__wrapper {
    align-items: center;
    display: flex;
    gap: 1ch;
  }
}
