.table {
    margin-bottom: 30px;
    width: 100%;
    thead {
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
        th {
            font-size: $font-size-small;
            font-weight: normal;
            color: $gray;
            padding: 0 0 5px !important;
            font-family: 'Open Sans';

            &:first-child {
                padding-left: 15px !important;
            }
        }
    }
    tbody {
        td {
            padding: 10px 0 !important;
            vertical-align: middle !important;
            @media screen and (max-width: $screen-sm-max) {
                display: block;
                float: left;
                padding: 10px 15px !important;
            }
            &:first-child {
                padding-left: 15px !important;
                @media screen and (max-width: $screen-sm-max) {
                    clear: both;
                    display: block;
                    width: 100%;
                }
                @media screen and (min-width: $screen-md-min) {
                    width: 100px;
                }
            }
            &.td-load {
                text-align: center;
                padding: 0 !important;
                margin: 10px 0;
            }
            &.td-line {
                float:none;
                display:table-cell;
            }
        }
    }
    &.table-striped {
        tbody {
            tr {
                border-bottom: 2px solid #DDD;
                .messages-items {
                    cursor: pointer;
                    border-left: 1px solid #DDD;
                    background-color: $gray-secondary;
                }
                &.new {
                    cursor: pointer;
                    background-color: white;
                    border-left: 3px solid $brand-secondary;
                }
            }
        }
    }
}
