{% load i18n %}
    <header class="main-header">
        <div class="container-fluid">
            <!-- ROW -->
            <div class="row">
                {% if course_intro_admin %}
                <div class="col-md-8">
                    <div class="help-text"><span translate>Edit the course name and link below</span> </div>
                    <div class="editable-title"><input type="text" ng-model="course.name"
                        {% verbatim %}placeholder="{{'Course name' | translate}}"{% endverbatim %}></div>
                    <div class="course-slug clearfix">
                      <label>http://{{ site.domain }}/course/</label>
                      {% verbatim %}
                      <div class="editable-slug"><input type="text" ng-model="course.slug" placeholder="{{course.name|slugify}}"></div>
                      {% endverbatim %}
                    </div>
                </div>
                {% else %}
                <div class="col-md-8">
                    {% if hide_editable_fields %}
                        <h2 class="course-title" translate>Course</h2>
                    {% endif%}
                    <h4>{{ course.name }}</h4>
                    {% include "_course-details-inline.html" with course=course %}
                    {% if not hide_editable_fields %}
                        <div class="editable-title"><input type="text" ng-model="lesson.name"
                            {% verbatim %}placeholder="{{'Module name' | translate}}"{% endverbatim %}></div>
                        <div class="editable-secondary-title"><input type="text" ng-model="lesson.desc"
                            {% verbatim %}placeholder="{{'Description name' | translate}}"{% endverbatim %}></div>
                    {% endif%}

                    {% verbatim %}
                    <nav class="chapters" ng-show="lesson.name">
                        <h5>
                            Current module:
                        </h5>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm"><span ng-bind="lesson.name"></span>&nbsp;</button>
                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="l in lessons">
                                    <a href="" ng-bind="l.name" ng-click="setLesson(l.id)"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    {% endverbatim %}
                    {% if not hide_editable_fields %}
                    {% verbatim %}
                    <nav class="release-settings">
                        <div>
                            <h5>Module status:</h5>
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm"><span ng-bind="lesson.status"></span>&nbsp;</button>
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="status_option in status_options">
                                        <a ng-bind="status_option" ng-click="setModuleStatus(status_option)"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div ng-if="lesson.status === 'draft'">

                            <h5 translate>Scheduling</h5>
                            <p>
                                <label>
                                    <input type="checkbox" ng-model="schedule.lesson.schedule">
                                    <span translate>Schedule this lesson to be sent later</span>
                                </label>
                            </p>

                            <div class="form-group" ng-if="schedule.lesson.schedule">
                                <h5 translate>This lesson will be sent at: </h5>
                                <input moment-picker="schedule.lesson.release_date"
                                    class="form-control"
                                    placeholder="{{'Select a date and time...' | translate}}"
                                    format="LL H:[00] | [GMT] Z"
                                    min-view="month"
                                    max-view="day"
                                    set-on-select="true"
                                    min-date="schedule.now"
                                    ng-model='lesson.release_date'>

                                <span translate>The timezone was detected from your browser</span>
                            </div>
                        </div>
                    </nav>
                    {% endverbatim %}
                    {% endif%}
                </div>
                {% endif %}
                <div class="col-xs-12 col-md-4">
                    <!-- COURSE-SECTION-NAV -->
                    <nav class="course-sections admin-menu">
                        <a ng-href="{% url 'courses_legacy:administration.edit_course' course.id %}"
                           class="intro {% if course_intro_admin %}active{% endif %}" translate>Home</a>
                        <a ng-href="{% url 'courses_legacy:administration.course_material' course.id %}"
                            class="materials {% if '/material/' in request.path %}active{% endif %}"><span translate>Materials</span></a>
                        {# <a ng-href="{% url 'courses_legacy:administration.forum' course.id %}" #}
                        {#   class="forum{% if '/forum/' in request.path %} active{% endif %}" translate>Forum</a> #}
                        <div class="dropdown">
                            <a class="tools course-tools dropdown-toggle{% if '/messages/' in request.path or '/message/' in request.path or '/reports/' in request.path or '/permissions/' in request.path %} active{% endif %}"
                               data-original-title="Ferramentas"                              id="course-tools" data-toggle="dropdown" aria-expanded="true" translate>Options</a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'courses_legacy:administration.messages' course.id %}#!/messages" translate>Messages</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1"  ng-href="{% url 'courses_legacy:administration.reports' course.id %}" translate>Reports</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'courses_legacy:course.permissions' course.id %}" translate>Permissions</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" ng-href="{% url 'courses_legacy:course.certificate-templates' course.id %}"translate>Certificate</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="{% url 'courses_legacy:classes' course.slug %}" translate>Classes</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- END COURSE-SECTION-NAV -->
                </div>
            </div>
            <!-- END ROW -->
        </div>

    </header>
    <!-- MAIN-HEADER -->

    {% if not course_intro_admin %}
    <!-- UNITS NAVIGATION FOR TABLET AND DESKTOP -->
    <div class="lesson-units-nav hidden-xs">
        <div ng-show="lesson.name" class="line"></div>
        <div class="container-fluid" ng-show="lesson.name">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="units">
                <span class="units-title" translate>Units</span>
                {% verbatim %}
                <a href="" class="unit" ng-repeat="u in lesson.units"
                   title="{{u.title}}"
                   ng-click="selectUnit(u)"
                   ng-class="{current: currentUnit == u}">
                   <span ng-bind="$index + 1"></span>
               </a>
                {% endverbatim %}
                <a href="" class="add-unit unit" ng-click="addUnit()"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>
    {% endif %}
