{% load i18n %}
<div>
    <div class="certificate-container certificate">
        <div class="certificate-header">
          <div>
            <div class="certificate-title" translate>Receipt</div>
          </div>
        </div>
        <div class="certificate-info">
          <p>{{ cert_template.organization_name | safe | default_if_none:"" }}</p>
          <div class="student">{{ object.course_student.user.get_full_name | default_if_none:"" }}</div>
          <p>concluiu a formação</p>
          <div class="certificate-course-name">{{ object.course.name | default_if_none:"" }}</div>
          <p>{{ cert_template.text | safe | default_if_none:"" }}</p>
        </div>
        <footer>
          <table class="certificate-signatures">
            <tr>
              <td>
                {% if cert_template.signature_url %}
                <div class="certificate-signature">
                    <img alt="Instituto Global Attitude" src="{{ cert_template.signature_url }}">
                </div>
                {% endif %}
              </td>
              <td>
                {% if cert_template.second_signature_url %}
                <div class="certificate-signature">
                    <img alt="Meu Primeiro Trampo" src="{{ cert_template.second_signature_url }}">
                </div>
                {% endif %}
              </td>
            </tr>
          </table>
      </footer>
    </div>
</div>
