{% verbatim %}
<footer class="site-footer">
  <div class="site-footer__row">
    <div class="site-footer__column">
      <a class="site-footer__logo" href="#">
        <img src="/static/img/logo-color.png" alt="Meu Primeiro Trampo">
      </a>
      <p class="site-footer__privacy">
        <a href="#">Conheça nossa política de privacidade</a>
      </p>
    </div>
    <div class="site-footer__column">
      <div class="site-footer__supporters-logos">
        <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/direitos_humanos/participacao_social/conselhos_e_orgaos_colegiados/cmdca/">
          <img src="/static/img/apoio-cmdca.png" alt="Conselho Municipal dos Direitos da Criança e do Adolescente (CMDCA)">
        </a>
        <a href="https://www.prefeitura.sp.gov.br/cidade/secretarias/direitos_humanos/">
          <img src="/static/img/apoio-secretariadhc.png" alt="Secretaria Municipal de Direitos Humanos e Cidadania">
        </a>
        <a href="https://www.capital.sp.gov.br/">
          <img src="/static/img/apoio-prefeitura.png" alt="Prefeitura da Cidade de São Paulo">
        </a>
      </div>
    </div>
    <div class="site-footer__column">
      <h2>Nossas redes sociais</h2>
      <ul class="site-footer__social-menu">
        <li>
          <a href="https://www.facebook.com/global.attitude.org/">
            <img src="/static/img/social/facebook.svg" alt="Facebook">
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/globalattitude">
            <img src="/static/img/social/instagram.svg" alt="Instagram">
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/global-attitude/">
            <img src="/static/img/social/linkedin.svg" alt="LinkedIn">
          </a>
        </li>
        <li>
          <a href="https://twitter.com/global_attitude">
            <img src="/static/img/social/x.svg" alt="X">
          </a>
        </li>
      </ul>
      <p class="site-footer__by-hacklab">
        por <strong>hacklab<span>/</span></strong>
      </p>
    </div>
  </div>
</footer>
{% endverbatim %}
