<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
{% load compress %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.png' %}"/>

    {% if site.google_analtycis_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analtycis_code}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analtycis_code}}');
    </script>
    {% endif %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/ui-select@0.20/dist/select.min.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" integrity="sha512-04BoiZDKe+eOvj+J105JtXWUn8XHNWujY0qV9WqIUPlJVUuumKHn2Sgz4/g3LLKCfSJo6tBuHDR/oVAEfOupxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% compress css %}
            <link rel='stylesheet' href="{% static 'scss-mpt/main.scss' %}" type='text/x-scss' media='screen,projection,print' />
        {% endcompress %}

    {% endblock %}

    <script>
        window.BASE_API_URL = '/legacy/api';
        window.COURSES_BASE_API_URL = '/api';
        window.STATIC_URL = '{{ STATIC_URL }}';
        window.API_URL = '/api'
        window.MEDIA_URL = '{{ MEDIA_URL }}';
        window.DEBUG = '{{ DEBUG }}';
        window.YOUTUBE_API_KEY = '{{ site.YOUTUBE_API_KEY }}';
        window.USER_ID = '{{ user.id }}';

        window.addEventListener('load', function onLoadStartObserver() {
            var observer = new MutationObserver(function() {
                window.parent.postMessage('FrameResize', '*');
            });
            observer.observe(window.document.body, { attributes: true, characterData: true, childList: true, subtree: true });
        });
    </script>

    <!-- All -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://unpkg.com/jquery@1.12/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://unpkg.com/angular@1.8/angular.min.js"></script>
    <script src="https://unpkg.com/angular-animate@1.8/angular-animate.min.js"></script>
    <script src="https://unpkg.com/angular-resource@1.8/angular-resource.min.js"></script>
    <script src="https://unpkg.com/angular-route@1.8/angular-route.min.js"></script>
    <script src="https://unpkg.com/angular-sanitize@1.8/angular-sanitize.min.js"></script>
    <script src="https://unpkg.com/angular-touch@1.8/angular-touch.min.js"></script>

    <script src="https://unpkg.com/angular-cookies@1.8/angular-cookies.min.js"></script>

    <script src="https://unpkg.com/angular-ui-bootstrap@2.5.6/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/angular-local-storage@0.7.1/dist/angular-local-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>

    <!-- TineMCE -->
    <script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
    <script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>
    <script src="{% static 'js/mpt.ui.tinymce.config.js' %}"></script>

    <script src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>

    <script src="https://unpkg.com/angular-filter@0.5.17/dist/angular-filter.min.js"></script>
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>

    <script src="https://unpkg.com/ui-select@0.20/dist/select.min.js"></script>
    <script src="https://unpkg.com/angular-storage@0.0.15/dist/angular-storage.min.js"></script>

    <!-- UI Router -->
    <script src="//unpkg.com/@uirouter/angularjs@1.0.27/release/angular-ui-router.min.js"></script>

    <!-- Angular Gettext and Dinamic Locale -->
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>
    <script src="https://unpkg.com/angular-dynamic-locale@0.1.37/dist/tmhDynamicLocale.min.js"></script>

    <!-- i18n -->
    <script type="module" src="{% static 'js/app/i18n/i18n.module.js' %}"></script>
    <script type="module" src="{% static 'js/app/i18n/i18n.services.js' %}"></script>
    {% compress js %}
        <!-- All -->
        <script type="text/javascript" src="{% static 'js/helpers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/contact_form.js' %}"></script>

        <!-- Angular Timtec -->
        <script type="text/javascript" src="{% static 'js/django.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular-youtube.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/shared/mpt.shared.app.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/core-services.js' %}"></script>

        <!-- Discussion -->
        <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>

        <!-- Header -->
        <script type="text/javascript" src="{% static 'js/app/header/header-unlogged.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header-unlogged.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.filters.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.directives.js' %}"></script>

        <!-- Events -->
        <script type="text/javascript" src="{% static 'js/app/events/events.services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/events/events-list/events-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/events/events-list/events-list.component.js' %}"></script>

        <!-- Main Nav -->
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.services.js' %}"></script>
        <!-- Required by Main Nav for the unread messages count -->
        <script type="text/javascript" src="{% static 'js/app/messages/messages.services.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app/app.services.js' %}"></script>

    {% endcompress %}
    <script src="{% url 'courses_legacy:djangular' %}"></script>

    {% block js %}{% endblock %}

</head>
<body {% if in_admin %}id="admin"{% else %}id="notadmin"{% endif %}
      {% spaceless %}{% block body_attrs %}ng-app{% endblock %}{% endspaceless %}
      class="{% if user.is_authenticated %}logged{% else %}anonymous{% endif %}">

    <div class="site-wrapper" ng-class="{'main-nav-opened': is_main_nav_opened}">
        {% block header %}
            {% if user.is_authenticated %}
                <main-header></main-header>
            {% else %}
                <main-header-unlogged></main-header-unlogged>
            {% endif %}
        {% endblock %}

        {% if user.is_authenticated %}
            {% block main-nav %}
                <main-nav></main-nav>
            {% endblock %}
        {% endif %}

        <div class="wrapper wrapper-bg {% spaceless %}{% block wrapper_classes %}{% endblock %}{% endspaceless %}">
            {% block content %}
            <h1>missing content block</h1>
            {% endblock %}
        </div>
    </div>

    {% block footer %}
        {% include '_footer.html' %}
        {% include '_libras.html' %}
    {% endblock %}

    {% if not user.is_authenticated %}
        {% include 'account/login_modal.html' %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var $modal = $("#login-modal");
                var $next = $modal.find('input[name=next]');
                $('a.js-login-required').click(function(e){
                    $next.val($(this).attr('href'));
                    $modal.modal();
                    return false;
                });
                $('.dropdown-menu form').click(function(e) {
                    e.stopPropagation();
                });
            });
        </script>
    {% endif %}
</body>
</html>
