{% extends "base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/font-awesome@4.7/css/font-awesome.min.css" />

    {{ block.super }}
    <style>
        @page {
            size: letter landscape;
        }
    </style>
{% endblock %}

<div id="certificate-pdf">
    {% block content %}
    <section class="certificate-content container-fluid">
      {% if object.document_type == 'receipt' %}
        {% include "_certificate-receipt.html" %}
      {% else %}
        {% include "_certificate-certificate.html" %}
      {% endif %}
    </section>
    {% endblock %}
</div>
