{% extends "base.html" %}

{% load compress %}
{% load i18n %}
{% load staticfiles %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

<div class="container">
    {% block content %}
    {% comment %} <div id="certificate-id-print"> {% endcomment %}
    <section class="certificate-content container-fluid">
        {% if object.document_type == 'receipt' %}
        {% include "_certificate-receipt.html" %}
        {% else %}
        {% include "_certificate-certificate.html" %}
        {% endif %}
    </section>
    {% comment %} </div> {% endcomment %}
    {% endblock %}
</div>
