{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}
{% load is_assistant_or_coordinator %}
{% load compress %}
{% load units_ratio %}


{% if in_admin %}
    {% block js %} {{block.super}}
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>

    <!-- @TODO Lazy-load these dependencies -->
    <!-- Moment -->
    <script src="https://unpkg.com/moment@2.29.1/min/moment-with-locales.min.js"></script>
    <script src="https://unpkg.com/moment-timezone@0.5.34/builds/moment-timezone-with-data-10-year-range.min.js"></script>
    <script src="https://unpkg.com/angular-moment-picker@0.10.2/dist/angular-moment-picker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/angular-moment-picker@0.10.2/dist/angular-moment-picker.min.css" />

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/admin/new-course/app.js' %}">// must be the 1º</script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}">// must be the 2º</script>
    <script type="text/javascript" src="{% static 'js/admin/filters/text.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/new-course/directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/contenteditable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/sortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/admin/new-course/controllers.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/pagedown/Markdown.Converter.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/pagedown/Markdown.Editor.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/pagedown/Markdown.Sanitizer.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/markdown/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/markdown/filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/accounts/accounts.services.js' %}"></script>

    <!-- Edit Language Switcher -->
    <script type="text/javascript" src="{% static 'js/app/i18n/edit-language-switcher/edit-language-switcher.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/i18n/edit-language-switcher/edit-language-switcher.services.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/i18n/edit-language-switcher/edit-language-switcher.component.js' %}"></script>
    {% endcompress %}
    {% if not in_admin %}
    <script type="text/javascript" src="{% static 'js/course-intro/course-intro.controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/course-intro/course-intro.app.js' %}"></script>
    {% endif %}

    <script>
        window.course_id = {{ course.pk }};
    </script>
    {% endblock %}
{% endif %}

{% block body_attrs %}
    {% if in_admin %}
        ng-app="new-course"
    {% else %}
        ng-app="course-intro"
    {% endif %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-intro
{% endblock %}

{% block content %}

<!-- COURSE -->
<div class="course course-intro" ng-controller="{% if in_admin %}CourseEditController{% else %}CourseIntroController{% endif %}"{>

    {% if in_admin %}
        <!-- ACTIONS -->
        <div class="actions-menu" fixed-bar>
            <div class="container-fluid">
                <div class="actions-buttons align-left">
                    <!-- LEFT BUTTON GROUP -->
                    <button class="btn btn-sm btn-danger btn-inverse delete" title="Deletar curso" ng-click="deleteCourse()">
                        <span class="visible-xs-inline" translate>Delete</span>
                        <span class="hidden-xs" translate>Delete course</span>
                    </button>
                    <button class="btn btn-sm btn-primary btn-inverse download"
                        {%verbatim%}title="{{'Export course and download' | translate}}"{%endverbatim%} ng-click="export_course()">
                        <span class="visible-xs-inline" translate>Export</span>
                        <span class="hidden-xs" translate>Export course</span>
                    </button>
                    <!-- END LEFT BUTTON GROUP -->
                </div>
                {% include 'administration/_alert.html' %}
                <div class="actions-buttons align-right">
                    <!-- RIGHT BUTTON GROUP -->
                    <button class="btn btn-sm btn-primary btn-inverse save" ng-click="saveCourse()">
                        <span class="visible-xs-inline" translate>Save</span>
                        <span class="hidden-xs" translate>Save course</span>
                    </button>
                    <!-- RIGHT BUTTON GROUP -->
                </div>
            </div>
        </div>
        <!-- END ACTIONS -->
    {% endif %}

    {% if in_admin %}
    <!-- HEADER -->
        {% include "_admin_header_inline.html" with course=course course_intro_admin=1 %}
    <!-- END HEADER -->
    {% elif user|is_assistant_or_coordinator:course or user_is_enrolled and course.has_started %}
        {% include "_course-header-inline.html"  with course=course %}
    {% else %}
        {% include "_go-to-course-button-inline.html"  with course=course %}
    {% endif %}

    <!-- COURSE-CONTENT -->
    <section class="course-content">
        <div class="course-intro-grid">
            <section class="video embed-responsive embed-responsive-16by9 mobile" id="course-video">
                {% with yid=course.intro_video.youtube_id %}
                    {% if yid %}
                        <iframe id="youtube-player"
                                type="text/html"
                                src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque"
                                allowfullscreen>
                        </iframe>
                    {% elif course.thumbnail %}
                        <img class="img-responsive" src="{{ course.thumbnail.url }}">
                    {% endif %}
                {% endwith %}
            </section>
        <!-- COURSE INFO SIDEBAR -->
        <div class="course-intro-sidebar">
            <div class="course-intro-sidebar--wrapper">
                {% if in_admin %}
                {% verbatim %}
                <h3 class="page-subtitle" ng-if="availableLanguages.length > 1" translate>Edit course content at: </h3>
                <button class="btn btn-primary"
                  ng-if="availableLanguages.length > 1"
                  ng-repeat="language in availableLanguages track by language.code"
                  ng-class="(editingCourseLanguage === language.code || editingCourseLanguage === language.code.replace('_', '-')) ? 'active-language': ''"
                  ng-click="setLanguage(language.code)"
                >{{ language.code.replace('_', '-').toUpperCase() }}</button>

                <h3 class="page-subtitle" ng-if="availableLanguages.length > 1" translate>This course is available at:</h3>
                <div class="course-status" ng-if="availableLanguages.length > 1">
                    <li class="list-group-item language" ng-repeat="language in availableLanguages track by language.code">
                        <input ng-model="checkedLanguages[language.code]" class="form-check-input me-1" type="checkbox" ng-checked="checkedLanguages[language.code]">
                        <span translate>{{ language.name }}</span>
                    </li>
                </div>
                {% endverbatim %}
                {% endif %}

                <!-- DESCRIPTION -->
                <div class="abstract description-content">
                    {% if in_admin %}
                        <h3 class="page-subtitle" translate>Description</h3>
                        <textarea ui-tinymce ng-model="course.description" name="description" class="form-control" rows="6"></textarea>
                    {% else %}
                        {% if course.description %}
                            <h3 class="page-subtitle" translate>Description</h3>
                            {{course.description|timtec_markdown}}
                        {% endif %}
                    {% endif %}
                </div>
                <!-- COURSE-INSTRUCTORS -->
                {% include '_course_authors_inline.html' %}
                <!-- END COURSE-INSTRUCTORS -->

                <!-- END DESCRIPTION -->
                {% if not in_admin and course.lang|length > 0%}
                    <div class="language-list">
                        <h3 class="page-subtitle" translate>This course is available at:</h3>
                        <!-- TODO Make this list dynamic -->
                        <span>
                            <i class="fa fa-language"></i>
                            {% if 'en' in course.lang %}
                                <span translate>English</span>
                            {% endif %}
                            {% if 'en' in course.lang and course.lang|length > 1 %}
                                <span translate>,</span>
                            {% endif %}
                            {% if 'es' in course.lang %}
                                <span translate>Spanish</span>
                            {% endif %}
                            {% if 'es' in course.lang and course.lang|length > 1 %}
                                <span translate>,</span>
                            {% endif %}
                            {% if 'pt-br' in course.lang %}
                                <span translate>Portuguese</span>
                            {% endif %}
                        </span>
                      </div>
                {% endif %}
                {% if in_admin %}
                    <h3 class="page-subtitle" translate>Start date</h3>
                    <div class="date-input input-group">
                        <input type="text" class="form-control" ng-model="course.start_date"
                            uib-datepicker-popup="dd/MM/yyyy" is-open="opened" show-button-bar="false"
                            show-weeks="false" starting-day="0"
                            {%verbatim%}placeholder="{{'Choose the date' | translate}}"{%endverbatim%}/>
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="button" ng-click="opened = true"><span class="caret"></span></button>
                        </span>
                    </div>
                    <div class="abstract">
                        <h3 class="page-subtitle" translate>Amount of hours</h3>
                        <input type="number" ng-model="course.course_load" ng-change="saveCourse()" class="number-input input-group">
                    </div>
                {% else %}
                    {% if course.course_load %}
                        <h3 class="page-subtitle" translate>Amount of hours</h3>
                        <p>{{ course.course_load }}h</p>
                    {% endif %}

                    {% if course.has_certification %}
                        <section class="certification">
                        {% verbatim %}
                            <h3 class="page-subtitle"><i class="fa fa-certificate"></i> {{ 'This course provides certificates' | translate }}</h3>
                        {% endverbatim %}
                        </section>
                    {% endif %}

                    {% if user_is_enrolled %}
                        <a href="{% url 'courses_legacy:enroll_course' course.slug %}" target="_top" class="btn btn-large-rounded" translate>Continue course</a>
                    {% elif course.has_started %}
                        <a href="{% url 'courses_legacy:enroll_course' course.slug %}" target="_top" class="btn btn-large-rounded" translate>Start course</a>
                    {% else %}
                        <h3 class="top page-subtitle" translate>Coming soon</h3>
                        <p>{% verbatim %}{{ 'This course starts on' | translate }}{% endverbatim %} {{ course.start_date }}</p>
                    {% endif %}
                    </a>
                {% endif %}

                <!-- CLASS PROFESSOR -->
                {%  include '_class-professors-inline.html' %}
                <!-- END CLASS PROFESSOR -->

                <!-- START DATE -->
                {% if in_admin %}
                    <h3 class="page-subtitle" translate>This course is</h3>
                    <div class="course-status btn-group">
                        <button class="btn published dropdown-toggle" data-toggle="dropdown"
                        ng-if="course.isPublished()"><span class="status-label" translate>Published</span> <span class="caret"></span></button>

                        <button class="btn draft dropdown-toggle" data-toggle="dropdown"
                        ng-if="course.isDraft()"><span class="status-label" translate>Draft</span> <span class="caret"></span></button>

                        <ul class="dropdown-menu" role="menu">
                            <li ng-if="course.isDraft()"><a ng-click="publishCourse()" translate>Published</a></li>
                            <li ng-if="course.isPublished()"><a ng-click="set_course_as_draft()" translate>Draft</a></li>
                        </ul>
                    </div>
                    {% verbatim %}
                        <h4>
                            <span class="percentage-bubble">{{course.min_percent_to_complete}}%</span>
                        </h4>
                        <h3 class="page-subtitle" translate>Minimum progress towards certificate</h3>
                    {% endverbatim %}
                    <div class="help-text" translate>Drag left or right. Minimum 50%.</div>
                    <input type="range" max="100" min="50" class="percentage-input" ng-model="course.min_percent_to_complete" />
                {% endif %}
                <!-- END START DATE -->
                <!-- {% if in_admin %}
                    <h3 translate>Datasheet</h3>
                    <modalmarkdowneditor tabindex="8" on-save="saveCourse()" title="Datasheet" content="course.workload"></modalmarkdowneditor>
                {% elif course.workload %}
                    <h3 translate>Datasheet</h3>
                    <p>{{ course.workload|timtec_markdown }}</p>
                {% endif %} -->

                <!-- EVENTS -->
                {% if user.is_authenticated %}
                <events-list course="{{ course.id }}" limit="6">
                  <events-list-title>
                    <h3 translate>Agenda</h3>
                  </events-list-title>
                </events-list>
                {% endif %}

                <section class="summary">
                    <!--
                    {% if in_admin %}
                        <h3 class="page-subtitle" translate>What content will we have here?</h3>
                        <modalmarkdowneditor tabindex="8" on-save="saveCourse()" title="Estrutura do Curso" content="course.structure"></modalmarkdowneditor>
                    {% elif course.structure %}
                        <h3 class="page-subtitle" translate>What do I need to know?</h3>
                        <p>{{ course.structure|timtec_markdown }}</p>
                    {% endif %}
                    -->
                </section>
            </div>
        </div>
        <!-- END COURSE INFO SIDEBAR -->

        <!-- COURSE INTRO DETAILS -->
        <div class="course-intro-details" ng-init="mediaSection='video'">
            {% if in_admin %}
                <!-- ADD CONTENT -->
                <div class="add-content">
                    <h3 class="page-subtitle" translate>What is the best option to present this course?</h3>
                    <button class="btn btn-primary add-video"
                            ng-class="{'btn-inverse':mediaSection=='video'}"
                            ng-click="mediaSection='video'" translate>Video</button>

                    <button class="btn btn-primary add-image"
                            ng-class="{'btn-inverse':mediaSection=='thumbnail'}"
                            ng-click="mediaSection='thumbnail'" translate>Thumbnail</button>

                    <button class="btn btn-primary add-image"
                            ng-class="{'btn-inverse':mediaSection=='homethumbnail'}"
                            ng-click="mediaSection='homethumbnail'" translate>Home thumbnail</button>
                </div>
                <!-- END ADD CONTENT -->

                <section class="course-thumbnail" ng-show="mediaSection=='thumbnail'" ng-init="thumbfile=null">
                    <div ng-show="addThumb" ng-init="addThumb=(thumbfile===null)">
                        <div class="add-thumbnail">
                            <div class="centered">
                                <div class="form-group">
                                    <i class="fa fa-picture-o fa-4x"></i>
                                    <h1 class="bottom top">Thumbnail</h1>
                                    <p translate>(minimum width: 845px)</p>

                                    <file ng-model="thumbfile" name="thumbnail" class="form-control"></file>
                                </div>

                                <button class="btn btn-danger delete"
                                        ng-click="thumbfile=null; addThumb=!course.thumbnail_url" translate>Cancel</button>

                                <button class="btn btn-success save"
                                        ng-click="addThumb=(thumbfile===null); saveThumb()" translate>Insert</button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="!addThumb">
                        <div class="add-thumbnail">
                            <div class="centered">
                                <img preview-image ng-model="thumbfile" class="img-responsive" ng-show="thumbfile"/>
                                {% verbatim %}
                                <img ng-src="{{course.thumbnail_url}}" class="img-responsive" ng-show="!thumbfile"/>
                                {% endverbatim %}

                                <button class="btn-edit-thumbnail btn btn-success"
                                        ng-click="addThumb=true" translate>Change thumbnail</button>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Home thumbnail -->
                <section class="course-thumbnail" ng-show="mediaSection=='homethumbnail'" ng-init="home_thumbfile=null">
                    <div ng-show="addHomeThumb" ng-init="addHomeThumb=(home_thumbfile===null)">
                        <div class="add-thumbnail">
                            <div class="centered">
                                <div class="form-group">
                                    <i class="fa fa-picture-o fa-4x"></i>
                                    <h1 class="bottom top" translate>Home thumbnail</h1>
                                    <p></p>

                                    <file ng-model="home_thumbfile" name="home_thumbnail" class="form-control"></file>
                                </div>
                                <button class="btn btn-danger btn-lg uppercase"
                                        ng-click="home_thumbfile=null; addHomeThumb=!course.home_thumbnail_url" translate>Cancel</button>

                                <button class="btn btn-success btn-lg uppercase"
                                        ng-click="addHomeThumb=(home_thumbfile===null); saveHomeThumb()" translate>Insert</button>

                            </div>
                        </div>
                    </div>

                    <div ng-show="!addHomeThumb">
                        <div class="add-thumbnail">
                            <div class="centered">
                                <img preview-image ng-model="home_thumbfile" class="img-responsive" />
                                {% verbatim %}
                                <img ng-src="{{course.home_thumbnail_url}}" class="img-responsive" ng-show="!home_thumbfile"/>
                                {% endverbatim %}
                                <button class="btn btn-success btn-edit-thumbnail"
                                    ng-click="addHomeThumb=true" translate>Change thumbnail</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End home thumbnail -->

                <!--  VIDEO  -->
                <section class="video" ng-show="mediaSection=='video'">
                    <!--
                    <div ng-show="course.intro_video.youtube_id && !playerReady">
                        <div class="waiting textcenter jumbotron" style="height: 515px">
                            <div class="middle">
                                <i class="fa fa-refresh fa-5x"></i>
                            </div>
                        </div>
                    </div>
                    -->
                    <div ng-class="{'hidder': !(course.hasVideo() && !playerReady)}" class="desktop">
                        <section class="video embed-responsive embed-responsive-16by9" id="course-video">
                            <iframe id="youtube-player"
                                    type="text/html"
                                    src="{%verbatim%}{{link_video}}{%endverbatim%}"
                                    allowfullscreen>
                            </iframe>
                        </section>
                        <div class="row">
                            <div class="col-xs-9 col-lg-9">
                                <p class="video-title editable-content" ng-model="course.intro_video.name"
                                    {%verbatim%}placeholder="{{'Video name'|translate}}"{%endverbatim%} contenteditable><p>
                            </div>
                            <div class="col-lg-3 textcenter">
                                <button class="btn-edit-video btn btn-success btn-sm uppercase"
                                        ng-click="changeVideo()" translate>Change video</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-3 video-download-title">
                                <b translate>Video to be downloaded:</b>
                            </div>
                            <div class="col-xs-9" ng-if="course.intro_video.file">
                                {%verbatim%}
                                <span ng-bind="getVideoName()"></span>
                                {%endverbatim%}
                                <button class="btn btn-danger trash" ng-click="removeVideo()"></button>
                            </div>
                            <div class="col-xs-8 textright">
                                <button ng-if="!course.intro_video.file" class="btn btn-sm btn-success add"
                                    ngf-select="uploadVideo($file)" ngf-multiple="false" accept="video/*" translate>Upload video</button>
                            </div>
                        </div>
                    </div>

                    <div class="add-video-intro" ng-show="!course.intro_video.youtube_id">
                        <div class="centered">
                            <div class="form-group">
                                <i class="fa fa-youtube-play fa-4x"></i>
                                <h1 translate>Introduction video</h1>
                                <input type="text" tabindex="8" ng-model="youtube_id" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-danger delete"
                                        ng-click="course.intro_video.youtube_id=link_video" translate>Cancel</button>
                                <button tabindex="9"
                                        class="btn btn-success save"
                                        ng-show="!course.intro_video.youtube_id"
                                        ng-click="setCurrentUnitVideo()" translate>Insert</button>
                            </div>
                        </div>
                    </div>
                </section>
                <!--  END VIDEO  -->
            {% endif %}
            <!-- COURSE-LESSONS -->
            {% block course_lessons %}
            {% if in_admin %}
                <!-- Giving this course -->
                <section class="lessons lesson-list">
                    <div class="abstract">
                        <h3 class="page-subtitle" translate>Who is giving this course</h3>
                        <textarea ui-tinymce ng-model="course.application" name="application" class="form-control" rows="6"></textarea>
                    </div>

                    <!-- END Giving this course -->

                    <!-- Additional Informations -->
                    <div class="abstract">
                        <h3 class="page-subtitle" translate>Additional Informations</h3>
                        <textarea ui-tinymce ng-model="course.informations" name="informations" class="form-control" rows="6"></textarea>
                    </div>
                <!-- END Additional Informations -->
                </section>
                <section class="lessons lesson-list">
                <!-- PAGE-HEADER-DOUBLE -->
                    <div class="header-double">
                        <h3 class="page-subtitle" translate>Modules</h3>
                        <div class="pull-right">
                            <a class="btn btn-primary btn-inverse add" href="/legacy/admin/courses/{{ course.id }}/lessons/new" translate>Create new module</a>
                        </div>
                        <!-- <button class="btn btn-sm btn-primary btn-inverse sort" ng-click="organizingLessons=true" ng-show="!organizingLessons" >ordenar</button> -->
                        <button class="btn btn-sm btn-danger btn-inverse delete" ng-show="organizingLessons" ng-click="organizingLessons=false" translate>Cancel</button>
                        <button class="btn btn-sm btn-primary btn-inverse save" ng-show="organizingLessons" ng-click="saveAllLessons()" translate>Save</button>
                        <br/>
                    </div>
                    <!-- END PAGE-HEADER-DOUBLE -->

                    <!--  LESSON  -->
                    <div class="lesson row" ng-repeat="lesson in lessons" ng-hide="organizingLessons">

                        <div class="col-sm-3 hidden-xs">
                            {% verbatim %}
                            <img ng-src="{{ lesson.thumbnail ? lesson.thumbnail : lesson.thumbnail_url }}" class="img-responsive">
                            {% endverbatim %}
                        </div>

                        <div class="col-sm-9 col-xs-12">

                            <div class="row">
                                <div class="col-sm-8">
                                    <h4 class="title">
                                        <a {% verbatim %}href="lessons/{{lesson.id}}"{% endverbatim %} class="title" ng-bind="lesson.name" translate>Module name</a>
                                    </h4>
                                    <p><i class="fa fa-youtube-play"></i> <small>{% verbatim %}{{ lesson.countVideos() }}{% endverbatim %}</small> <small translate>videos</small> | <i class="fa fa-list"></i> <small>{% verbatim %}{{ lesson.countActivities() }}{% endverbatim %}</small> <small translate>activities</small></p>
                                    <div class="description">
                                        <div ng-bind-html="lesson.desc|markdown"></div>
                                    </div>
                                </div>
                                <div class="options col-sm-4">

                                    <!-- <div class="btn-group lesson-status" ng-show="lesson.status=='draft'">
                                        <button type="button" class="btn btn-sm btn-primary"
                                            ng-click="lesson.status='published'">
                                            <i class="fa fa-users" aria-hidden="true"></i> Público
                                        </button>
                                        <span class="btn btn-sm btn-primary btn-transparent">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> Rascunho
                                        </span>
                                    </div>

                                    <div class="btn-group lesson-status" ng-show="lesson.status=='published'">
                                        <span class="btn btn-sm btn-primary btn-transparent">
                                            <i class="fa fa-users" aria-hidden="true"></i> Público
                                        </span>
                                        <button type="button" class="btn btn-sm btn-primary"
                                            ng-click="lesson.status='draft'">
                                            <i class="fa fa-pencil" aria-hidden="true"></i> Rascunho
                                        </button>
                                    </div> -->

                                    <a {% verbatim %}href="lessons/{{lesson.id}}"{% endverbatim %} class="btn btn-sm btn-primary btn-inverse edit" translate>Edit module</a>
                                    <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="deleteLesson(lesson)" translate>Delete module</button>
                                </div>
                            </div>

                            <div class="lesson-units-nav" ng-show="lesson.units">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                </div>
                                <div class="units">
                                    <span class="units-title" translate>Units</span>
                                    {% verbatim %}
                                    <a class="has-tooltip unit"
                                        ng-repeat="unit in lesson.units"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        data-original-title="Unidade {{ unit.position+1 }}" ng-href="lessons/{{lesson.id}}#?unit={{unit.position}}">
                                        <span ng-bind="$index+1">1</span>
                                    </a>
                                    {% endverbatim %}
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--  END LESSON  -->

                    <!-- ORGANIZING LESSONS -->
                    <div class="lessons" ng-show="organizingLessons" sortable="lessons" on-update="repositionLessons()">
                        <!-- LESSON -->
                        <div class="lesson" ng-repeat="lesson in lessons">

                            <div class="row">

                                <!-- <div class="handle"><div class="btn btn-default sort"><span class="sr-only">ordenar</span></div></div> -->

                                <div class="col-sm-3 hidden-xs">
                                    {% verbatim %}
                                    <img ng-src="{{ lesson.thumbnail ? lesson.thumbnail : lesson.thumbnail_url}}" class="img-responsive">
                                    {% endverbatim %}
                                </div>

                                <div class="col-sm-9 col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h4 class="title">
                                                <a {% verbatim %}href="lessons/{{lesson.id}}"{% endverbatim %} class="title" ng-bind="lesson.name" translate>Module name</a>
                                            </h4>
                                            <p><i class="fa fa-youtube-play"></i> <small translate>{% verbatim %}{{ lesson.countVideos() }}{% endverbatim %} videos</small> | <i class="fa fa-list"></i> <small translate>{% verbatim %}{{ lesson.countActivities() }}{% endverbatim %} activities</small></p>
                                            <div class="description">
                                                <div ng-bind-html="lesson.desc|markdown"></div>
                                            </div>
                                        </div>
                                        <div class="options col-sm-4">

                                            <div class="btn-group lesson-status" ng-show="lesson.status=='draft'">
                                                <button type="button" class="btn btn-sm btn-primary"
                                                    ng-click="lesson.status='published'">
                                                    <i class="fa fa-users" aria-hidden="true"></i translate> Public
                                                </button>
                                                <span class="btn btn-sm btn-primary btn-transparent">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i translate> Draft
                                                </span>
                                            </div>

                                            <div class="btn-group lesson-status" ng-show="lesson.status=='published'">
                                                <span class="btn btn-sm btn-primary btn-transparent">
                                                    <i class="fa fa-users" aria-hidden="true"></i translate>  Public
                                                </span>
                                                <button type="button" class="btn btn-sm btn-primary"
                                                    ng-click="lesson.status='draft'">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i translate> Draft
                                                </button>
                                            </div>

                                            <a {% verbatim %}href="lessons/{{lesson.id}}"{% endverbatim %} class="btn btn-sm btn-primary btn-inverse edit" translate>Edit module</a>

                                            <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="deleteLesson(lesson)" translate>Delete module</button>
                                        </div>
                                    </div>

                                    <div class="lesson-units-nav" ng-show="lesson.units">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                                        </div>
                                        <div class="units">
                                            <span class="units-title" translate>Units</span>
                                            {% verbatim %}
                                            <a class="has-tooltip unit"
                                                ng-repeat="unit in lesson.units"
                                                data-toggle="tooltip"
                                                data-placement="bottom"
                                                data-original-title="Unidade {{ unit.position+1 }}" ng-href="lessons/{{lesson.id}}#?unit={{unit.position}}">
                                                <span ng-bind="unit.position+1">1</span>
                                            </a>
                                            {% endverbatim %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END LESSON -->
                    </div>
                    <!-- END ORGANIZING LESSONS -->
                </section>
            {% else %}
                <!-- VIDEO -->
                <section class="video embed-responsive embed-responsive-16by9 desktop" id="course-video">
                    {% with yid=course.intro_video.youtube_id %}
                        {% if yid %}
                            <iframe id="youtube-player"
                                    type="text/html"
                                    src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque"
                                    allowfullscreen>
                            </iframe>
                        {% elif course.thumbnail %}
                            <img class="img-responsive" src="{{ course.thumbnail.url }}">
                        {% endif %}
                    {% endwith %}
                </section>
                <!-- END VIDEO -->
                <section class="lessons lesson-list">
                        <div ng-if="course.intro_video.file">
                            <h3 class="page-subtitle" translate>Download intro video</h3>

                            <a href="{{ course.intro_video.file }}" download="{{ course.intro_video.file.name }}">
                                <button class="btn btn-primary download" translate>Download</button>
                            </a>
                        </div>
                    {% if course.application %}
                    <div class="abstract">
                        <h3 class="page-subtitle" translate>Who is giving this course</h3>
                        {{course.application|timtec_markdown}}
                    </div>
                    {% endif %}
                    <!-- ABSTRACT -->
                    <!--
                    <div class="abstract">
                        <h3 class="page-subtitle" translate>What you learn at this course</h3>
                        {% if in_admin %}
                            <div ng-show="modal_lang==='es'">
                                <modalmarkdowneditor
                                    tabindex="2"
                                    on-save="saveCourse()"
                                    title="Lo que aprendes en este curso"
                                    content="course.abstract"
                                    ></modalmarkdowneditor>
                            </div>
                            <div ng-show="modal_lang==='pt_br'">
                                <modalmarkdowneditor
                                tabindex="2"
                                on-save="saveCourse()"
                                title="O que você aprende neste curso"
                                content="course.abstract"
                                ></modalmarkdowneditor>
                            </div>
                            <div ng-show="modal_lang==='en'">
                                    <modalmarkdowneditor
                                    tabindex="2"
                                    on-save="saveCourse()"
                                    title="What you learn at this course"
                                    content="course.abstract"
                                    ></modalmarkdowneditor>
                            </div>
                        {% else %}
                            {{course.abstract|timtec_markdown}}
                        {% endif %}
                    </div>
                    -->
                    <!-- END ABSTRACT -->
                    <!-- Additional Informations -->
                    {% if course.informations %}
                        <div class="abstract">
                            <h3 class="page-subtitle" translate>Additional Informations</h3>
                            {{course.informations|timtec_markdown}}
                        </div>
                    {% endif %}
                </section>
            </div>
            {% if user.is_authenticated %}
                <div class="lesson-list-course">
                    <section class="lessons lesson-list-course">
                        <!-- PAGE-HEADER-DOUBLE -->
                        <h3 class="page-subtitle"><span translate>Modules</span>:</h3>
                        <!-- END PAGE-HEADER-DOUBLE -->
                        <!-- FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                        {% for lesson in course.lessons.all %}
                            <!-- LESSON -->
                            <div class="lesson row">
                                <!-- COL-LG-3 -->
                                <div class="col-lg-3 col-sm-3 col-sm-3 hidden-xs">
                                    <img src="{{ lesson.thumbnail_url }}" class="img-responsive">
                                </div>
                                <!-- END COL-LG-3 -->

                                <!-- COL-LG-9 -->
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                    <div class="lesson-title">
                                        <h4 class="title" style="display:inline-block">
                                            {% if lesson.is_ready and user_is_enrolled %}
                                                <a href="{% url 'courses_legacy:lesson' course.slug lesson.slug %}" class="title">{{ lesson.name }}</a>
                                            {% else %}
                                                {{ lesson.name }}
                                            {% endif %}
                                        </h4>

                                        {% if lesson.status == 'draft' %}
                                                <span class="label-scheduled">
                                                    <i class="fa fa-calendar-o"></i>
                                                    {% if lesson.release_date == None %}
                                                        <span translate>Scheduled</span>
                                                    {% else %}
                                                        <span translate>Scheduled for</span> {{ lesson.release_date|date:"d/m/Y" }}
                                                    {% endif %}
                                                </span>
                                        {% endif %}
                                    </div>

                                    <div class="description">{{ lesson.desc|timtec_markdown }}</div>

                                    <div class="lesson-units-nav">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="units units-z">
                                            <span class="units-title" translate>Units</span>
                                            <!-- FOR UNIT IN UNITS -->
                                            {% for unit in lesson.units.all %}
                                                {% if forloop.counter < 7 %}
                                                    {% if lesson.is_ready and user_is_enrolled and unit.status == 'published' %}
                                                        <a class="has-tooltip unit"
                                                            style="{% if unit.id in units_done %}background-color: #D4AF37;{% endif %}"
                                                            href="{% url 'courses_legacy:lesson' course.slug lesson.slug %}#!/{{ forloop.counter }}"
                                                            data-toggle="tooltip" data-placement="bottom"
                                                            data-original-title="{{ unit.title }}"
                                                            style="margin-left: {{ lesson.units.all | units_ratio }}%">
                                                            {{ forloop.counter }}
                                                        </a>
                                                    {% else %}
                                                        <span class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                            data-toggle="tooltip" data-placement="bottom"
                                                            data-original-title="Unit {{ forloop.counter }}"
                                                            style="cursor: default;">
                                                                {{ forloop.counter }}
                                                                {% if unit.status == 'draft' or unit.lesson.status == 'draft' %}
                                                                    <i class="fa fa-lock"></i>
                                                                {% endif %}
                                                        </span>
                                                    {% endif %}
                                                    {% elif forloop.counter == 7 %}
                                                    <span class="has-tooltip unit {% if unit.id in units_done %}done{% endif %}"
                                                        style="cursor: default;">
                                                        ...
                                                    </span>
                                                {% endif %}
                                                <!-- END TD -->
                                            {% endfor %}
                                            <!-- END FOR -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END LESSON -->
                        {% endfor %}
                        <!-- END FOR LESSON IN COURSE.PUBLIC_LESSONS -->
                    </section>
                {% endif %}
            {% endif %}
        <!-- END COURSE-LESSONS -->
        {% endblock %}
        </div>
        <!-- END COURSE INTRO DETAILS -->

    </section>
    <!-- END COURSE CONTENT -->

    {% if in_admin %}
        {% include '_course_professors_modal.html' %}
    {% endif %}

</div>
<!-- END COURSE -->

{% endblock %}
