{% extends 'base.html' %}
{% load compress %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/notes/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notes/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/notes/services.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block body_attrs %}
  ng-app="notes"
{% endblock %}

{% block wrapper_classes %}
notes course-notes
{% endblock %}

{% block content %}
<!-- CONTAINER -->
<div class="my-notes course course-notes" ng-controller="CourseNotesCtrl">

    {% include "_course-header-inline.html"  with course=course question_form=false %}

    <section>
        <div class="page container-fluid">
            <header class="page-header capslock content-space">
                <h3 translate>Course notes</h3>
            </header>
        </div>

        <section class="notes">
            <p class="container-fluid" ng-if="lessons.length === 0" translate>You have not yet made any notes in this course.</p>

            {% verbatim angularjs %}
            <div class="notes-container" ng-if="lessons.length !== 0">
                <div id="lesson-{{ lesson.position }}" class="lesson container-fluid" ng-repeat="lesson in lessons">
                    <h4 class="lesson-title"><span translate>Module</span> {{ lesson.position + 1 }}: {{lesson.name}}</h4>
                    <div class="notes-info">
                        <span translate>Your notes</span>:
                        <span class="underscore-line">
                            <button class="btn btn-link btn-sm"
                                    ng-init="course.show_notes=false"
                                    ng-class="$comment.user_like ? 'hide-all': 'show-all'"
                                    ng-click="course.show_notes=!course.show_notes">
                                <span ng-show="!course.show_notes" translate>Display</span>
                                <span ng-show="course.show_notes" translate>Hide</span>
                            </button>
                        </span>
                    </div>
                    <div ng-show="course.show_notes">
                        <div class="notes-list" ng-repeat="unit in lesson.units_notes">
                            <h5 class="unit-title"><span translate>Unit</span> {{ unit.position + 1 }}: {{ unit.title }}</h5>
                            <div class="note-content">
                                <div class="row">
                                    <div class="col-sm-7 col-md-8 col-lg-9 note-text">{{ unit.user_note.text }}</div>
                                    <div class="col-sm-5 col-md-4 col-lg-3">
                                        <button class="btn btn-xs btn-danger delete"
                                            ng-click="delele_note(course, lesson, unit, unit.user_note)" translate>Delete</button>
                                        <a ng-href="/course/{{ course_slug }}/lesson/{{ lesson.slug }}/#!/{{ unit.position + 1 }}"
                                            class="btn btn-xs btn-edit edit" translate>Edit</a>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endverbatim angularjs %}
        </section>
    </section>
</div>
<!-- CONTAINER -->
{% endblock %}
