{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/angular-scroll@1.0.2/angular-scroll.min.js"></script>
    <script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>
    <script src="{% static 'js/ui.tinymce.courses-legacy.config.js' %}"></script>
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'vendor/angular-dialogs/angular-dialogs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-filters.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block body_attrs %}
  ng-app="discussion"
{% endblock %}

{% block content %}

<!-- CONTAINER -->
<div class="course classroom-forum" ng-controller="ForumCtrl" ng-init="ForumCourse(true)">
    {% include "_course-header-inline.html"  with course=course question_form=false %}
    {% verbatim %}

    <div class="page container-fluid">
        <header class="page-header capslock">
            <h3 translate>Forum</h3>
        </header>
    </div>
    <section class="widget forums container-fluid">
        <div ng-show="!has_forum" translate>
            <p translate="">This course doesn't have a forum yet!</p>
        </div>

        <div ng-show="has_forum">
            <div class="line one-column" ng-show="forum.latest_topics.length>0">
                <div class="column">
                    <h3 class="section-title" translate>Latest posts</h3>
                </div>
            </div>

            <div class="line one-column">
                <div class="user-update column" ng-repeat="topic in forum.latest_topics">
                    <div class="user-icon">
                        <img ng-src="{{topic.author.image || '/static/img/avatar-default.png'}}" alt="{{topic.author.name}}" />
                    </div>
                    <div class="info">
                        <a ng-href="#!/profile/{{ topic.author.username }}" target="_blank"><b>{{topic.author.name}}</b></a> <span translate>commented on the topic</span> <a href="topic/{{ topic.id }}/" class="thread-name">{{topic.title | charLimiter:50}}</a>
                        <span translate>in the forum</span> <a>{{forum.title}}</a></span>
                        <br />
                        <div class="last-update">
                            <span translate>Last activity</span> <b>{{ topic.last_activity_at | dateFilter }}</b> <b translate>ago</b>
                        </div>
                    </div>
                    <div class="actions">
                        <span class="action liked" ng-class="{ 'active': topic.count_likes }">
                            {{topic.count_likes}}
                            <!-- {{topic.count_likes > 1 || topic.count_likes == 0? 'gostaram':'gostou'}} -->
                            <span translate>liked</span>
                        </span>
                        <span class="action replies" ng-class="{ 'active': topic.count_replies }">
                            {{topic.count_replies}}
                            <!-- {{topic.count_replies > 1 || topic.count_replies == 0? 'comentários':'comentário'}} -->
                            <span translate>comment</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="line one-column">
                <div class="column">
                    <h3 class="section-title">
                        <a>{{ forum.title }}</a>
                    </h3>
                </div>
            </div>

            <div class="line one-column" ng-show="forum.topics.length===0">
                <div class="column">
                    <p class="empty-forum" translate>This forum doesn't have any topics yet.</p>
                </div>
            </div>

            <!-- List topics in a specific forum -->
            <div class="forum-list" ng-if="forum.topics.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="pull left" translate>Latest topics</th>
                        <th colspan="3" translate>reactions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="topic in forum.topics" ng-class="{'new': topic.read !== true}">
                        <td>
                            <a href="topic/{{ topic.id }}/"><span class="thread-name">{{ topic.title }}</span></a>
                            <span class="last-update"><span translate>By</span> <a ng-href="#!/profile/{{ topic.author.username }}" target="_blank">{{topic.author.name}}</a> | <span translate>Last activity</span> <b>{{ topic.last_activity_at | dateFilter }}</b> <b translate>ago</b></span>
                        </td>
                        <td class="reaction-forum">
                            <span class="action liked small">{{ topic.count_likes }}</span>
                        </td>
                        <td class="reaction-forum">
                            <span class="action replies small">{{ topic.count_replies }}</span>
                        </td>
                    </tr>
                    <tr >
                        <td class="td-load" colspan="4">
                            <a class="btn btn-sm btn-primary see-all" ng-click="loadMoreCourse()" translate>Load more</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="create-forum">
                <a class="btn btn-sucess new-topic new-topic-table" href="new_topic" translate>Add new topic</a>
            </div>
        <!-- /List topics in a specific forum -->
        </div>
    </section>
  </div>
{% endverbatim %}
{% endblock %}
