{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/angular-scroll@1.0.2/angular-scroll.min.js"></script>
    <script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'vendor/angular-dialogs/angular-dialogs.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-directives.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/discussion-filters.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block body_attrs %}
  ng-app="discussion"
{% endblock %}

{% block content %}
<ng-view></ng-view>

{% verbatim %}
<script type="text/ng-template" id="topic-detail.html">
    <section class="forums forums-page forums-widget thread widget container-fluid">
        <header class="widget-topbar breadcrumb">
            <div class="line line-title">
                    <div class="pull-left">
                        <h2 class="title-primary" translate>Forum</h2>
                    </div>
                    <div>
                            <a ng-href="/#!/forum/" class="btn btn-link goback pull-right"><span translate>Back</span></a>
                    </div>
                    <div>
                        <h2 class="title-secondary">{{ topic.forum_info.title }}</h2>
                    </div>
            </div>
        </header>

        <div ng-if="fatal_error" class="line one-column">
          <div class="column">
            <p class="danger">{{ error_message }}</p>
          </div>
        </div>
        <!-- Edição do tópico -->
        <div ng-show="!fatal_error" class="line one-column">
            <div class="column">
                <div class="forum-thread thread-title-line " ng-cloak>
                    <form class="new-thread" name="topic_form" novalidate ng-show="updating" ng-submit="topic_form.$valid && update_topic()">
                        <div class="form-group">
                            <div class="row">
                              <div class="col-sm-6">
                                  <h3 class="title" ng-cloak translate>Edit Topic</h3>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="thread-forum" translate>What is the category of your topic?</label>
                                    <select ng-model="category_id" name="category" class="form-control" id="category" ng-options="category.id as category.name for category in forum_categories">
                                        <option value="" translate>Choose a category</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="thread-name" translate>Topic title<span class="help-text-forum">
                                *</span></label>
                            <input ng-model="topic.title" name="title" type="text" class="form-control" id="thread-name" placeholder="Escreva o título aqui" required>
                        </div>

                        <!-- <div class="form-group" ng-if=topic_pinned>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input ng-model="topic.is_pinned" name="pinned-topic" type="checkbox" id="pinned-topic">
                                    <label for="pinned-topic" translate>Fixar tópico no topo do fórum? </label><br/>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label for="thread-text" translate>Topic text</label>
                            <div class="tinymce-loading">
                                <div class="fa fa-spinner fa-pulse fa-4x"></div>
                                <p translate>Loading form ...</p>
                            </div>
                            <textarea ui-tinymce
                                      ng-model="topic.content"
                                      required></textarea>
                        </div>

                        <div class="form-group">
                            <button id="select-file-topic"
                                   class="btn btn-xs btn-primary attach"
                                   ngf-select="uploadTopicFiles($file, topic)"
                                   ngf-multiple="false" translate>Attach file</button>
                        </div>
                        <files files="topic.files" editable="true" progress="topic.progress" is_topic="true"></files>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="thread-tags" translate>Assign TAGs to the topic</label>

                                    <ui-select multiple tagging="tagTransform" ng-model="topic.tags" theme="bootstrap" title="Escolha algumas tags...">
                                      <ui-select-match placeholder="Selecione uma tag...">#{{$item.name}}</ui-select-match>
                                      <ui-select-choices repeat="tag in tags | filter: {name: $select.search}" group-by="">
                                            <div ng-if="tag.isTag">
                                                <div ng-if="tagExists($select.search.toLowerCase())" ng-bind-html="tag.name | highlight: $select.search"></div>
                                                <div ng-if="!tagExists($select.search.toLowerCase())" ng-bind-html="(tag.name | highlight: $select.search) +' (nova tag)'"></div>
                                            </div>
                                            <div ng-if="!tag.isTag" ng-bind-html="tag.name + tag.isTag | highlight: $select.search" ng-class="{'active': $select.search == tag.name}" ng-hide="$select.search.toLowerCase() == tag.name.toLowerCase()"></div>
                                      </ui-select-choices>
                                    </ui-select>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="help-text">tags escolhidas</div>
                                    <div class="selected-tags tags">
                                        <a href="#" class="tag" ng-repeat="tag in new_topic.tags">#{{tag}}</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div>
                            <label class="help-text-info pull-right" for="thread-text"><span class="help-text-forum">*</span><span translate>Required fields</span></label>
                        </div>
                        <button type="submit"
                        data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                        class="btn btn-success new-topic" ng-disabled="!topic.content"translate>Save</button>
                    </form>
                    <!-- /Edição de tópico -->
                    <!-- Exibição de tópico -->
                    <div ng-show="!updating">
                      <div class="edit-topic">
                          <a class="btn btn-primary edit" ng-click="updating=true" ng-show="(topic.author.id == user.id || user.is_staff || user.is_superuser) && !updating" translate>Edit</a>
                          <a class="btn btn-danger trash" ng-click="deleteTopic()" ng-show="user.is_staff || user.is_superuser" translate>Delete</a>
                      </div>
                      <div class="edit-topic">
                          <a ng-repeat="category in topic.categories" class="category header-line">{{ category.name }}</a>
                      </div>
                      <div class="user-icon">
                          <img ng-src="{{topic.author.image || '/static/img/avatar-default.png'}}" alt="{{ topic.author.name }}">
                      </div>
                      <div class="info">
                          <h4 class="thread-header"><span class="thread-title">{{ topic.title }}</span> <span><span translate>by</span> <a class="user-name" ng-href="#!/profile/{{ topic.author.username }}">{{ topic.author.name || topic.author.username}}</a></span></h4>
                      </div>

                      <div class="tags-edit-topic">
                            <button class="btn tag-edit" ng-repeat="tag in topic.tags"><span>#{{ tag.name }}</span></a>
                      </div>

                      <div class="thread-post">
                          <div ng-bind-html="get_as_safe_html(topic.content)"></div>

                          <files files="topic.files" editable="false"></files>

                        <div>
                            <!-- <span class="action liked"
                                ng-class="{ 'active': topic.count_likes }"
                                translate
                                translate-n="topic.count_likes"
                                translate-plural="{{$count}} gostaram">1 gostou</span> -->

                            <span class="action liked" ng-class="{ 'active': topic.count_likes }">{{topic.count_likes}}
                            <span translate>liked</span></span>

                            <!-- <span class="action replies"
                                    ng-class="{ 'active': topic.count_replies }"
                                    translate
                                    translate-n="topic.count_replies"
                                    translate-plural="{{$count}} comentários">1 comentário</span> -->
                            <span class="action replies" ng-class="{ 'active': topic.count_replies }">{{topic.count_replies}}
                            <span translate>comments</span></span>
                        </div>
                    </div>
                    <div class="actions">
                            <span class="last-update"><span translate>last edition</span> {{ topic.updated_at | date : "d 'de' MMMM 'de' yyyy 'às' HH'h'mm" }}</span>
                        </div>
                    <div class="actions">
                        <button ng-click="topic_like(topic)" class="btn react-topic"><span class="tag-category-react" translate>Like</span></button>
                        <!--<a class="action used">usar</a>-->
                        <button ng-click="topic.show_comment_input = true;" class="btn react-topic"><span class="tag-category-comment" translate>Comment</span></button>
                        </div>
                    </div>
                    <!-- /Exibição de tópico -->
                    <!-- Novo comentário -->
                    <div id="new-comment">
                        <form class="comments-form" ng-if="topic.show_comment_input" ng-init="comment = new_comment()">
                            <div class="tinymce-loading">
                                <div class="fa fa-spinner fa-pulse fa-4x"></div>
                                <p translate>Loading form ...</p>
                            </div>
                            <textarea ui-tinymce
                                      ng-model="comment.text"
                                      placeholder="Escreva aqui o seu comentário"></textarea>
                            <button id="select-file-topic"
                                   class="btn btn-xs btn-primary attach pull-left"
                                   ngf-select="uploadCommentFiles($file, comment)"
                                   ngf-multiple="false" translate>attach</button>
                            <button class="btn btn-xs btn-success reply pull-right" ng-disabled="!comment.text"
                                data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                                ng-click="save_comment(comment, null); topic.show_comment_input=false" du-smooth-scroll="last-comment" translate>comment</button>
                            <button class="btn btn-xs btn-danger delete pull-right" ng-click="topic.show_comment_input=false" translate>discard</button>

                            <files files="comment.files" editable="true" progress="comment.progress"></files>
                        </form>
                    </div>
                    <!-- /Novo comentário -->
                    <div class="comments">
                        <h3 class="comments-title" translate>Comments</h3>
                        <!-- Exibição de um comentário -->
                        <div class="thread" ng-repeat="comment in topic.comments">
                            <div class="user-icon">
                                <img ng-src="{{ comment.author.image || '/static/img/avatar-default.png'}}" alt="{{ comment.author.name }}">
                            </div>
                            <div class="info">
                                <span class="user-name">
                                  <a ng-href="#!/profile/{{ comment.author.username }}">{{ comment.author.name || comment.author.username}}</a>
                                </span>
                                <div class="comment-post" ng-if="!comment.updating">
                                    <div ng-bind-html="get_as_safe_html(comment.text)"></div>

                                    <files files="comment.files" editable="false"></files>
                                </div>
                                <!-- Edição de um comentário -->
                                <form class="comments-form" ng-if="comment.updating" ng-init="changed_comment = comment">
                                    <div class="tinymce-loading">
                                        <div class="fa fa-spinner fa-pulse fa-4x"></div>
                                        <p translate>Loading form ...</p>
                                    </div>
                                    <textarea ui-tinymce
                                              ng-model="changed_comment.text"
                                              placeholder="Escreva aqui o seu comentário"></textarea>
                                    <div class="comment_answer">
                                        <button id="select-file-topic"
                                            class="btn btn-xs btn-primary attach pull-left"
                                            ngf-select="uploadCommentFiles($file, changed_comment)"
                                                ngf-multiple="false" translate>attach</button>
                                    </div>
                                    <div class="react_answer">
                                        <button class="btn btn-xs btn-danger delete" ng-click="comment.updating=false" translate>discard</button>
                                        <button class="btn btn-xs btn-success reply" type="submit" ng-disabled="!changed_comment.text"
                                        data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                                        ng-click="update_comment(changed_comment); comment.updating=false" translate>comment</button>
                                    </div>

                                    <files files="changed_comment.files" editable="true" progress="changed_comment.progress"></files>
                                </form>
                                <!-- /Edição de um comentário -->
                            </div>
                            <div class="actions">
                                <div class="pull-left">
                                    <div class="edit-comment">
                                        <span class="action liked"  ng-class="{ 'active': comment.count_likes }">
                                        {{comment.count_likes}} <span translate>liked</span></span>
                                        <a class="action edit" ng-click="comment.updating=true" ng-if="(comment.author.id == user.id || user.is_staff || user.is_superuser) && !comment.updating" translate>Edit topic</a>
                                    </div>
                                    <div>
                                        <span class="last-update">{{ comment.created_at | date : "d 'de' MMMM 'de' yyyy 'às' HH'h'mm" }}</span>
                                    </div>
                                    <a ng-click="comment_like(comment)"
                                       ng-class="{ 'active': comment.user_like }"
                                       class="action liked"><span translate>Like</span></a>
                                    <a ng-click="comment.show_comment_input = true;" class="action replies" du-smooth-scroll="new-answer-{{comment.id}}"><span translate>Comment</span></a>
                                </div>
                            </div>
                            <!-- /Exibição de um comentário -->

                            <!-- Resposta a um comentário -->
                            <div class="thread" ng-repeat="reply in comment.comment_replies">
                                <div class="user-icon">
                                    <img ng-src="{{ reply.author.image || '/static/img/avatar-default.png'}}" alt="{{ reply.author.name }}">
                                </div>
                                <div class="info">
                                    <div ng-if="!reply.updating">
                                        <span class="user-name">
                                          <a ng-href="#!/profile/{{ reply.author.username }}">{{ reply.author.name }}</a>
                                        </span>
                                        <div class="comment-post">
                                            <div ng-bind-html="get_as_safe_html(reply.text)"></div>

                                            <files files="reply.files" editable="false"></files>
                                        </div>
                                    </div>
                                    <!-- Edição de resposta a um comentário -->
                                    <form class="comments-form" ng-if="reply.updating" ng-init="changed_reply = reply">
                                        <div class="tinymce-loading">
                                            <div class="fa fa-spinner fa-pulse fa-4x"></div>
                                            <p translate>Loading form ...</p>
                                        </div>
                                        <textarea ui-tinymce
                                                  ng-model="changed_reply.text"
                                                  placeholder="Escreva aqui o seu comentário"></textarea>
                                        <div class="comment_answer">
                                            <button id="select-file-topic"
                                                class="btn btn-xs btn-primary attach pull-left"
                                                ngf-select="uploadCommentFiles($file, changed_reply)"
                                                ngf-multiple="false" translate>attach</button>
                                        </div>

                                        <div class="react_answer_comment">
                                            <button class="btn btn-xs btn-danger delete delete-comment" ng-click="reply.updating=false" translate>discard</button>
                                            <button class="btn btn-xs btn-success reply" type="submit" ng-disabled="!changed_reply.text"
                                            data-toggle="tooltip" data-placement="bottom" title="Campo de texto é obrigatório"
                                            ng-click="update_comment(changed_reply); reply.updating = false" translate>comment</button>
                                        </div>

                                        <files files="changed_reply.files" editable="true" progress="changed_reply.progress"></files>
                                    </form>
                                    <!-- /Edição de resposta a um comentário -->
                                </div>
                                <div class="actions">
                                    <div class="pull-left">
                                        <div class="edit-comment">
                                            <!-- <span class="action liked"
                                            ng-class="{ 'active': reply.count_likes }"
                                            translate
                                            translate-n="reply.count_likes"
                                            translate-plural="{{$count}} gostaram">1 gostou</span> -->
                                        <span class="action liked" ng-class="{ 'active': reply.count_likes }">
                                        {{reply.count_likes}} <span translate>liked</span></span>

                                        <a class="action edit" ng-click="reply.updating=true" ng-if="(reply.author.id == user.id || user.is_staff || user.is_superuser) && !reply.updating" translate>Edit</a>
                                        </div>
                                        <div>
                                            <span class="last-update">{{ reply.created_at | date : "d 'de' MMMM 'de' yyyy 'às' HH'h'mm" }}</span>
                                        </div>
                                        <a ng-click="comment_like(reply)"
                                        ng-class="{ 'active': reply.user_like }"
                                        class="action liked"><span translate>Like</span></a>
                                        <a ng-click="comment.show_comment_input = true;" du-smooth-scroll="new-answer-{{comment.id}}" class="action replies"><span translate>Comment</span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Resposta a um comentário -->

                            <!-- Criar nova resposta a comentário -->
                            <div id="new-answer-{{comment.id}}" class="info">
                                <form class="comments-form" ng-if="comment.show_comment_input" ng-init="reply = new_comment()">
                                    <div class="tinymce-loading">
                                        <div class="fa fa-spinner fa-pulse fa-4x"></div>
                                        <p translate>Loading form ...</p>
                                    </div>
                                    <textarea ui-tinymce
                                              ng-model="reply.text"
                                              placeholder="Escreva aqui o seu comentário"></textarea>
                                    <div class="comment_answer">
                                        <button id="select-file-comment"
                                            class="btn btn-xs btn-primary attach pull-left"
                                            ngf-select="uploadCommentFiles($file, reply)"
                                            ngf-multiple="false" translate>attach</button>
                                    </div>
                                    <div class="react_answer">
                                        <button class="btn btn-xs btn-danger delete" ng-click="comment.show_comment_input=false" translate>discard</button>
                                        <button class="btn btn-xs btn-success reply" ng-disabled="!reply.text"
                                        data-toggle="tooltip" data-placement="left" title="Campo de texto é obrigatório"
                                        ng-click="save_comment(reply, comment); comment.show_comment_input=false;" translate>comment</button>
                                    </div>
                                    <files files="reply.files" editable="true" progress="reply.progress"></files>
                                </form>
                            </div>
                            <!-- /Criar nova resposta a comentário -->
                        </div>
                        <!-- /Exibição de um comentário -->
                        <a id="last-comment"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</script>
{% endverbatim %}
{% endblock %}
