{% verbatim %}
<ui-view>
<div class="mentorships-page page container-fluid">
  <header class="page-header">
    <h2 translate>Mentorship</h2>
    <h3></h3>
  </header>
  <main>
    <section>
      <h3 translate>My followings</h3>
      <p ng-if="!$ctrl.mentored.length" translate>No results found</p>
      <article class="mentorship-card" ng-repeat="student in $ctrl.mentored">
        <div>
          <h4>{{ student.student_profile.user_profile.name || student.student_profile.user_profile.username }}</h4>
          <p ng-bind-html="student.student_profile.resume || student.student_profile.user_profile.biography"></p>
        </div>
        <div>
          <a ng-href="#!/profile/{{student.student_profile.user_profile.username}}" translate>See more</a>
        </div>
      </article>
      <!-- <button class="see-more-mentorships">{{ 'See all mentorships' | translate }} <i class="fa fa-chevron-down"></i></button> -->
    </section>
  </main>
</div>
</ui-view>
{% endverbatim %}
