{% verbatim %}
<ui-view>
<div class="openings-page page container-fluid">
  <header class="page-header">
    <div class="opening-page-title">
      <h2 translate>Job openings</h2>
      <a href="/#!/openings/new" ng-if="$ctrl.user.is_superuser || $ctrl.user.is_staff" translate>
        <i class="fa fa-plus-circle"></i> <span translate>New opening</span>
      </a>
    </div>
    <p class="page-subheader-text" translate>Complete all courses to unlock the job openings.</p>
    <form class="openings-filters">
      <div>
        <input type="search" placeholder="{{ 'Search openings' | translate }}" ng-model="$ctrl.filters.text" ng-change="$ctrl.onTextChange()">
      </div>

      <div>
        <ui-select multiple theme="bootstrap" ng-model="$ctrl.filters.tags" on-select="$ctrl.onTextChange()" title="{{ 'Choose a tag...' | translate }}">
          <ui-select-match placeholder="{{ 'Choose a tag...' | translate }}">{{ $item.name }}</ui-select-match>
          <ui-select-choices repeat="tag in $ctrl.tags | filter: $select.search" group-by="">
            <div ng-bind-html="tag.name | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>{{ 'No tag was found' | translate }}</ui-select-no-choice>
        </ui-select>

        <button ng-click="$ctrl.clearFilters()">
          <i class="fa fa-trash-o"></i> {{ 'Clear filters' | translate }}
        </button>
      </div>
    </form>
  </header>

  <section ng-if="$ctrl.filteredOpenings.length > 0">
    <h3 translate>All job openings</h3>
    <div class="openings-grid">
      <opening-card ng-repeat="opening in $ctrl.shownOpenings" knowledge-options="$ctrl.knowledgeOptions" opening="opening" skill-options="$ctrl.skillOptions" on-tag-select="$ctrl.selectTag(tag)"></opening-card>
    </div>
    <button ng-click="$ctrl.seeAllOpenings()" ng-if="$ctrl.filteredOpenings.length > $ctrl.shownOpenings.length">
      {{ 'See more' | translate }} <i class="fa fa-chevron-down"></i>
    </button>
    <button ng-click="$ctrl.seeLessOpenings()" ng-if="$ctrl.allOpenings">
      {{ 'See less' | translate }} <i class="fa fa-chevron-up"></i>
    </button>
  </section>

  <section ng-if="($ctrl.filteredAppliedOpenings.length > 0) && !$ctrl.allOpenings">
    <h3 translate>Job openings I've applied for</h3>
    <div class="openings-grid">
      <opening-card ng-repeat="opening in $ctrl.shownAppliedOpenings" knowledge-options="$ctrl.knowledgeOptions" opening="opening" skill-options="$ctrl.skillOptions" on-tag-select="$ctrl.selectTag(tag)"></opening-card>
    </div>
    <button ng-click="$ctrl.seeAllAppliedOpenings()" ng-if="$ctrl.filteredAppliedOpenings.length > $ctrl.shownAppliedOpenings.length">
      {{ 'See more' | translate }} <i class="fa fa-chevron-down"></i>
    </button>
  </section>

  <section ng-if="($ctrl.filteredFavoriteOpenings.length > 0) && !$ctrl.allOpenings">
    <h3 translate>Job openings I've favorited</h3>
    <div class="openings-grid">
      <opening-card ng-repeat="opening in $ctrl.shownFavoriteOpenings" knowledge-options="$ctrl.knowledgeOptions" opening="opening" skill-options="$ctrl.skillOptions" on-tag-select="$ctrl.selectTag(tag)"></opening-card>
    </div>
    <button ng-click="$ctrl.seeAllFavoriteOpenings()" ng-if="$ctrl.filteredFavoriteOpenings.length > $ctrl.shownFavoriteOpenings.length">
      {{ 'See more' | translate }} <i class="fa fa-chevron-down"></i>
    </button>
  </section>
</div>
</ui-view>
{% endverbatim %}
