{% verbatim %}
<article class="opening-card">
  <div class="image-container">
    <span ng-if="$ctrl.isNewOpening" translate>New opening</span>
    <div class="opening-card__image">
      <img ng-src="{{$ctrl.opening.company.logo || '/static/img/business-placeholder.svg'}}" alt="{{$ctrl.opening.company.name}}">
    </div>
  </div>
  <div class="opening-card__details">
    <h4><a ng-href="#!/openings/{{ $ctrl.opening.id }}">{{ $ctrl.opening.name }}</a></h4>
    <div ng-if="$ctrl.mode === 'mentor'">
      <p><i class="fa fa-eye"></i><span translate translate-n="$ctrl.opening.views" translate-plural="{{$count}} views">1 view</span></p>
    </div>
    <p class="star-rating__wrapper" ng-if="$ctrl.mode === 'student'">
      {{ 'Affinity' | translate }}
      <span class="star-rating" ng-style="{ 'background-image': $ctrl.ratingBackground($ctrl.opening.user_match) }" title="{{ $ctrl.ratingPercent($ctrl.opening.user_match) }}">
        <span aria-hidden="true">★★★★★</span>
      </span>
    </p>
    <p><i class="fa fa-flag"></i><span translate translate-n="$ctrl.opening.students.length" translate-plural="{{$count}} interested">1 interested</span></p>
    <div ng-if="$ctrl.mode === 'mentor'">
      <p><i class="fa fa-user"></i><span translate translate-n="$ctrl.opening.favorites_count" translate-plural="{{$count}} subscribed">1 subscribed</span></p>
    </div>
    <div class="opening-card__tags">
      <ul>
        <li ng-repeat="tag in $ctrl.shownTags">
          <button ng-click="$ctrl.onTagSelect({ tag: tag })">{{ tag.name }}</button>
        </li>
        <li ng-if="$ctrl.tags.length > $ctrl.shownTags.length">
          <button ng-click="$ctrl.showAllTags()">+{{ $ctrl.tags.length - $ctrl.shownTags.length }}</button>
        </li>
      </ul>
    </div>
  </div>
</article>
{% endverbatim %}
