{% verbatim %}
<ui-view>
<div class="complete-profile-page opening-edit-page container-fluid">
  <h1 ng-if="$ctrl.mode == 'create'" translate>Register opening</h1>
  <h1 ng-if="$ctrl.mode == 'edit'" translate>Edit opening</h1>
  <form class="complete-profile-form opening-edit-form">
    <h3 class="col-xs-12" translate>About the institution</h3>
    <div class="row col-xs-12">
      <label class="col-xs-12 col-sm-8" ng-class="{ 'invalid': $ctrl.errors.company.name }">
        <span>{{ 'Name' | translate }} <span class="required-message" translate>required field</span></span>
        <input type="text" ng-model="$ctrl.opening.company.name" required>
        <div class="error-message" ng-repeat="error in $ctrl.errors.company.name" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-4" ng-class="{ 'invalid': $ctrl.errors.company.logo }">
        <span>Insert thumbnail/logo</span>
        <file ng-model="$ctrl.opening.company.logo"></file>
        <div class="error-message" ng-repeat="error in $ctrl.errors.company.logo" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.company.city }">
        <span>{{ 'City' | translate }} <span class="required-message" translate>required field</span></span>
        <input autocomplete="off" type="text" ng-model="$ctrl.cityName" uib-typeahead="city as city.text for city in $ctrl.getCities($viewValue)" typeahead-loading="$ctrl.loadingLocations" typeahead-on-select="$ctrl.onSelectCity($model)" typeahead-min-length="2" typeahead-wait-ms="500" required>
        <div class="error-message" ng-repeat="error in $ctrl.errors.company.city" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-8" ng-class="{ 'invalid': $ctrl.errors.company.email }">
        <span>{{ 'Email' | translate }} <span class="required-message" translate>required field</span></span>
        <input type="email" ng-model="$ctrl.opening.company.email" required>
        <div class="error-message" ng-repeat="error in $ctrl.errors.company.email" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-4" ng-class="{ 'invalid': $ctrl.errors.company.phone_number }">
        <span>{{ 'Phone number' | translate }} <span class="required-message" translate>required field</span></span>
        <input type="text" ng-model="$ctrl.opening.company.phone_number" required>
        <div class="error-message" ng-repeat="error in $ctrl.errors.company.phone_number" translate>{{ error }}</div>
      </label>
      <div class="col-xs-12" ng-if="$ctrl.errors.company.non_field_errors">
        <div class="error-message" ng-repeat="error in $ctrl.errors.company.non_field_errors" translate>{{ error }}</div>
      </div>
    </div>

    <hr class="col-xs-12"/>

    <div class="row col-xs-12">
      <div class="col-xs-12 col-sm-6">
        <h3 class="col-xs-12" translate>About the available opening</h3>
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.name }">
          <span>{{ 'Open role' | translate }} <span class="required-message" translate>required field</span></span>
          <input type="text" ng-model="$ctrl.opening.name" required>
          <div class="error-message" ng-repeat="error in $ctrl.errors.name" translate>{{ error }}</div>
        </label>
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.description }">
          <span>{{ 'Role description' | translate }} <span class="required-message" translate>required field</span></span>
          <textarea name="role_description" ui-tinymce="$ctrl.tinymceOptions" ng-model="$ctrl.opening.description" required></textarea>
          <div class="error-message" ng-repeat="error in $ctrl.errors.description" translate>{{ error }}</div>
        </label>
      </div>

      <div class="col-xs-12 col-sm-6">
        <h3 class="col-xs-12" translate>Institution's contact data</h3>
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.company.contact_name }">
          <span translate>Responsible name</span>
          <input type="text" ng-model="$ctrl.opening.company.contact_name" placeholder="{{ 'e.g. HR responsible name' | translate }}">
          <div class="error-message" ng-repeat="error in $ctrl.errors.company.contact_name" translate>{{ error }}</div>
        </label>
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.company.contact_email }">
          <span>{{ 'Contact email' | translate }} <span class="required-message" translate>required field</span></span>
          <input type="email" ng-model="$ctrl.opening.company.contact_email" required>
          <div class="error-message" ng-repeat="error in $ctrl.errors.company.contact_email" translate>{{ error }}</div>
        </label>
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.company.contact_link }">
          <span translate>Contact link</span>
          <input type="url" ng-model="$ctrl.opening.company.contact_link">
          <div class="error-message" ng-repeat="error in $ctrl.errors.company.contact_link" translate>{{ error }}</div>
        </label>
      </div>
    </div>

    <hr class="col-xs-12"/>

    <h3 class="col-xs-12" translate>Opening details</h3>
    <div class="row col-xs-12">
      <label class="col-xs-12 col-sm-4" ng-class="{ 'invalid': $ctrl.errors.salary }">
        <span translate>Salary range (R$)</span>
        <input type="text" ng-model="$ctrl.opening.salary" ng-disabled="$ctrl.opening.salary_to_be_defined">
        <div class="error-message" ng-repeat="error in $ctrl.errors.salary" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-8 checkbox-field" ng-class="{ 'invalid': $ctrl.errors.salary_to_be_defined }">
        <span translate>Salary to be negotiated</span>
        <input type="checkbox" ng-model="$ctrl.opening.salary_to_be_defined">
        <div class="error-message" ng-repeat="error in $ctrl.errors.salary_to_be_defined" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-6" ng-class="{ 'invalid': $ctrl.errors.presence }" style="clear: inline-start;">
        <span translate>Journey type</span>
        <select ng-model="$ctrl.opening.presence" required>
          <option ng-value="null" disabled translate>Select...</option>
          <option ng-repeat="option in $ctrl.options.presence" ng-value="option.slug">{{ option.label }}</option>
        </select>
        <div class="error-message" ng-repeat="error in $ctrl.errors.presence" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-6" ng-class="{ 'invalid': $ctrl.errors.workday }">
        <span translate>Journey</span>
        <select ng-model="$ctrl.opening.workday" required>
          <option ng-value="null" disabled translate>Select...</option>
          <option ng-repeat="option in $ctrl.options.workday" ng-value="option.slug">{{ option.label }}</option>
        </select>
        <div class="error-message" ng-repeat="error in $ctrl.errors.workday" translate>{{ error }}</div>
      </label>
      <label class="col-xs-12 col-sm-6" ng-class="{ 'invalid': $ctrl.errors.contract_type }">
        <span translate>Contract type</span>
        <select ng-model="$ctrl.opening.contract_type" required>
          <option ng-value="null" disabled translate>Select...</option>
          <option ng-repeat="option in $ctrl.options.contract_type" ng-value="option.slug">{{ option.label }}</option>
        </select>
        <div class="error-message" ng-repeat="error in $ctrl.errors.contract_type" translate>{{ error }}</div>
      </label>
    </div>

    <hr class="col-xs-12"/>

    <h3 class="col-xs-12" translate>Basic knowledge</h3>
    <div class="row col-xs-12">
      <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.knowledge }">
        <span translate>Office</span>
        <ui-select multiple theme="bootstrap" ng-model="$ctrl.opening.knowledge" title="{{ 'Choose a tag...' | translate }}">
          <ui-select-match placeholder="{{ 'Choose a tag...' | translate }}">{{ $item.name }}</ui-select-match>
          <ui-select-choices repeat="tag.id as tag in $ctrl.knowledgeOptions | filter: $select.search" group-by="">
            <div ng-bind-html="tag.name | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>{{ 'No tag was found' | translate }}</ui-select-no-choice>
        </ui-select>
        <div class="error-message" ng-repeat="error in $ctrl.errors.knowledge" translate>{{ error }}</div>
      </label>
    </div>

    <hr class="col-xs-12"/>

    <h3 class="col-xs-12" translate>Basic skills</h3>
    <div class="row col-xs-12">
      <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.skills }">
        <span translate>Suggested skills</span>
        <ui-select multiple theme="bootstrap" ng-model="$ctrl.opening.skills" title="{{ 'Choose a tag...' | translate }}">
          <ui-select-match placeholder="{{ 'Choose a tag...' | translate }}">{{ $item.name }}</ui-select-match>
          <ui-select-choices repeat="tag.id as tag in $ctrl.skillOptions | filter: $select.search" group-by="">
            <div ng-bind-html="tag.name | highlight: $select.search"></div>
          </ui-select-choices>
          <ui-select-no-choice>{{ 'No tag was found' | translate }}</ui-select-no-choice>
        </ui-select>
        <div class="error-message" ng-repeat="error in $ctrl.errors.skills" translate>{{ error }}</div>
      </label>
    </div>

    <hr class="col-xs-12"/>

    <div class="col-xs-12">
      <button type="submit" ng-click="$ctrl.saveOpening()" translate>Save</button>
    </div>
  </form>
</div>
</ui-view>
{% endverbatim %}
