{% verbatim %}
<div class="candidates-page page container-fluid">
  <header class="page-header">
    <h2 translate>Students that applied for the opening</h2>
  </header>
  <main>
    <section>
      <p ng-if="!$ctrl.students.length" translate>No results found</p>
      <article class="mentorship-card" ng-repeat="student in $ctrl.shownStudents">
        <div>
          <h4>{{ student.user_profile.name || student.user_profile.username }}</h4>
          <p ng-bind-html="student.resume || student.user_profile.biography"></p>
        </div>
        <div>
          <p class="star-rating__wrapper">
            {{ 'Affinity' | translate }}
            <span class="star-rating" ng-style="{ 'background-image': $ctrl.ratingBackground(4.4) }" title="{{ $ctrl.ratingPercent(4.4) }}">
              <span aria-hidden="true">★★★★★</span>
            </span>
          </p>
          <a ng-href="#!/profile/{{student.user_profile.username}}" translate>See more</a>
        </div>
      </article>
      <button type="button" class="see-more-candidates" ng-if="$ctrl.students.length > $ctrl.shownStudents.length" ng-click="$ctrl.showAllStudents()">
        {{ 'See all candidates' | translate }} <i class="fa fa-chevron-down"></i>
      </button>
    </section>
  </main>
</div>
{% endverbatim %}
