{% verbatim %}
<div class="opening-header">
  <div class="container-fluid">
    <a href="#!/openings"><i class="fa fa-arrow-left"></i> <span translate>Job openings</span></a>
  </div>
</div>
<ui-view>
<div class="opening-page page container-fluid">
  <div class="opening-detail">
    <div class="opening-detail__main">
      <header class="page-header">
        <div class="opening-detail__business-logo">
          <img ng-src="{{$ctrl.opening.company.logo || '/static/img/icons/business-placeholder.svg'}}" alt="{{ $ctrl.opening.company.name }}">
          <p>{{ $ctrl.opening.company.name }}</p>
        </div>
        <div class="opening-detail__header">
          <div>
            <h2>{{ $ctrl.opening.name }}</h2>
            <div class="opening-detail__header-buttons" ng-if="$ctrl.user.is_superuser || $ctrl.user.is_staff">
              <a ng-href="#!/openings/edit/{{$ctrl.openingId}}" translate>
                <i class="fa fa-pencil"></i>{{ 'Edit' | translate }}
              </a>
              <button ng-click="$ctrl.deleteOpening()">
                <i class="fa fa-trash"></i> {{ 'Delete' | translate }}
              </button>
            </div>
            <p class="star-rating__wrapper" ng-if="$ctrl.mode === 'student'">
              {{ 'Affinity' | translate }}
              <span class="star-rating" ng-style="{ 'background-image': $ctrl.ratingBackground($ctrl.opening.user_match) }" title="{{ $ctrl.ratingPercent($ctrl.opening.user_match) }}">
                <span aria-hidden="true">★★★★★</span>
              </span>
            </p>
          </div>
          <div>
            <p>{{ $ctrl.getOption($ctrl.options.workday, $ctrl.opening.workday) }} / {{ $ctrl.getOption($ctrl.options.presence, $ctrl.opening.presence) }}</p>
            <p>{{ 'Published in' | translate }} {{ $ctrl.opening.created_at | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </header>
      <main>
        <h3 translate>Job opening description</h3>
        <div ng-bind-html="$ctrl.opening.description"></div>
        <div class="opening-detail__stats" ng-if="$ctrl.mode === 'mentor'">
          <p><i class="fa fa-eye"></i><span translate translate-n="$ctrl.opening.views" translate-plural="{{$count}} views">1 view</span></p>
          <p><i class="fa fa-flag"></i><span translate translate-n="$ctrl.opening.students.length" translate-plural="{{$count}} interested">1 interested</span></p>
          <p><i class="fa fa-user"></i><span translate translate-n="$ctrl.opening.favorites_count" translate-plural="{{$count}} subscribed">1 subscribed</span></p>
        </div>
        <div class="opening-detail__contact-details" ng-if="$ctrl.opening.is_current_user_applied">
          <h3 translate>Institution's contact data</h3>
          <p ng-if="$ctrl.opening.company.email">{{ 'Email' | translate }}: <a ng-href="mailto:{{ $ctrl.opening.company.email }}">{{ $ctrl.opening.company.email }}</a></p>
          <p ng-if="$ctrl.opening.company.phone_number">{{ 'Phone number' | translate }}: <a ng-href="tel:{{ $ctrl.opening.company.phone_number }}">{{ $ctrl.opening.company.phone_number }}</a></p>
          <p style="margin-top: 22px" ng-if="$ctrl.opening.company.contact_name">{{ $ctrl.opening.company.contact_name }}</p>
          <p ng-if="$ctrl.opening.company.contact_email">{{ 'Email' | translate }}: <a ng-href="mailto:{{ $ctrl.opening.company.contact_email }}">{{ $ctrl.opening.company.contact_email }}</a></p>
          <p ng-if="$ctrl.opening.company.contact_link">{{ 'Link' | translate }}: <a ng-href="{{ $ctrl.opening.company.contact_link }}">{{ $ctrl.opening.company.contact_link }}</a></p>
        </div>
      </main>
    </div>
    <div class="opening-detail__benefits">
      <div class="opening-detail__benefits-bg">
        <div class="opening-detail__list">
          <p>
            <img src="/static/img/icons/payment.svg" alt="{{ 'Payment' | translate}}">
            <span ng-if="$ctrl.opening.salary_to_be_defined">{{ 'Salary to be negotiated' | translate }}</span>
            <span ng-if="!$ctrl.opening.salary_to_be_defined">{{ $ctrl.opening.salary }}</span>
          </p>
          <p ng-if="$ctrl.cityName">
            <img src="/static/img/icons/location.svg" alt="{{ 'Location' | translate }}">
            <span>{{ $ctrl.cityName }}</span>
          </p>
          <p>
            <img src="/static/img/icons/regime.svg" alt="{{ 'Work regime' | translate }}">
            <span>{{ $ctrl.getOption($ctrl.options.contract_type, $ctrl.opening.contract_type) }}</span>
          </p>
        </div>
        <!--
        <h4 translate>Benefits</h4>
        <div class="opening-detail__list">
          <p><img src="/static/img/icons/health-care.svg" alt=""> Plano de saúde</p>
          <p><img src="/static/img/icons/dental-care.svg" alt=""> Plano odontológico</p>
          <p><img src="/static/img/icons/meal-ticket.svg" alt=""> Vale alimentação</p>
          <p><img src="/static/img/icons/transportation-ticket.svg" alt=""> Vale transporte</p>
        </div>
        -->
        <h4 translate>Tags</h4>
        <div class="opening-detail__tags">
          <ul>
            <li ng-repeat="knowledge in $ctrl.opening.knowledge">{{ $ctrl.getOption($ctrl.knowledgeOptions, knowledge) }}</li>
            <li ng-repeat="skill in $ctrl.opening.skills">{{ $ctrl.getOption($ctrl.skillOptions, skill) }}</li>
          </ul>
        </div>
        <hr/>
        <div ng-if="$ctrl.mode === 'mentor'">
          <a class="opening-detail__see-candidates" ng-href="/#!/openings/{{$ctrl.openingId}}/candidates" translate>Subscribed students</a>
        </div>
        <div class="opening-detail__favorite" ng-if="$ctrl.mode === 'student'">
          <button ng-class="{ 'favorite': $ctrl.favoriteId }" ng-click="$ctrl.toggleFavorite()">
            <i class="fa fa-flag"></i> {{ $ctrl.favoriteId ? 'Undo favorite' : 'Favorite' | translate }}
          </button>
          <p><i class="fa fa-user"></i><span translate translate-n="$ctrl.opening.students.length" translate-plural="{{$count}} interested">1 interested</span></p>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.mode === 'student'">
      <div class="opening-detail__already-applied" ng-if="$ctrl.opening.is_current_user_applied" translate>You've already shown interest in this opening</div>
      <button class="opening-detail__apply" ng-click="$ctrl.applyToJob()" ng-if="!$ctrl.opening.is_current_user_applied" translate>Apply</button>
      <p class="opening-detail__apply-notice">
        {{ 'You should contact the organization to actually apply to the opening.' | translate }}<br/>
        {{ 'Only clicking on Apply does not imply that you will be competing for the job.' | translate }}
      </p>
    </div>
  </div>
</div>
</ui-view>
{% endverbatim %}
