// Helpers
// --------------------------------------------------
// generic and multi-purpose classes and placeholders

//== Icon's placeholders
//
%icon {
    &-add {
        @include icon(before, add);
    }
    &-add-image {
        @include icon(before, thumbnail);
    }
    &-add-video {
        @include icon(before, video);
    }
    &-angle-right {
        @include icon(after, angle-right);
    }
    &-attention {
        @include icon(before, attention);
    }
    &-backward {
        @include icon(before, backward);
    }
    &-bar-chart {
        @include icon(before, bar-chart);
    }
    &-briefcase {
        @include icon(before, briefcase);
    }
    &-calendar {
        @include icon(before, calendar);
    }
    &-caret-down {
        @include icon(after, caret-down);
    }
    &-caret-up {
        @include icon(after, caret-up);
    }
    &-chevron-down {
        @include icon(after, chevron-down);
    }
    &-chevron-left {
        @include icon(before, chevron-left);
    }
    &-chevron-right {
        @include icon(before, chevron-right);
    }
    &-chevron-up {
        @include icon(after, chevron-up);
    }
    &-chat {
        @include icon(before, chat);
    }
    &-checked {
        @include icon(before, checked);
    }
    &-checkmark {
        @include icon(before, checkmark);
    }
    &-compress {
        @include icon(after, compress);
    }
    &-courses {
        @include icon(before, courses);
    }
    &-delete {
        @include icon(before, delete);
    }
    &-discussion {
        @include icon(before, discussion);
    }
    &-download {
        @include icon(before, download);
    }
    &-edit {
        @include icon(before, edit);
    }
    &-expand {
        @include icon(after, expand);
    }
    &-file {
        @include icon(before, file);
    }
    &-film {
        @include icon(before, film);
    }
    &-filter {
        @include icon(before, filter);
    }
    &-forum {
        @include icon(before, forum);
    }
    &-forward {
        @include icon(after, forward);
    }
    &-goback {
        @include icon(before, goback);
    }
    &-group {
        @include icon(before, group);
    }
    &-help {
        @include icon(before, help);
    }
    &-home {
        @include icon(before, home);
    }
    &-lightbulb {
        @include icon(before, lightbulb);
    }
    &-like {
        @include icon(before, like);
    }
    &-link {
        @include icon(before, link);
    }
    &-list {
        @include icon(before, list);
    }
    &-login {
        @include icon(before, login);
    }
    &-logout {
        @include icon(before, logout);
    }
    &-materials {
        @include icon(before, materials);
    }
    &-messages {
        @include icon(before, messages);
    }
    &-map-pin {
        @include icon(before, map-pin);
    }
    &-new-topic {
        @include icon(before, new-topic);
    }
    &-notes {
        @include icon(before, notes);
    }
    &-notifications {
        @include icon(before, notifications);
    }
    &-occupation {
        @include icon(before, occupation);
    }
    &-profile {
        @include icon(before, profile);
    }
    &-record {
        @include icon(before, record);
    }
    &-register {
        @include icon(before, register);
    }
    &-reply {
        @include icon(before, reply);
    }
    &-repositories {
        @include icon(before, repositories);
    }
    &-schedule {
        @include icon(before, schedule);
    }
    &-search {
        @include icon(before, search);
    }
    &-see-more {
        @include icon(before, eye);
    }
    &-site {
        @include icon(before, site);
    }
    &-sort {
        @include icon(before, sort);
    }
    &-stats {
        @include icon(before, stats);
    }
    &-times {
        @include icon(before, times);
    }
    &-tools {
        @include icon(before, tools);
    }
    &-trash {
        @include icon(before, trash);
    }
    &-undo {
        @include icon(before, undo);
    }
    &-use {
        @include icon(before, use);
    }
    &-certificate {
        @include icon(before, certificate);
    }
    &-comments {
        @include icon(before, comments);
    }
    &-briefcase {
        @include icon(before, briefcase);
    }
    &-arrow-left {
        @include icon(before, arrow-left);
    }
    &-arrow-right {
        @include icon(before, arrow-right);
    }
    &-cog {
        @include icon(before, cog);
    }
    &-bell {
        @include icon(before, bell);
    }
    &-bell-o {
        @include icon(before, bell-o);
    }
    &-bullhorn {
        @include icon(before, bullhorn);
    }
    &-language {
        @include icon(before, language);
    }
    &-comment {
        @include icon(before, comment);
    }
    &-tag {
        @include icon(before, tag);
    }
    &-clock {
        @include icon(before, clock);
    }
    &-ellipsis-v {
        @include icon(before, ellipsis-v);
    }
    &-question-circle {
        @include icon(before, question-circle);
    }
    &-info-circle {
        @include icon(before, info-circle);
    }
    &-envelope {
        @include icon(before, envelope);
    }
    &-pencil {
        @include icon(before, pencil);
    }
    &-tag {
        @include icon(before, tag);
    }
}

// List styles

%list-inline {
    padding-left: 0;
    list-style: none;
    margin: 0 0 0 -5px;

    li {
        display: inline-block;
    }
}

// notification bubble
.notification-bubble {
    display: block;
    background-color: $brand-secondary;
    border-radius: 100%;
    color: #fff;
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    position: absolute;
    top: -3px;
    right: -15px;
    text-align: center;
    width: 15px;
}

.notification-mark {
    align-items: center;
    background-color: $brand-secondary;
    border-radius: 50%;
    color: white;
    display: inline-flex;
    justify-content: center;
    min-width: 2em;
    padding: 3px;
}

// this class exists to circunvent a flash + youtube api error
// in which if the video div is really hidden the api breaks
.hidder {
    position: absolute;
    left: -3000px;
}
