.complete-profile-page {
  background-color: white;
  background-image: url('/static/img/compass-left.svg');
  background-position: top left;
  background-repeat: no-repeat;

  h1 {
    color: $brand-secondary;
    font-size: 32px;
    margin: 0 auto 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.complete-profile-card {
  background: rgba(#ACB4B8, 0.53);
  border-radius: 30px;
  margin: 30px auto;
  max-width: $screen-xs-min;
  padding: 20px;
  width: 100%;

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr;

    & > :nth-child(2) {

      a {
        background-color: $brand-secondary;
        border-radius: 16px;
        color: white;
        display: block;
        font-weight: bold;
        margin-top: 20px;
        padding: 5px;
        text-align: center;
      }
    }
  }

  &__image {

    & > div {
      background-color: white;
      padding: 10px;
    }

    img {
      height: 160px;
      object-fit: cover;
      width: 160px;

      @media screen and (max-width: $screen-xs-max) {
        height: 120px;
        width: 120px;
      }
    }

    a {
      color: inherit;
      display: block;
      margin-top: 10px;
      text-align: center;
    }
  }

  &__name {
    color: $brand-secondary;
    font-family: $headings-font-family;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.complete-profile-form {

  h2 {
    border-bottom: 2px solid #D9D9D9;
    color: $brand-secondary;
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.25em;
    padding-inline: 20px;
    text-transform: uppercase;
  }

  .row {
    padding-inline: 0;
  }

  hr {
    border-top: 2px solid #D9D9D9;
    margin-block: 40px;

    & + h3 {
      margin-top: 0;
    }
  }

  label {

    & > span {
      display: block;
      font-weight: normal;
      margin-block: 10px;
      padding-inline: 20px;
    }

    input, select, .ui-select-container, textarea {
      padding: 10px 20px;
      width: 100%;
    }

    input, select, .ui-select-container {
      background-color:  rgba(#ACB4B8, 0.53);
      border-radius: 40px;
      border: none;
    }

    .ui-select-container {

      &.ng-not-empty:not(.open) {

        .ui-select-search {
          display: none;
        }
      }

      .ui-select-match-item {
        background-color: white;
        border: 1px solid #333 !important;
        color: #333;
        font-weight: normal;
        padding: 5px 20px;
      }
    }

    textarea {
      background-color: transparent;
      border-radius: 8px;
      border: 1px solid #DDD;
    }

    &.invalid {

      input, select, .ui-select-container {
        background-color: rgba(#FFB4B8, 0.53);
      }

      .error-message {
        color: $brand-danger;
        font-weight: normal;
        padding-inline: 20px;
      }
    }

    .required-message {
      color: $brand-danger;
      display: inline-block;
      margin-inline-start: 10px;

      &::before {
        content: '*';
      }
    }
  }

  .add-more-option {
    background-color: $orange;
    border: 0;
    border-radius: 30px;
    color: white;
    display: block;
    font-weight: bold;
    margin: 20px auto;
    padding: 5px 20px;
    text-transform: uppercase;
  }

  button[type="submit"] {
    background-color: $brand-success;
    border: 0;
    border-radius: 30px;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto;
    padding: 5px 40px;
  }
}
