// Shared course header
// --------------------------------------------------

.main-header {
    color: #333;
    background-color: $orange;
    z-index: 5;

    .page-header {
        border: 0;
        margin: 0;
        h1 {
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
            span {
                display: inline-block;
            }
        }
    }
    .message {
        background-color: red;
    }
    .course-name {
        font-size: 16px;
        margin-top: -5px;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 22px;
        }
    }
    .course-title {
        margin-top: 23px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: $font-family-sans-serif;
    }
    .course-slug {
        margin-bottom: 5px;
        label {
            color: inherit;
            font-weight: normal;
        }
    }
    .course-details {
        font-size: $font-size-small;
        margin-top: 5px;
        text-transform: uppercase;
        .label {
            color: $gray;
            font-weight: normal;
            padding: 0;
            font-size: inherit;
        }
        a {
            color: $brand-secondary;
            &:hover {
                color: darken($brand-secondary, 10%);
            }
            &.course-instructor:after {
                content: " // ";
                color: black;
                margin-right: 3px;
            }
            &:last-child:after {
                content: "";
            }
        }
    }
    .course-sections {
        z-index: 2020;
        opacity: 1;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: #333;
        background-color: $brand-tertiary;

        @media screen and (min-width: $screen-xs-min) {
            z-index: 10;
            border: 0;
            margin: 0;
            color: #333;
            text-align: right;
            position: relative;
            background-color: transparent;
        }
        .active, a:hover {
            color: #333;
            background-color: #eeeeee80;
        }
        a {
            color: #333;
            display: inline-block;
            font-size: 9px;
            font-weight: $bold;
            height: 65px;
            margin-left: -1%;
            padding: 4%;
            vertical-align: top;
            text-align: center;
            width: 24.1%;

            @media screen and (min-width: $screen-xs-min) {
                height: auto;
                font-size: 10px;
                padding: 2.5% 4%;
            }
            @media screen and (min-width: $screen-sm-min) {
                @include link-hover(#333, #333, transparent, #333);
                margin: 0 5px;
                padding: 0;
                width: auto;
            }
            @media screen and (min-width: $screen-md-min) {
                @include link-hover(#333, #333, transparent, #333);
                margin: 0 8px;
            }
            &:before {
                display: block;
                @include link-hover(#333, #333, transparent, #333);
                font-size: $font-size-large;
            }
        }
        &.admin-menu {
            a {
                @media screen and (min-width: $screen-sm-min) {
                    padding: 42px 10px;
                    display: inline-block;
                    width: auto;
                }
                @media screen and (min-width: $screen-md-min) {
                    padding: 42px 10px;
                    display: inline-block;
                    width: auto;
                }
            }
        }
        .intro {
            @extend %icon-home;
        }
        .materials {
            @extend %icon-materials;
        }
        .notes {
            @extend %icon-pencil;
        }
        .resume {
            @extend %icon-film;
        }
        .tools {
            @extend %icon-ellipsis-v;
        }
        .forum {
            @extend %icon-comments;
        }
        .dropdown {
            display: none;
            @media screen and (min-width: $screen-sm-min) {
                display: inline-block;
                float: none;
                height: auto;
                padding: 0;
                width: auto;
            }
            .tools {
                display: inline-block;
                border: 0 !important;
                width: auto;
                padding: 25%;
                @media screen and (min-width: $screen-sm-min) {
                    padding: 42px 10px;
                }
            }
            .dropdown-menu {
                z-index: 1000;
                border: 0;
                border-radius: 0;
                padding: 0;
                li {
                    a {
                        @include button-hover($text-color, $brand-tertiary, lighten($gray-secondary, 15%), $gray-secondary);
                        border: 0;
                        font-size: $font-size-small;
                        height: auto !important;
                        margin: 0;
                        max-width: auto;
                        padding: 6px 12px;
                        text-align: left;
                        width: 100%;
                    }
                    &:nth-child(even) {
                        a {
                            @include button-hover($text-color, $brand-tertiary, lighten(gray, 30%), gray);
                        }
                    }
                }
            }
        }
    }
    .stage-carousel {
        background-color: #f5f5f5;
    }
    .lesson-current-unit-container {
        display: flex;
        min-height: 62px;
        text-align: center;
    }
    .lesson-current-unit {
        width: 100%;
        color: $brand-tertiary;
        background-color: #F5F5F5;
        font-family: 'Cabin 700';
        font-size: 20px;
        .title-unit {
            color: #333333;
            font-family: 'Cabin 500';
            font-size: 12px;
            letter-spacing: 0;
            line-height: 14px;
        }
    }
    .lesson-current-unit-right, .lesson-current-unit-left {
        width: 36px;
        cursor: pointer;
        background-color: $brand-secondary;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }

    lesson-current-unit-right:disabled,
    .lesson-current-unit-left:disabled {
        background-color: #cdcdcd;
        color: #333;
        cursor: not-allowed;
    }
    .lesson-units {
        margin-top: 5px;
        .lesson-list-dropdown {
            .dropdown-toggle {
                background: transparent;
                border: 0;
                box-shadow: none;
                font-size: $font-size-small;
                padding: 0;
                text-align: left;
                width: 100%;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                .lesson-name {
                    @extend %icon-caret-down;
                    &:after {
                        margin-left: 5px;
                    }
                }
            }
            .dropdown-menu {
                border: 0;
                border-radius: 0;
                border-top: 2px solid $gray-light;
                background-color: $gray-lighter;
                font-size: $font-size-small;
                margin-top: 10px;
                padding: 0;
                width: 100%;
                @media screen and (min-width: $screen-lg-min) {
                    font-size: 16px;
                }
                li {
                    a {
                        color: $text-color;
                        padding: 10px 15px;
                        white-space: normal;
                    }
                    &:nth-child(even) {
                        a {
                            background-color: darken($gray-lighter,10%);
                            &:hover {
                                background-color: darken($gray-lighter,15%);
                            }
                        }
                    }
                }
            }
        }
    }
}

.release-message {
    text-align: center;
    padding: 40px;
    font-size: 20px;
}

.lesson-units-mobile, .lesson-units-nav-mobile {
    border: 1px solid darken($brand-secondary, 10%);
    border-radius: 14px;
    display: block;
    font-size: $font-size-small;
    height: 26px;
    margin-top: 5px;
    padding: 0 10px;
    .lesson-breadcrumb {
        display: block;
        margin-top: 3px;
    }
    .form-control {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        color: black;
        float: left;
        font-size: $font-size-small;
        font-weight: $bold;
        height: 18px;
        margin-top: -18px;
        padding: 0 0 0 50px;
        position: relative;
        z-index: 1;
    }
}

.help-text {
    font-size: 11px;
    margin: 10px 0 5px 0;
}

// Course content (used on course intro and lesson page)
// -----------------------------------------------------

.logged .course {
    @media screen and (min-width: 1025px) {
        margin-top: -30px;
    }
}

.anonymous .course {
    .main-header {
        padding-bottom: 20px;
        padding-top: 80px;
    }
}

.course {
    .page {
        @media screen and (min-width: $screen-lg-min) {
            margin-top: 30px;
        }
        .page-header {
            h1, h2, h3, h4, h5, h6 {
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 22px;
                    line-height: 27px;
                }
            }
            &.content-space {
                margin-bottom: 30px;
            }
            .btn {
                float: right;
                margin-top: 10px;
                @media screen and (min-width: $screen-sm-min) {
                    margin-top: 0px;
                }
            }
            .row:last-child {
                margin-top: 20px;
            }
        }
    }
}

.course-content {
    font-size: 16px;
    margin: 0 auto 65px auto;
    padding: 20px 30px 50px 20px;

    @media screen and (min-width: $screen-xs-min) {
        margin: 20px auto;
        padding: 0;
    }
    @media screen and (min-width: $screen-sm-min) {
        margin: 0 auto 65px auto;
        padding: 20px 30px 20px 20px;
    }

    // COURSE SUMMARY - Course intro
    // ********************************************************************* //
    .summary {
        .btn-info .text-info {
            // data selecionada dentro do datepicker
            color: #FFFFFF;
        }
    }
    // COURSE LESSONS - Course intro
    // ********************************************************************* //
    .lessons {
        margin-top: 20px;
        .lesson {
            @media screen and (min-width: $screen-sm-min) {
                margin: 20px 0 40px 0;
            }
            .title {
                display: block;
                font-size: 16px;
                font-weight: regular;
            }
            .description {
                font-size: 13px;
                margin-top: 10px;
                padding-bottom: 10px;
            }
            .editable {
                ul {
                    margin: 0 0 15px 0;
                    padding: 0 0 0 29px;
                    li {
                        margin: 0;
                    }
                }
            }
            li {
                margin: 36px 0;
            }
        }
        // END LESSON
        .table {
            margin-bottom: 7px;
            tr {
                td {
                    border: none;
                    margin: 0;
                    padding: 0;
                    a {
                        color: #FFFFFF;
                    }
                }
            }
        }
        // END TABLE
        i.fa-youtube-play {
            color: $brand-danger;
        }
        i.fa-list {
            color: $brand-info;
        }
    }
    // END LESSONS
    .next-lesson {
        background-color: rgba($gray,0.3);
        height: 347px;
        padding: 30px;
        text-align: center;
        @media (min-width: $screen-lg-min) {
            height: 423px;
        }
        &:before {
            content: '';
            height: 100%;
            @include vertical-align(middle);
        }
        .centered {
            @include vertical-align(middle);
            width: 98%;
        }
    }
    .file-title {
        margin-top: 20px;
    }

    .certification {
        margin: 20px 0;

        h3 {
            align-items: center;
            display: flex;
        }

        i.fa {
            color: $brand-primary;
            font-size: 24px;
            margin-right: 8px;
        }
    }

    // COURSE INSTRUCTORS - Course intro
    // ********************************************************************* //
    .instructors {
        margin-top: 20px;
        .instructor-header {
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-gap: 10px;
            margin-bottom: 7px;
        }
        .instructor {
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .fullname {
            color: #000;
            font-family: $font-family-sans-serif;
            font-size: 14px;
            font-weight: $bold;
            text-transform: none;
        }
        .bio-text {
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            white-space: normal;
            -webkit-box-orient: vertical;
        }
        .job-title {
            border-bottom: 1px solid $gray-lighter;
            @include bottom(9px, 9px);
            font-size: 14px;
        }
        .instructor-photo {
            img {
                width: 200px;
                height: 200px;
                object-fit: contain;
            }
        }
        .instructor-wrapper {
            display: block;
            overflow: hidden;
            &:hover {
                .editable {
                    background-color: lighten($brand-warning, 40%);
                }
                .instructor-photo {
                    img {
                        opacity: 0.8;
                    }
                }
            }
        }
        .missing-avatar {
            border: 1px solid #ddd;
            text-align: center;
            &:before {
                content: '';
                @include vertical-align(middle);
            }
            .centered {
                margin: -16px 4px 4px 4px;
                @include vertical-align(middle);
                @include calculate-width(8px);
                i {
                    background: #ddd;
                    color: #c0c0c0;
                    display: block;
                    font-size: 72px;
                    padding: 27px 0;
                }
            }
        }
        // END INSTRUCTOR
    }
    // END INSTRUCTORS
    // COURSE THUMBNAIL - General
    // ********************************************************************* //
    .thumbnail {
        border: 1px solid $gray-lighter;
        padding: 0;
        #admin & {
            @include top(20px);
        }
        .thumbnail-title {
            margin: 2px 10px 0;
        }
        .btn-edit-thumbnail {
            margin: 5px;
        }
        .add-thumbnail {
            text-align: center;
        }
    }
    .uploaded-lesson-thumbnail {
        max-height: 845px;
        max-width: 845px;
        margin-bottom: 30px;
        overflow: auto;
    }
    // END COURSE VIDEO
    // COURSE VIDEO - General
    // ********************************************************************* //
    .course-video {
        margin: 0 auto 0px;
        max-width: 720px;
    }
    .video,
    .activity,
    .course-thumbnail {
        margin-top: 10px;
        // padding: 15px;
        .video-title {
            background-color: $gray-lighter;
            margin: 10px 0 0 10px;
        }
        .btn-edit-video {
            margin: 5px 10px 0 0;
        }
        .img-responsive {
            margin: 10px auto;
        }
    }
    // END COURSE VIDEO
    .mobile {
        margin: 0 20px;
        @media screen and (min-width: $screen-sm-min) {
            display: none;
        }
    }
    .desktop {
        display: none;
        @media screen and (min-width: $screen-xs-max) {
            display: block;
        }
    }
    .video-download-title {
        padding: 5px 20px;
    }
}

// Course notes
// -----------------------------------------------------
.create-note {
    position: fixed;
    bottom: 40px;
    right: 0;
    width: 75px;
    margin: 0 40px 40px 0;
    text-align: center;
    color: $brand-primary;
    z-index: 1;

    @media screen and (min-width: $screen-xs-min) {
      bottom: 0;
    }

    strong {
        margin-top: 5px;
        font-size: 12px;
        size: 12px;
        white-space: nowrap;
        @media screen and (min-width: $screen-sm-min) {
            line-height: 14px;
            font-size: 12px;
        }
    }
}
.note-circle-btn {
    height: 45px;
    width: 45px;
    background-color: $brand-primary;
    border-radius: 50%;
    display: inline-block;
    color: white;
    border: 0;
    @media screen and (min-width: $screen-sm-min) {
        height: 55px;
        width: 55px;
    }
}
.show-note {
    float: right;
}

.student-notes {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    max-width: $lesson-size-page;
    z-index: 1;
    @media screen and (min-width: $screen-sm-min) {
        left: 120px;
    }
    .expand-btn {
        margin: 80px;
        background-color: red;
    }
    .notes-container {
        border: 4px solid $brand-primary;
        border-style: solid solid hidden solid;
        background-color: #F5F5F5;
        border-radius: 0;
        position: fixed;
        bottom: 65px;
        right: 0;
        left: 0;
        margin: 0 auto;
        max-width: $lesson-size-page;
        @media screen and (min-width: $screen-xs-min) {
            left: 80px;
            bottom: 0;
        }
        @media screen and (min-width: $screen-sm-min) {
            left: 120px;
            bottom: 0;
        }
        .notes-header {
            background-color: #F5F5F5;
            border-radius: 10px 10px 0 0;
            padding: 10px 15px;
            h4 {
                color: $brand-primary;
                display: inline-block;
                font-family: $font-family-sans-serif;
                font-size: 16px;
                font-weight: $bold;
                margin: 0 10px 0 0;
            }
            .all-notes {
                @extend %icon-angle-right;
                display: none;
                font-size: $font-size-small;
                line-height: $font-size-small;
                color: $brand-tertiary;
                &:after {
                    margin-left: 5px;
                }
                @media screen and (min-width: $screen-sm-min) {
                    display: inline-block;
                }
            }
            .btn {
                font-weight: $semi-bold;
            }
            .save {
                float: right;
                margin: -2px 15px 0 0;
                &:before {
                    vertical-align: middle;
                }
            }
            .hide-note {
                float: right;
                margin: -2px 0 0 0;
            }
        }
        .notes-content {
            padding: 15px;
            textarea {
                border: 3px;
                width: 100%;
            }
            .buttons-modal {
                padding: 10px;
            }
        }
    }

    .notes-success-message {
        background: $brand-success;
        border-radius: 20px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        color: #fff;
        font-family: $font-family-sans-serif;
        font-size: 16px;
        font-weight: $bold;
        left: 50%;
        margin-left: -125px;
        padding: 5px 13px;
        position: absolute;
        top: 50%;
    }
}

.release-settings {
    display: inline-block;
    color: white;
    .dark {
        color: #333333;
    }
    @media screen and (min-width: $screen-sm-min) {
        display: grid;
        grid-template-columns: 130px 270px 130px 200px;
        padding-bottom: 30px;
        align-items: center;
    }
    .input-style {
        color: #333333;
        height: 30px;
        border-radius: 5px;
        padding: 10px;
    }
    .release-button {
        margin-top: 30px;
    }
    .date-form {
        max-height: 31px;
    }
}

.main-nav-opened {
    .student-notes {
        left: 250px;
        .notes-container {
            left: 250px;
        }
    }
}

// Course units navigation
// -----------------------------------------------------

.course {
    .lesson-units-nav {
        display: block;
        position: relative;
        .line {
            background: $lesson-units-primary-color;
            height: 3px;
            width: 10px;
        }
        .progress {
            background: $lesson-units-primary-color;
            border-radius: 0;
            box-shadow: none;
            height: 3px;
            margin-bottom: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: -1;
            .progress-bar {
                background: $brand-primary;
            }
        }
        .container-fluid {
            margin-top: -3px;
            max-width: 1050px !important;
        }
    }
    .units-z {
        z-index: 0 !important;
    }
    .units {
        position: relative;
        font-family: "Open Sans";
        width: 100%;
        z-index: 1;
        .units-title {
            background: $brand-primary;
            color: #fff;
            display: block;
            float: left;
            font-size: $font-size-base;
            font-weight: $semi-bold;
            height: 25px;
            margin-top: -12px;
            padding: 2.5px 10px;
            text-align: center;
            border-radius: 10px;
        }
        .unit {
            @include button-hover(#333333, #333333, $lesson-units-secondary-color, $lesson-units-secondary-color);
            border-radius: 100%;
            display: block;
            float: left;
            font-size: $font-size-base;
            font-weight: $semi-bold;
            height: 20px;
            margin: -10px 0 20px 3%;
            text-align: center;
            width: 20px;
            &.current {
                box-sizing: border-box;
                height: 29px;
                font-size: 16px;
                margin-top: -12px;
                padding: 2px;
                width: 29px;
                span {
                    border: 2px solid #fff;
                    border-radius: 100%;
                    display: block;
                    height: 25px;
                    width: 25px;
                    @include transition(all 0.5s ease);
                }
            }
            &.current {
                background-color: $brand-primary;

                span {
                    @include button-hover(white, white, $brand-primary, $brand-primary);
                }
            }
            &.done {
                span {
                    @include button-hover(#333333, #333333, $lesson-units-primary-color, $lesson-units-primary-color);
                }
            }
            span {
                border-radius: 100%;
                display: block;
                height: inherit;
                width: inherit;
            }
        }
        // END UNIT
        // ADD UNIT
        .add-unit {
            background-color: $brand-success;
            padding: 0;
            text-align: center;
            &:hover {
                background-color: darken($brand-success, 10%);
            }
            i {
                position: static;
            }
        }
        // END ADD UNIT
    }
    // END COURSE UNITS
    .lesson-list {
        .primary-page-header {
            h3 {
                display: inline-block;
                margin: 0 15px 15px 0;
                vertical-align: middle;
            }
        }
        .lesson {
            background: transparent;
            margin-bottom: 30px;

            @media screen and (min-width: $screen-sm-min) {
                margin: 0 0 30px 5px;
            }

            .img-responsive {
                margin-left: -20px;
                max-width: 130%;
            }
            .title {
                color: $brand-tertiary;
                font-family: $font-family-sans-serif;
                font-size: $font-size-large;
                font-weight: $bold;
                margin: 0 0 10px;
                @media screen and (min-width: $screen-xs-min) {
                    font-size: $font-size-large;
                }
            }
            .description {
                color: #0A0A0A;
                font-size: $font-size-base;
                @media screen and (min-width: $screen-xs-min) {
                    font-size: 16px;
                }
            }
            .options {
                margin-bottom: 10px;
                text-align: right;
                @media screen and (min-width: $screen-sm-min) {
                    .btn + .btn {
                        margin-top: 10px;
                    }
                }
                .lesson-status {
                    margin-bottom: 10px;
                    @media screen and (min-width: $screen-sm-min) {
                        .btn + .btn {
                            margin-top: 0px;
                        }
                        .fa {
                            font-size: 15px;
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }
}

.course-lesson {
    .lesson-content {
        font-size: 16px;
        margin: 20px auto;
        max-width: $lesson-size-page;
        //padding: 0 20px;

        .lesson-info {
            margin-top: 30px;
            .page-header {
                margin-bottom: 20px;
            }
            .lesson-materials {
                margin-top: 20px;
            }
        }

        img {
          height: auto;
          max-width: 100%;
        }
    }
    .live-lesson-content {
        margin: 0 auto;
        max-width: 1220px !important;
        height: 100%;

        #live-chat {
            height: 300px;
            width: 100%;
        }

        @media screen and (min-width: 800px) {
            .video {
                float: left;
                width: 70%;
            }

            #live-chat {
                width: 30%;
                height: 500px;
            }
        }

        @media screen and (min-width: 1200px) {
            .video {
                float: left;
                width: 70%;
            }

            #live-chat {
                width: 30%;
                height: 700px;
            }
        }
    }
}

.unit-name {
    color: #000;
    font-size: 25px;
    margin-top: 0px;
}

.course-intro {
    .course-content {
        font-size: 14px;
        max-width: 1050px !important;
        padding: 20px 0px 0px 0px;

        .course-info {
            margin-bottom: 40px;
            @media screen and (min-width: $screen-md-min) {
                display: flex;
            }
            .column {
                background-color: $gray-lighter;
                box-sizing: border-box;
                padding: 20px;
                @media screen and (min-width: $screen-xs-min) {
                    padding: 30px;
                }
                @media screen and (min-width: $screen-md-min) {
                    width: 60%;
                }
                &:last-child {
                    background-color: darken($gray-lighter,5%);
                    @media screen and (min-width: $screen-md-min) {
                        width: 40%;
                    }
                }
            }

            .another-info {
                margin-top: 30px;
            }
        }
    }
}

.course-stats {
    .students, .lessons {
        margin: 20px 0 60px 0;
        padding: 0;
        list-style: none;
    }
    .students li {
        margin-bottom: 20px;
    }
    .search-buttons {
        margin: 10px 0 0 5px;
    }
    .tabs-content {
        margin-top: 0px;
        @media screen and (min-width: $screen-sm-min) {
            margin-top: 50px;
        }
    }
}

// UPLOADED FILES LIST
ul.uploaded-files-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.course-material {
    @media (max-width: $screen-xs-min) {
        blockquote {
            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 14px;
            }
        }
    }
    .uploaded-files-list {
        h4 {
            font-family: $font-family-sans-serif;
            font-size: 16px !important;
            font-weight: $bold;
            color: $brand-link-color;

        }
        a {
            display: block;
            font-size: 16px !important;
            font-weight: $bold;
            margin-top: 20px !important;

        }
        button {
            color: white;
            font-size: 12px !important;
            margin-left: 5px;
        }
        p {
            color: #888888 !important;
            font-size: 14px !important;
            font-weight: $normal;
            margin-bottom: 0px !important;
        }
        .file-link {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
        .file-edit {
            @media (max-width: $screen-xs-min) {
                display: inline-flex !important;
                margin-left: 10px;
            }
        }
        .edit-material {
            margin-bottom: 10px;
        }
    }
}
