.dashboard {
  .btn.see-all-btn {
    background-color: $brand-success;
    color: white;
    margin-top: 1em;
  }

  .messages-list {
    background-image: none;
    margin: 30px auto 20px;
  }
}

.dashboard-header {
  background-color: rgba(black, 0.5);
  background-image: url('/static/img/dashboard-header.png');
  background-position: center;
  background-size: cover;

  & > div {
    margin: auto;
    max-width: 1050px;
    padding: 120px 20px 80px;
  }

  p {
    color: white;
    font-size: 32px;
    font-weight: bold;
    line-height: initial;
    max-width: 700px;
    text-wrap: balance;
  }

  .btn {
    background-color: $brand-warning;
  }
}

.widget-title-dashboard {
  color: $brand-secondary;
  font-size: 24px;
  margin-top: 24px;
  text-transform: uppercase;
}

.dashboard-list-course {
  background-color: white;
  background-image: url('/static/img/compass-left.svg');
  background-position: center left;
  background-repeat: no-repeat;

  .grid-container {
    display: none;
  }
}

.dashboard-list-openings {
  background-color: $brand-tertiary;
  padding: 10px 0 30px;

  .my-openings-header {

    p {
      color: white;
    }
  }

  .widget-title-dashboard {
    color: white;
  }
}

.dashboard-announcement {
  margin: 40px auto;
}

.dashboard-events {
  background-color: #EBBE82D9;

  .widget {
    background-color: transparent;
  }

  .btn {
    background-color: $brand-success;
    color: white;
  }
}

.forum-list-dashboard {

  & > * {
    margin-bottom: 1em;
  }

  .grid-item {

    & > a {
      font-weight: bold;
    }

    & > .pull-right {
      margin-top: -0.5em;
    }
  }
}
