.opening-edit-page {
  background-image: none;

  h1 {
    border-bottom: 2px solid #D9D9D9;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.opening-edit-form {

  label {

    &.checkbox-field {
      accent-color: black;
      align-items: center;
      display: flex;
      flex-direction: row-reverse;
      padding-top: 3em;

      & > span {
        flex: 1;
        margin: 0;
      }

      input {
        flex: 0;
      }
    }
  }
}
