// Forums' pages
// --------------------------------------------------

.forums-page {
    .widget-header {
        margin-bottom: 20px;
        .widget-title {
            display: inline-block;
            @media screen and (max-width: $screen-xs-max) {
                line-height: 27px;
                margin-bottom: 20px;
            }
        }
        .new-topic {
            @media screen and (min-width: $screen-sm-min) {
                margin: -12px 0 0 0;
            }
        }
    }
}

.widget-topbar {
    &.breadcrumb {
        .line {
            .new-topic {
                margin-right: 10px;
            }
            .goback {
                @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
            }
        }
    }
}

.comments-form {
    margin: 20px 0 10px;
    overflow: hidden;
    width: 100%;
    .tools {
        button {
            border: 1px solid $gray-light;
            border-radius: 5px 5px 0 0;
            border-bottom: 0;
            height: 30px;
            line-height: 18px;
            text-align: center;
            vertical-align: bottom;
            width: 30px;
            @include button-hover($gray,$gray,$gray-lighter,darken($gray-lighter,10%));
            &.bold, &.italic, &.underline {
                font-family: $font-family-serif;
                font-size: 18px;
            }
            &.bold {
                font-weight: bold;
            }
            &.italic {
                font-style: italic;
            }
            &.underline {
                text-decoration: underline;
            }
        }
    }
    .mce-tinymce {
        margin-bottom: 15px;
    }
    textarea {
        border: 2px solid $brand-info;
        height: 170px;
        margin-bottom: 10px;
        padding: 10px;
        width: 100%;
    }
}
.comment_answer {
    @media screen and (max-width: 360px) {
        width: 100% !important;
        display:inline-block;
        margin-bottom: 5px;
    }
}
.react_answer {
    text-align: right;
    @media screen and (max-width: 360px) {
        width: 100% !important;
        display: inline-block;
        margin-bottom: 5px;
        text-align: left;
    }
}
.react_answer_comment {
    text-align: right;
    @media screen and (max-width: 395px) {
        width: 100% !important;
        display: inline-block;
        margin-bottom: 5px;
        text-align: left;
    }
}
.forum-thread {
    background-color: rgba(#fff,0.8);
    padding: 15px;
    .thread-header {
        display: inline-block;
        font-size: 2.4vmax;
        font-family: $font-family-sans-serif;
        margin: 0;
        padding-bottom: 1px;
        @media screen and (min-width: $screen-xs-min) {
            font-size: 16px;
        }
        &:not(.pull-left) {
            display: flex;
            flex-direction: column;
        }
        .user-name {
            font-size: 2.4vmax;
            @media screen and (min-width: $screen-xs-min) {
                font-size: 16px;
            }
        }
    }
    .thread-title {
        display: block;
        font-family: $font-family-sans-serif;
        font-size: 18px;
        font-weight: $bold;
        line-height: 1.3;
        margin-bottom: 2px;
        @media screen and (min-width: $screen-xs-min) {
            display: inline;
            font-size: 22px;
            margin-bottom: 0;
        }
    }
    .user-name {
        color: #000;
    }
    .actions {
        margin: 10px 0 0;
        overflow: hidden;
        .last-update {
            color: lighten($gray-light,10%);
            display: inline-block;
            font-size: $font-size-small;
        }
    }
    .tags {
        display: inline-block;
        margin: 0 0 5px 0;
    }
    .thread-post {
        background-color: #F5F5F5;
        margin-top: 10px;
        padding: 15px;

        p:last-child {
            margin-bottom: 0;
        }
        img {
          max-width: 100%;
          height: auto;
        }
    }
    .tags-edit-topic {
        padding: 14px 0px 14px 0px;

    }
    .comments {
        border-top: 1px solid $gray-light;
        margin-top: 20px;
        padding-top: 20px;
        > .thread {
            border-bottom: 1px dashed lighten($gray-light,20%);
            margin-bottom: 20px;
            padding-bottom: 20px;
            .thread {
                border-left: 2px solid lighten($gray-light,20%);
                margin: 20px 0 0 20px;
                padding-left: 20px;
            }
        }
        .thread:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .user-name {
            display: inline-block;
            margin-bottom: 5px;
        }
        .actions {
            margin: 0 0 5px 50px;
            padding-bottom: 1px;
        }
        .comments-form {
            margin-top: 0px;
            textarea {
                height: 60px;
            }
        }
    }
    .comments-title {
        color: $gray-light;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        margin: 0 0 20px 0;
    }
}

.thread .info img {
  max-width: 100%;
  height: auto;
}

.post-attachments {
    .attachments {
        border: 1px solid $brand-primary;
        border-radius: 10px;
        color: $brand-primary;
        display: block;
        font-size: $font-size-small;
        padding: 8px;
        > span {
            @extend %icon-file;
            font-weight: $semi-bold;
            &:before {
                margin-right: 5px;
                vertical-align: bottom;
            }
        }
    }
    ul {
        border-left: 2px solid rgba($brand-primary,0.7);
        margin: 5px 15px;
        padding-left: 8px;
        li {
            @extend %icon-link;
            list-style: none;
            padding: 3px 0;
            &:before {
                margin-right: 8px;
            }
            .delete {
                cursor: pointer;
                margin-left: 5px;
                &:before {
                    color: $brand-primary;
                    content: '\f057';
                    font-style: normal;
                    font-weight: normal;
                    font-family: $icon-font-family;
                    font-size: 16px;
                    vertical-align: middle;
                }
            }
        }
    }
    a {
        @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
    }
    .loading {
        margin: 10px;
        .loading-bar {
            border: 1px solid $brand-primary;
            border-radius: 10px;
            height: 10px;
            width: 100%;
            div {
                background-color: $brand-primary;
                border-radius: 8px;
                height: 8px;
            }
        }
    }
}

.forums {
    .post-attachments {
        a {
            font-size: $font-size-small;
            font-weight: $normal;
            @include link-hover($brand-primary,$brand-primary,$brand-primary,transparent);
        }
    }
    .last-update {
        color:  #333333;
        display: block;
        font-size: $font-size-small;
        font-weight: $normal;
        font-family: "Open Sans";

        b {
            font-weight: $bold;
        }
        a {
            color: $gray;
            font-weight: $bold;
        }
    }
}

.forum-list {
    .info {
        margin-top: 10px;
    }
    .thread-name {
        color: #000;
        display: block;
        font-size: $font-size-base;
        font-weight: $semi-bold;
        @media screen and (min-width: $screen-md-min) {
            max-width: 400px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .tags {
        margin: 0;
    }
    .last-update {
        margin-top: 2px;
    }
    .btn.trash {
        @include button-hover($brand-danger, white, transparent, $brand-danger);
        text-align: right;
    }
    table {
        tbody {
            td {
                @media screen and (max-width: $screen-sm-max) {
                    &:first-child, &.last-child {
                        clear: both;
                        display: block;
                        width: 100%;
                    }
                    &:nth-child(2){
                        padding-right: 0 !important;
                    }
                    &:nth-child(3){
                        padding-left: 0 !important;
                    }
                    &:nth-child(5) {
                        float: right;
                        padding: 0 !important;
                    }
                }
                @media screen and (min-width: $screen-md-min) {
                    &:first-child {
                        width: 350px;
                    }
                    &:nth-child(2){
                        width: 350px;
                    }
                    &:nth-child(3) {
                        width: 115px;
                    }
                    &:nth-child(5) {
                      text-align: right;
                    }
                }
            }
        }
    }
}
.last-child-page {
    text-align: center;
    clear: both;
}
.reaction-forum {
    @media (min-width: 768px) {
        width: 10% !important;
    }
}
.empty-forum {
    color: $gray;
    font-size: $font-size-small;
    margin: -10px 0 40px 0;
}

.create-forum {
    text-align: center;
    margin-bottom: 30px;
}

.see-all-topics {
    margin-bottom: 30px;
    text-align: center;
}
.thread-title-line {
    padding: 0px !important;
}
.new-thread {
    .form-control {
        border: 1px solid #DDDDDD !important;
        border-radius: 5px;
        box-shadow: none;
        padding: 3px 3px 1px 3px !important;
        box-sizing: border-box;
        &:active, &:hover, &:focus {
            box-shadow: none;
        }
    }
    .help-text {
        font-size: $font-size-small;
        font-weight: $normal;
    }
    .help-text-forum {
        font-size: $font-size-small;
        font-weight: $normal;
        color: red;
    }
    .help-text-info {
        color: #333333;
        font-family: "Open Sans";
        font-weight: $normal;
        font-size: 12px;
        margin-bottom: 20px;
        width: 100%;
        text-align: right;
    }
    .form-submit {
        text-align: center !important;
        width: 100%;
    }
    .selected-forum {
        font-weight: $bold;
    }
    .selected-forum, .selected-tags, .selected-category {
        margin: 12px 0 0 0;
    }
}
