.mentorship-card {
  background-color: #D9D9D9;
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  padding: 20px 40px;

  @media screen and (max-width: $screen-xs-max) {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  h4 {
    color: $brand-secondary;
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  a {
    background-color: $brand-success;
    border-radius: 15px;
    color: white;
    display: block;
    font-weight: bold;
    padding: 5px 20px;
    text-align: center;
    white-space: nowrap;
  }

  & > :nth-child(1) {
    flex: 1;
  }

  & > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.mentorships-page {
  background-color: white;
  background-image: url('/static/img/compass-right.svg');
  background-position: center right;
  background-repeat: no-repeat;

  h3 {
    color: $brand-secondary;
    font-size: 20px;
    text-transform: uppercase;
  }

  .see-more-mentorships {
    background-color: $brand-secondary;
    border: none;
    border-radius: 15px;
    color: white;
    display: block;
    margin: 20px auto;
    padding: 2px 20px;
  }
}
