// common styles, i.e. dashboard's widget and messages' page

.messages {
    .message {
        .message-subject {
            font-weight: $bold;
            font-size: $font-size-large;
            font-family: $font-family-sans-serif;
        }
        .message-body {
            margin-bottom: 20px;
            padding-left: 20px;
        }
    }
}

// messages' page styles
.message-description {
    padding: 0 20px;
}

.messages-list {
    background-color: white;
    background-image: url('/static/img/compass-right.svg');
    background-position: center right;
    background-repeat: no-repeat;

    .page-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            &:before {
                font-size: 36px;
                @media screen and (min-width: $screen-sm-min) {
                    margin-right: 10px;
                }
            }
        }
    }
    .title-header {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;
        color: $brand-primary;
        h3 {
            font-size: 24px;
            margin: 0 15px 0 0;
        }
    }
    .messages-content {
        margin: 30px 0;
    }
    .message {
        background-color: #F9F9F9;
        font-size: 16px;
        margin-bottom: 20px;
        padding: 20px 40px;

        @media screen and (max-width: $screen-xs-max) {
            padding: 20px;
        }

        .message-subject {
            color: $brand-secondary;
            font-size: 20px;
            line-height: inherit;
            margin: 0;
            text-transform: uppercase;
        }
        .message-text {
            display: flex;
            align-items: center;
            gap: 20px;

            @media screen and (max-width: $screen-xs-max) {
                flex-direction: column;
            }

            & > :first-child {
                flex: 1;
            }

            p {
                margin: 0 20px 0 0;
            }
        }
        .btn {
            font-size: 16px;
            line-height: 1;
            max-height: auto !important;
            padding: 10px 20px;
            @include button-hover(#fff, #fff, $brand-success, darken($brand-success, 5%));
        }
        &.unread {
            background-color: #D9D9D9;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .course_messages_group {
        margin-bottom: 30px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        margin-bottom: 20px;
    }
    .grid-item {
        color: $brand-primary;
        font-family: 'Cabin 700';
        font-size: 18px;
        letter-spacing: 0;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .message-list-content {
        margin-top: 40px;
    }
}
