.opening-header {
  background-color: $orange;
  padding-block: 20px;
  margin: -30px 0 30px;

  a {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    i {
      margin-right: 1ch;
    }
  }
}

.opening-page {
  background-color: white;
  background-image: url('/static/img/compass-right.svg');
  background-position: center right;
  background-repeat: no-repeat;

  &.container-fluid {
    padding-inline: 0;
    padding-top: 0;
  }

  .page-header {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .opening-detail {
    display: grid;
    grid-template-columns: 3fr 2fr;

    & > * {
      padding: 20px;
    }

    @media screen and (max-width: $screen-sm-max) {
      grid-template-columns: 1fr;
    }

    &__header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 20px;
        margin: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    &__header-buttons {
      display: flex;
      gap: 1ch;
      margin-top: 10px;

      a, button {
        background-color: $brand-secondary;
        border: none;
        border-radius: 20px;
        color: white;
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding: 5px 20px;

        i {
          margin-inline-end: 5px;
        }
      }
    }

    &__business-logo {
      background-color: #D9D9D9;
      max-width: 148px;
      padding: 10px;

      img {
        aspect-ratio: 1 / 1;
        height: auto;
        object-fit: contain;
        width: 128px;
      }

      p {
        font-size: 16px;
        line-height: 1.15;
        margin: 5px 0 0;
        text-align: center;
      }
    }

    main {
      clear: both;
    }

    &__stats {

      i {
        color: $brand-secondary;
        width: 25px;
      }
    }

    &__benefits {

      @media screen and (min-width: $screen-md-min) {
        grid-column: 2;
        grid-row: 1 / span 2;
      }

      h4 {
        color: $brand-secondary;
        font-weight: bold;
        margin: 30px 0 10px;
      }

      hr {
        border-color: #595D60;
      }
    }

    &__benefits-bg {
      background-color: rgba(#D9D9D9, 0.85);
      padding: 20px;
    }

    &__list {

      p {
        align-items: center;
        display: flex;
        gap: 10px;
      }
    }

    &__tags {

      ul, li {
        margin: 0;
        padding: 0;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      li {
        background-color: white;
        border: 1px solid #595D60;
        border-radius: 20px;
        list-style: none;
        padding: 5px 20px;
      }
    }

    &__see-candidates {
      background-color: $brand-success;
      border-radius: 20px;
      color: white;
      display: block;
      font-size: 1.25em;
      font-weight: bold;
      margin: auto;
      padding: 5px 20px;
      width: fit-content;
    }

    &__already-applied {
      color: $brand-success;
      font-size: 24px;
      font-weight: bold;
    }

    &__apply {
      background-color: $brand-warning;
      border: none;
      border-radius: 30px;
      color: white;
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 20px;
      padding: 10px 30px;
      text-transform: uppercase;
      width: fit-content;
    }

    &__favorite {
      align-items: center;
      display: flex;
      justify-content: space-between;

      button {
        background-color: white;
        border: 1px solid #595D60;
        border-radius: 20px;
        font-size: 1.125em;
        list-style: none;
        padding: 5px 20px;

        &.favorite {

          i {
            color: $brand-secondary;
          }
        }
      }

      p {
        font-size: 1.125em;
        margin: 0;
        padding: 5px 20px;

        i {
          color: $brand-secondary;
          margin-right: 1ex;
        }
      }
    }
  }
}

.candidates-page {

  .mentorship-card > :nth-child(2) {
    justify-content: space-between;
  }

  .see-more-candidates {
    background-color: $brand-secondary;
    border: none;
    border-radius: 15px;
    color: white;
    display: block;
    margin: 20px auto;
    padding: 2px 20px;
  }
}
