.openings-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.opening-card {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(black, 0.2);

  .image-container {
    position: relative;

    span {
      background-color: $brand-secondary;
      color: white;
      font-weight: bold;
      left: 10px;
      padding: 5px;
      position: absolute;
      top: 10px;
    }
  }

  &__image {
    aspect-ratio: 16 / 9;
    height: auto;
    width: 100%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__details {
    margin: 10px;
    padding-bottom: 1px;

    a {
      color: inherit;
      text-decoration: none;
    }

    p {

      i {
        color: $brand-secondary;
        margin-right: 10px;
      }
    }
  }

  &__tags {
    ul, li {
      padding: 0;
    }

    ul {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
      justify-content: flex-end;
    }

    li {
      list-style: none;
      margin: 0;
    }

    button {
      background-color: transparent;
      border-radius: 15px;
      border: 1px solid #999;
      color: #333;
    }
  }
}

.openings-page {
  background-color: white;
  background-image: url('/static/img/compass-right.svg');
  background-position: center right;
  background-repeat: no-repeat;

  .opening-page-title {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;

    h2 {
      flex: 1;
      margin-bottom: 0;
    }

    a {
      background-color: $orange;
      border: 0;
      border-radius: 30px;
      color: white;
      display: block;
      font-weight: bold;
      margin: auto;
      padding: 5px 20px;
      text-transform: uppercase;
    }
  }

  h3 {
    color: $brand-secondary;
    font-size: 20px;
    text-transform: uppercase;
  }

  .openings-filters {
    align-items: flex-start;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 10px auto;

    & > :nth-child(1) {
      flex: 2;
    }

    & > :nth-child(2) {
      align-items: flex-end;
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    @media screen and (max-width: $screen-sm-min) {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }

    input[type="search"], .ui-select-multiple {
      background-color: #EEE;
      border: 0;
      border-radius: 20px;
      box-shadow: none;
      padding: 5px 20px;
      width: 100%;
    }

    input[type="search"] {
      padding: 10px 20px;
    }

    .ui-select-multiple {
      padding: 5px 20px;
    }

    button {
      align-items: center;
      display: flex;
      background-color: transparent;
      border: none;
      color: $brand-secondary;
      gap: 1ex;
      padding: 10px 20px;

      i {
        font-size: 1.5em;
      }
    }
  }

  section {
    margin-bottom: 60px;
  }

  .openings-grid {

    & + button {
      background-color: $brand-secondary;
      border: none;
      border-radius: 15px;
      color: white;
      display: block;
      margin: 20px auto;
      padding: 2px 20px;
    }
  }
}
