// Profile's pages
// --------------------------------------------------

.profile-social {
    font-size: 14px;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    color: #000;
    .email {
        margin-right: 12px;
    }
    .cellphone {
        margin: 0 13px 0 3px;
    }
    .facebook {
        margin: 0 15px 0 3px;
    }
    .twitter {
        margin: 0 10px 0 2px;
    }
    .instagram {
        margin: 0 12px 0 2px;
    }
    a, a:hover {
        color: $brand-link-color !important;
    }
    li {
        margin-bottom: 10px;
    }
}

.header-distance {
    padding: 20px;
    @media screen and (min-width: $screen-xs-min) {
        padding: 30px 20px;
    }
}

.profile-picture {
    background-position: center;
    background-size: cover;
    float: left;
    height: 200px;
    margin: 0 15px 15px 0;
    width: 200px;

    @media screen and (max-width: $screen-xs-max) {
        float: none;
        margin: 0 auto 15px;
    }
}

.profile-name {
    color: $brand-secondary;
    margin-top: 0;
    font-size: 22px;
    text-transform: uppercase;

    @media screen and (max-width: $screen-xs-max) {
        text-align: center;
    }
}

.profile-header {
    min-height: 150px;
}

.profile-extra-information {
    margin-top: 15px;

    @media screen and (max-width: $screen-xs-max) {
        text-align: center;
    }
}

.profile-info {
    color: #000;

    b {

      &::after {
          content: ':';
      }

      .profile-extra-information & {
        @media screen and (max-width: $screen-xs-max) {
          display: block;

          &::after {
            content: '';
          }
        }
      }
    }

    p {
        &:before {
            font-size: $font-size-large;
            margin-right: 5px;
            vertical-align: middle;
            text-align: center;
            width: 20px;
        }
    }
    .occupation {
        @extend %icon-occupation;
    }
    .city {
        @extend %icon-map-pin;
    }
    .site {
        @extend %icon-site;
    }
    .group {
        @extend %icon-group;
    }
}

.profile-bio {
    @media screen and (max-width: $screen-sm-max) {
        clear: both;
    }
    @media screen and (min-width: $screen-md-min) {
        margin-left: 155px;
    }
    p {
        font-size: $font-size-base;
        line-height: $line-height-computed;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.profile-buttons {
    display: flex;
    vertical-align: top;
    margin-top: 0;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: -10px;
    }
}

.profile-edit {
    margin: 0 10px;
}

.profile-grid {
  background-color: white;
  background-image: url('/static/img/compass-right.svg');
  background-position: center right;
  background-repeat: no-repeat;
  margin-top: 8vh;

  @media screen and (min-width: $screen-sm-min) {
    display: grid;
    grid-template-columns: 1fr 385px;
    gap: 20px;

    .profile-header {
      grid-column: 1;
      grid-row: 1;
    }

    .profile-mentorship {
      grid-column: 2;
      grid-row: 1 / span 2;
    }

    .profile-data {
      grid-column: 1;
      grid-row: 2;
    }
  }
}

.profile-mentorship-info {
  padding: 20px;

  @media screen and (min-width: $screen-sm-min) {
    background-color: rgba(#ACB4B8, 0.53);
    padding-top: 0.1px;
  }
}

.profile-mentorship-tags {

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  li {
    background-color: white;
    border: 1px solid #595D60;
    border-radius: 20px;
    list-style: none;
    padding: 5px 20px;
  }
}

.profile-action-buttons {

  a, button {
    background-color: $brand-secondary;
    border: none;
    border-radius: 20px;
    color: white;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    margin-block: 20px;
    padding: 5px 20px;
    width: fit-content;

    @media screen and (max-width: $screen-xs-max) {
        margin-inline: auto;
    }

    i {
      margin-inline-end: 5px;
    }
  }
}

.profile-list-assistances {

  .profile-assistance {
    margin-bottom: 20px;

    p {
      margin: 0;
    }
  }
}

.profile-list-openings {
  background-color: #DFE6E9;
  padding-bottom: 30px;
}

.courses-page--is-profile {
    background-image: none !important;
}

.profile-certificates {
    margin-top: 20px;

    .course-box {
        @media screen and (min-width: $screen-sm-min) {
            .course-thumb {
                padding-right: 0 !important;
            }
        }
        .progress-label {
            display: none;
            color: #000;
            font-size: $font-size-base;
            line-height: 100%;
            @media screen and (min-width: $screen-sm-min) {
                display: block;
            }
        }
        .see-certificate {
            border: 0;
            border-radius: 0;
            display: block;
            font-weight: $bold;
            padding: 3px;
            text-align: center;
            @include button-hover(#fff,#fff,$brand-success,darken($brand-success,10%));
        }
    }
}
