<div>
    <div class="dashboard">
        <header class="page-header dashboard-header">
            <div>
                <h2 class="sr-only">Meu Primeiro Trampo</h2>
                <p class="dashboard-description" translate>Preparação, consultoria para a entrada no mercado de trabalho</p>
                <a class="btn" href="/pages/saiba-mais">Saiba mais</a>
            </div>
        </header>

        <div class="courses-page dashboard-list-course">
            <div class="container-fluid">
                <header class="my-courses-header">
                    <h2 class="widget-title-dashboard" translate>Courses</h2>
                </header>
                <section ng-cloak>
                    <!-- COURSE -->
                    <p ng-if="!courses" translate>Loading courses...</p>
                    <p ng-if="courses && courses.length === 0" translate>There are no courses.</p>
                    <div ng-if="courses && courses.length !== 0">
                        <cards-carousel courses="courses"></cards-carousel>
                    </div>
                </section>
                <div class="see-all-forums">
                    <a href="/#!/courses" class="btn see-all-btn" translate>See all courses</a>
                </div>
            </div>
        </div>

        <div class="dashboard-list-openings" ng-if="openings">
            <div class="container-fluid">
              <header class="my-openings-header">
                  <h2 class="widget-title-dashboard" translate>My openings</h2>
                  <p translate>Complete all courses to unlock the job openings.</p>
              </header>
              <section ng-cloak>
                  <div class="openings-grid">
                      <opening-card ng-repeat="opening in openings" knowledge-options="knowledge_options" opening="opening" skill-options="skill_options"></opening-card>
                  </div>
              </section>
              <div class="see-all-forums">
                  <a href="/#!/openings" class="btn see-all-btn" translate>See all openings</a>
              </div>
            </div>
        </div>

    <div class="dashboard-announcement container-fluid" ng-controller="MessagesDashboardController">
        <div class="page-header">
            <h2 class="widget-title-dashboard" translate>Announcements</h2>
            {% verbatim %}
            <span class="message-subtitle pull-right">
                <span translate>You have</span>
                <span class="notification-mark number">{{ (messages_unread_count.count < 10) ? messages_unread_count.count : "9+" }}</span>
                <span ng-show="messages.length>1" translate>unread announcements</span>
                <span ng-show="messages.length==1" translate>unread announcement</span>
            </span>

            <!-- TODO: Replace with <messages-list> component -->
            <section class="messages messages-list">
                <div class="message" ng-repeat="message in messages" ng-class="{'read': message.is_read, 'unread': !message.is_read}">
                    <div class="message-header">
                        <!-- TODO: Localize dates-->
                        <h4 class="message-subject">{{ message.subject }}</h4>
                        <span class="message-date" ng-if="message.date && message.status == 'published'">{{ message.date | date:'shortDate' }}</span>
                        <span class="message-date" ng-if="message.release_date && message.status != 'published'">({{ 'Scheduled for' | translate }}</span>
                        <span class="message-date" ng-if="message.release_date && message.status != 'published'">&nbsp;{{ message.release_date | date:'medium' }})</span>
                        <span class="message-date" ng-if="!message.release_date && message.status != 'published'">({{ 'Draft with no scheduled date' | translate }})</span>
                    </div>
                    <div class="message-text">
                        <span ng-bind-html="message.message | limitTo : 300"></span>
                        <a ng-if="message.course_slug" class="btn btn-default"
                            ng-href="/course/{{message.course_slug}}/messages/#!/messages/{{message.id}}"
                            translate>See more</a>
                        <a ng-if="!message.course_slug" class="btn btn-default"
                            ui-sref=".message({messageId: message.id})"
                            translate>See more</a>
                    </div>
                </div>
            </section>
            {% endverbatim %}
            <div class="see-all-forums">
                <a href="/#!/messages" class="btn see-all-btn" translate>See all announcements</a>
            </div>
        </div>
    </div>

    <div class="dashboard-forum container-fluid" ng-if="forums.length > 0">
      <section class="page-header widget forums forums-widget">
          <header class="widget-header line one-column">
              <div class="column">
                  <h2 class="widget-title-dashboard" translate>Forum</h2>
              </div>
          </header>
          <!--
          <div class="line one-column">
              <div class="column column-forum">
                  <h3 class="section-forum" translate>Latest posts</h3>
              </div>
          </div>
          <div class="line two-column fifty-fifty">
              {% verbatim %}
              <div class="user-update column" ng-repeat="topic in latest_topics | limitTo:2">
                  <div class="user-icon">
                      <img ng-src="{{topic.author.image || '/static/img/avatar-default.png'}}" alt="{{topic.author.first_name}}" />
                  </div>
                  <div class="info">
                      <a ng-href="/profile/{{ topic.author.username }}"><b>{{topic.author.first_name}}</b> </a><span translate>commented on the topic</span><a ng-href="#!/topic/{{topic.id}}" class="thread-name"> {{topic.title | charLimiter:50}} </a><span translate>in the forum</span><a ng-href="#!/forum/{{ topic.forum }}"> {{topic.forum_info.title}}</a></span>
                  </div>
                  <div class="actions">
                      <span class="action last-update" translate>Last activity</span><span class="action last-update"><b> {{ topic.last_activity_at | dateFilter }}</b> <b translate>ago</b></span>
                      <span class="action liked"
                          ng-class="{ 'active': topic.count_likes }">{{topic.count_likes}}
                          <!-- {{topic.count_likes > 1 || topic.count_likes == 0? 'gostaram':'gostou'}}
                          <span translate>liked</span>
                          </span>
                      <span class="action replies"
                          ng-class="{ 'active': topic.count_replies }">{{topic.count_replies}}
                          <!-- {{topic.count_replies > 1 || topic.count_replies == 0? 'comentários':'comentário'}}
                          <span translate>comment</span>
                      </span>
                  </div>
              </div>
          </div>
          -->
          <div class="forum-list-dashboard">
              <div ng-repeat="forum in forums">
                  <!--
                      <div class="line one-column">
                      <div class="column">
                          <h3 class="section-title forum-title">
                              <a ng-href="#!/forum/{{ forum.id }}">{{ forum.title }}</a>
                              <button class="btn btn-link btn-sm show-btn pull-right"
                                  ng-if="forum.topics.length>0"
                                  ng-init="forum.show_forum=false"
                                  ng-class="forum.show_forum ? 'hide-all': 'show-all'"
                                  ng-click="forum.show_forum=!forum.show_forum">
                                  <span ng-show="!forum.show_forum" translate>See</span>
                                  <span ng-show="forum.show_forum" translate>Hide</span>
                              </button>
                              <button class="btn btn-link btn-sm show-btn pull-right"
                                  ng-if="forum.topics.length==0" translate>No topics yet</span>
                              </button>
                          </h3>
                      </div>
                  </div>
                  -->
                  <div class="grid-container">
                      <div class="grid-item">
                          <a ng-href="#!/forum/{{ forum.id }}">{{ forum.title }}</a>
                      </div>
                      <div></div>
                      <div class="grid-item">
                          <button class="btn btn-link btn-sm show-btn pull-right"
                              ng-if="forum.topics.length>0"
                              ng-init="forum.show_forum=false"
                              ng-class="forum.show_forum ? 'hide-all': 'show-all'"
                              ng-click="forum.show_forum=!forum.show_forum">
                              <span ng-show="!forum.show_forum" translate>See</span>
                              <span ng-show="forum.show_forum" translate>Hide</span>
                          </button>
                          <span class="no-topics pull-right" ng-if="forum.topics.length==0" translate>
                              No topics yet
                          </span>
                      </div>
                  </div>
                  <div class="column" ng-show="forum.topics.length===0 && forum_page_loaded">
                      <p class="empty-forum" translate>This forum doesn't have any topics yet.</p>
                  </div>
                  <div class="forum-list" ng-show="forum.show_forum" ng-if="forum.topics.length>0">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                  <th translate>topic</th>
                                  <th translate>reactions</th>
                                  <th translate>categories</th>
                                  <th translate>tags</th>
                                  <th></th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr ng-repeat="topic in forum.topics" ng-class="{'new': topic.read !== true}">
                                  <td>
                                      <a ng-href="#!/topic/{{ topic.id }}"><span class="thread-name">{{ topic.title }}</span></a>
                                      <span class="last-update"><span translate>By</span><a ng-href="#!/profile/{{ topic.author.username }}"> {{topic.author.first_name + " " + topic.author.last_name}}</a> | <span translate>Last activity</span>
                                      <b>{{ topic.last_activity_at | dateFilter }}</b> <b translate>ago</b></span>
                                  </td>
                                  <td>
                                      <span class="action liked small">{{ topic.count_likes }}</span>
                                      <span class="action replies small">{{ topic.count_replies }}</span>
                                  </td>
                                  <td>
                                      <a ng-repeat="category in topic.categories"
                                              ng-click="forumFilter('add','cat',category)"
                                              class="category">{{ category.name }}</a>
                                  </td>
                                  <td>
                                      <div class="tags">
                                          <a ng-repeat="tag in topic.tags.slice(0,2)"
                                              ng-click="forumFilter('add','tag',tag)"
                                              class="tag">#{{ tag.name }}</a>
                                          <a ng-href="#!/topic/{{ topic.id }}"
                                              ng-show="topic.tags.length > 2" class="tag">
                                              +{{ topic.tags.length - 2 }}</a>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
              {% endverbatim %}
              <div class="see-all-forums">
                  <a class="btn see-all-btn" href="#!/forum" translate>See all forums</a>
              </div>
          </div>
      </section>
  </div>

  <section class="dashboard-events">
    <div class="container-fluid">
      <div class="widget">
        <events-list columns="2" limit="4">
          <events-list-title>
            <h2 class="widget-title-dashboard" translate>Agenda</h2>
          </events-list-title>
        </events-list>
      </div>
    </div>
  </section>
</div>
