{% verbatim %}
<div class="classroom-forum">
  <section class="widget forums forums-widget container-fluid">
      <header class="widget-header line one-column">
          <div class="column">
              <div class="pull-left">
                  <h2 class="widget-title">Fóruns</h2>
              </div>
              <div class="pull-right hidden-xs">
                  <a class="btn btn-primary btn-inverse new-topic" ui-sref="classroom.topicCreate({ forum: $ctrl.forum })">Criar novo tópico</a>
              </div>
              <div class="pull-right dropdown visible-xs">
                  <button class="btn btn-default list-all dropdown-toggle" type="button" id="dropdownOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      opções
                  </button>
                  <ul class="dropdown-menu dropdown-options" aria-labelledby="dropdownOptions">
                      <li><a href="/discussion/" target="_blank">mostrar todos</a></li>
                      <li><a ui-sref="classroom.topicCreate({ forum: $ctrl.forum })">criar novo tópico</a></li>
                  </ul>
              </div>

          </div>
      </header>

      <div class="line one-column" ng-show="$ctrl.forum.latest_topics.length>0">
          <div class="column">
              <h3 class="section-title">Últimas postagens</h3>
          </div>
      </div>

      <div class="line one-column">
          <div class="user-update column" ng-repeat="topic in $ctrl.forum.latest_topics">
              <div class="user-icon">
                  <img ng-src="{{topic.author.image || '/static/img/avatar-default.png'}}" alt="{{topic.author.first_name}}" />
              </div>
              <div class="info">
                  <a ng-href="#!/profile/{{ topic.author.username }}" target="_blank"><b>{{topic.author.first_name}}</b></a> comentou no tópico <a ui-sref="classroom.topicDetail({ topicId: topic.id })"class="thread-name">{{topic.title | charLimiter:50}}</a>
                  no fórum <a ui-sref="classroom.forumDetail({ forumId: $ctrl.forum.id })">{{$ctrl.forum.title}}</a></span>
              </div>
              <div class="last-update">
                  Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b>
              </div>
              <div class="actions">
                  <span class="action liked" ng-class="{ 'active': topic.count_likes }">
                        {{topic.count_likes}} {{topic.count_likes > 1 || topic.count_likes == 0? 'gostaram':'gostou'}}
                  </span>
                  <span class="action replies" ng-class="{ 'active': topic.count_replies }">
                        {{topic.count_replies}} {{topic.count_replies > 1 || topic.count_replies == 0? 'comentários':'comentário'}}
                  </span>
              </div>
          </div>
      </div>

      <div class="line one-column">
          <div class="column">
              <h3 class="section-title">
                  <a ui-sref="classroom.forumDetail({ forumId: $ctrl.forum.id })">{{ $ctrl.forum.title }}</a>
              </h3>
          </div>
      </div>

      <div class="line one-column">
          <!-- <div class="column" ng-show="( forum_single && !topics_loaded ) || !forums.$resolved">
              <h3 class="section-title"><span>Carregando tópicos...</span></h3>
          </div> -->
          <div class="column" ng-show="$ctrl.forum.topics.length===0 && !forum_search">
              <p class="empty-forum">Este fórum ainda não possui nenhum tópico.</p>
          </div>
          <div class="column" ng-show="$ctrl.forum.topics.length===0 && forum_search">
              <p class="empty-forum">Nenhum resultado encontrado.</p>
          </div>
      </div>

      <!-- List topics in a specific forum -->
      <div class="forum-list" ng-if="$ctrl.forum.topics.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Últimos tópicos</th>
                    <th colspan="2">Reações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="topic in $ctrl.forum.topics" ng-class="{'new': topic.read !== true}">
                    <td>
                        <a ui-sref="classroom.topicDetail({ topicId: topic.id })"><span class="thread-name">{{ topic.title }}</span></a>
                        <span class="last-update">Por <a ng-href="#!/profile/{{ topic.author.username }}" target="_blank">{{topic.author.name}}</a> | Última atividade <b>{{ topic.last_activity_at | dateFilter }}</b></span>
                    </td>
                    <td>
                        <span class="action liked small">{{ topic.count_likes }}</span>
                    </td>
                    <td>
                      <span class="action replies small">{{ topic.count_replies }}</span>
                  </td>
                </tr>
            </tbody>
        </table>

        <div ng-show="($ctrl.forum.topics_total > $ctrl.forum_topics_page)" class="pagination-wrapper">
            <!-- Small screens -->
            <ul uib-pagination boundary-links="true" total-items="$ctrl.forum.topics_total" ng-model="$ctrl.topics.current_page" rotate="true" max-size="1" items-per-page="$ctrl.forum_topics_page" ng-change="topicPageChanged()" class="pagination pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            <!-- Medium screens -->
            <ul uib-pagination boundary-links="true" total-items="$ctrl.forum.topics_total" ng-model="$ctrl.topics.current_page" rotate="true" force-ellipses="false" max-size="5" items-per-page="forum_topics_page" ng-change="topicPageChanged()" class="pagination pagination-md" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>
            <!-- Large screens -->
            <ul uib-pagination boundary-links="true" total-items="$ctrl.forum.topics_total" ng-model="$ctrl.topics.current_page" rotate="true" force-ellipses="false" max-size="$ctrl.forum_pages_max_number" items-per-page="$ctrl.forum_topics_page" ng-change="topicPageChanged()" class="pagination pagination-lg" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>
        </div>
      </div>
    <!-- /List topics in a specific forum -->
  </section>
</div>
{% endverbatim %}
