<header class="site-header unlogged" role="navigation">
  {% verbatim %}
  <div class="site-logo">
      <a href="/"><img src="/static/img/logo-white.png" alt="Meu Primeiro Trampo"></a>
  </div>
  {% endverbatim %}

  <ul id="top-right-menu" class="user-tools">
      <li>
        <a href="{% url 'account_login' %}" translate>Login</a>
      </li>
      <li>
        <a href="{% url 'account_signup' %}" class="btn btn-secondary btn-inverse" translate>Sign up</a>
      </li>
      <li>
          <select class="languages active language-select" ng-model="$ctrl.languages.current"
              ng-if="$ctrl.languages.available.length > 1"
              ng-change="$ctrl.languageChanged($ctrl.languages.current)"
              ng-options="item.code as item.cap_short_code for item in $ctrl.languages.available">
          </select>
      </li>
  </ul>
</header>
