{% verbatim %}
<header class="site-header" role="navigation">
    <div class="user-info" ng-click="toggle_main_nav_display()" ng-cloak>
        <i class="fa fa-bars menu-icon"></i>
    </div>
    <div class="site-logo">
        <a href="/"><img src="/static/img/logo-white.png" alt="Meu Primeiro Trampo"></a>
    </div>

    <ul id="top-right-menu" class="user-tools">
        {% endverbatim %}
        <a id="header-logout" href="{% url 'account_logout' %}">
        {% verbatim %}
            <img src="/static/img/icons/leave.svg" alt="" height="31" width="36"/>
            <span translate>Exit</span>
        </a>
    </ul>
</header>
{% endverbatim %}
