<div class="home-spa">
  <div class="home-spa__hero">
    <div class="home-spa__hero-content">
      <div class="home-spa__intro">
        <h1 class="sr-only">Meu Primeiro Trampo</h1>
        <p translate>Preparação, consultoria para a entrada no mercado de trabalho</p>
        <a href="/pages/saiba-mais" class="btn btn-warning">Saiba mais</a>
      </div>
    </div>
  </div>

  <div class="home-spa__video-box">
    <div class="row">
      <div class="home-spa__video">
        <iframe src="https://www.youtube.com/embed/FO79xeGCleA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="home-spa__video-explainer">
        <h2>Sobre a plataforma</h2>
        <p>O projeto “Meu Primeiro Trampo” é uma plataforma educacional gratuita, para celulares e computadores, contendo três trilhas formativas focadas no desenvolvimento de soft skills para a entrada de jovens no mercado de trabalho.</p>
        <p>Esse programa tem como público-alvo estudantes de Ensino Médio da cidade de São Paulo, dos distritos de Cidade Tiradentes e Itaim Paulista, que desejam ter a sua primeira experiência de trabalho como Jovem Aprendiz ou Estagiário.</p>
        <p>As trilhas formativas são disponibilizadas em um HUB itinerante, instalado em Escolas Estaduais (E.E.) selecionadas, no qual seis (6) tablets estarão disponíveis para acesso. Monitores e assistentes sociais auxiliarão os alunos no registro na plataforma e explicarão os benefícios do programa.</p>
        <a href="/accounts/signup" class="btn btn-success">Quero me inscrever!</a>
      </div>
    </div>
  </div>

  <!--
  <div class="home-spa__newsletter">
    <div class="row">
      <h2>Saiba mais</h2>
      <form>
        <input type="email" placeholder="Digite seu e-mail" aria-label="E-mail">
        <button class="btn" type="submit">Enviar</button>
      </form>
    </div>
  </div>
  -->
</div>
