{% verbatim %}
<div ng-cloak>
    <div class="profile page container-fluid" ng-class="{'profile-admin': user.is_superuser}">
        <div ng-hide="user_profile.$resolved">
            <p><i class="loading fa fa-refresh fa-spin"></i></p>
        </div>
        <div ng-show="user_profile" ng-if="user_profile" class="profile-row">
            <div class="distance-header-title page-header">
                <h2 class="widget-title"><i class="fa fa-angle-double-right"></i> <span translate>Profile</span></h2>

                <div class="pull-right profile-buttons">
                    <div class="my-notes-button" ng-show="user_profile.is_current_user">
                        <a href="/notes/" class="btn edit" translate>My notes</a>
                    </div>
                    <div class="profile-edit" ng-show="user_profile.is_current_user">
                        <a ng-href="/profile/edit/" class="btn edit" translate>Edit</a>
                    </div>
                    <div class="profile-edit" ng-show="current_user.is_superuser && !user_profile.is_current_user">
                        <a ng-href="/profile/edit/{{ user_profile.username }}" class="btn edit" translate>Edit</a>
                    </div>
                </div>
            </div>
            <div class="profile-grid">
                <div class="profile-header">
                    <div class="profile-picture" style="background-image: url( {{ user_profile.image ? user_profile.image : '/static/img/avatar-default.png'}});"></div>

                    <h2 class="profile-name">{{user_profile.name ? user_profile.name : user_profile.username }}</h2>
                    <!--<span>2 cursos finalizados</span> | <span>1 certificado de conclusão</span>-->
                    <div class="profile-bio">
                        <p ng-bind-html="user_profile.biography"></p>
                    </div>
                    <br>
                    <div class="profile-info">
                        <p ng-if="user_profile.groups" class="group">
                            <span><b translate>Groups</b></span> {{user_profile.groups}}
                        </p>
                    </div>
                </div>

                <div class="profile-data">
                    <div class="profile-extra-information">
                        <div class="profile-info">
                            <p ng-if="user_profile.city" class="">
                                <span><b translate>City</b></span> {{cityName}}
                            </p>
                        </div>
                        <div class="profile-info">
                            <p ng-if="user_profile.gender" class="">
                                <span><b translate>Gender</b></span> {{user_profile.gender}}
                            </p>
                        </div>
                        <div class="profile-info">
                            <p ng-if="user_profile.sexual_orientation" class="">
                                <span><b translate>Sexual orientation</b></span> {{user_profile.sexual_orientation}}
                            </p>
                        </div>
                        <div class="profile-info">
                            <p ng-if="user_profile.race" class="">
                                <span><b translate>Ethnicity</b></span> {{user_profile.race}}
                            </p>
                        </div>
                        <div class="profile-info">
                            <p ng-if="user_profile.birth_date" class="">
                                <span><b translate>Birth date</b></span> {{user_profile.birth_date | date: "shortDate"}}
                            </p>
                        </div>
                        <div class="profile-info">
                            <p ng-if="user_profile.living_area" class="">
                                <span><b translate>Living area</b></span> {{user_profile.living_area}}
                            </p>
                        </div>
                    </div>

                    <ul class="profile-social">
                        <!--
                        <li ng-show="user_profile.email">
                          <i class="fa fa-envelope email"></i>
                          <a href="mailto:{{user_profile.email}}" target="_blank">{{user_profile.email}}</a>
                        </li>
                        <li ng-show="user_profile.phone_number">
                          <i class="fa fa-mobile fa-lg cellphone"></i>
                          <a>{{user_profile.phone_number}}</a>
                        </li>
                        -->
                        <li ng-show="user_profile.social_facebook">
                          <i class="fa fa-facebook facebook"></i>
                          <a href="{{user_profile.social_facebook}}" target="_blank">{{user_profile.social_facebook.replace('https://www.facebook.com/','')}}</a>
                        </li>
                                <li ng-show="user_profile.social_twitter">
                          <i class="fa fa-twitter twitter"></i>
                          <a href="{{user_profile.social_twitter}}" target="_blank">{{user_profile.social_twitter.replace('https://www.twitter.com/','')}}</a>
                        </li>
                                <li ng-show="user_profile.social_instagram">
                          <i class="fa fa-instagram instagram"></i>
                          <a href="{{user_profile.social_instagram}}" target="_blank">{{user_profile.social_instagram.replace('https://www.instagram.com/', '')}}</a>
                        </li>
                    </ul>
                </div>

                <div class="profile-mentorship" ng-if="mpt_profile">
                    <div class="profile-mentorship-info">
                        <h2 class="widget-title-dashboard" translate>Resume</h2>
                        <p ng-if="user_age">{{ 'Age' | translate }}: {{ user_age }} {{ 'years old' | translate }}</p>
                        <p ng-bind-html="mpt_profile.resume"></p>

                        <div ng-if="(mpt_profile.knowledge.length + mpt_profile.skills.length) > 0">
                            <h2 class="widget-title-dashboard" translate>General interests</h2>
                            <div class="profile-mentorship-tags">
                                <ul>
                                    <li ng-repeat="tag in mpt_profile.knowledge">{{ get_tag_label(tag, knowledge_options) }}</li>
                                    <li ng-repeat="tag in mpt_profile.skills">{{ get_tag_label(tag, skill_options) }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="profile-action-buttons" ng-cloak ng-if="user_profile.is_current_user">
            <a href="#!/complete-profile">
                <i class="fa fa-pencil"></i> {{ 'Complete profile' | translate }}
            </a>
        </div>
    </div>

    <section class="profile-list-assistances container-fluid" ng-cloak ng-if="current_user.groups.includes('Mentores')">
        <h2 class="widget-title-dashboard" translate>Assistances</h2>
        <div class="profile-assistance" ng-repeat="assistance in assistances">
            <p>{{ 'Day' | translate }}: {{ assistance.date | date:'dd/MM/yyyy' }}</p>
            <p>{{ 'Mentor' | translate }}: {{ assistance.mentor_profile.name || assistance.mentor_profile.username }}</p>
            <div ng-bind-html="assistance.content"></div>
        </div>
        <div class="profile-action-buttons">
            <button ng-click="createAssistance(current_user, user_profile)">
                <i class="fa fa-hand-paper-o"></i> {{ 'Add assistance' | translate }}
            </button>
        </div>
    </section>

    <section class="profile-list-mentored container-fluid" ng-cloak ng-if="current_user.groups.includes('Mentores')">
        <h2 class="widget-title-dashboard" translate>Mentorship</h2>
        <p ng-if="!mentored.length" translate>No results found</p>
        <article class="mentorship-card" ng-repeat="student in mentored">
            <div>
              <h4>{{ student.student_profile.user_profile.name || student.student_profile.user_profile.username }}</h4>
              <p ng-bind-html="student.student_profile.resume || student.student_profile.user_profile.biography"></p>
            </div>
            <div>
              <a href="#!/profile/{{student.student_profile.user_profile.username}}" translate>See more</a>
            </div>
        </article>
    </section>

    <section class="courses-page courses-page--is-profile container-fluid" ng-if="user_profile.is_current_user">
        <header class="my-courses-header">
            <h2 class="widget-title-dashboard" translate>My courses</h2>
            <a href="/#!/courses" class="all-courses"><strong translate>See all courses</strong> <i class="fa fa-arrow-right"></i></a>
        </header>

        <p ng-if="!my_courses" translate>Loading courses...</p>
        <p ng-if="my_courses && my_courses.length === 0" translate>There are no courses.</p>
        <cards-carousel ng-if="my_courses.length !== 0" courses="my_courses"></cards-carousel>
        <a href="/#!/courses" class="all-courses-mobile"><strong translate>See all courses</strong> <i class="fa fa-arrow-right"></i></a>
    </section>

    <section class="profile-list-openings" ng-if="openings.length">
      <div class="container-fluid">
        <h2 class="widget-title-dashboard" translate>Job openings I've applied for</h2>
        <section ng-cloak>
            <div class="openings-grid">
                <opening-card ng-repeat="opening in openings" knowledge-options="knowledge_options" opening="opening" skill-options="skill_options"></opening-card>
            </div>
        </section>
      </div>
    </section>

    <!--
    <section class="profile-certificates page container-fluid" ng-if="current_user.is_superuser && user_profile.classes.length > 0">
        <div>
            <h2 class="widget-title-dashboard" translate>Classes</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th translate>Clase</th>
                            <th translate>Course<th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="klass in user_profile.classes">
                            <td><a href="/class/{{klass.id}}">{{ klass.name }}</a></td>
                            <td>{{ klass.course }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div ng-if="valid_certificates">
            <h2 class="widget-title-dashboard" translate>Completed courses</h2>
            {{user_profile.certificates}}
            <div class="widget">
                <div class="courses line two-column fifty-fifty">
                    <div class="course-box column" ng-repeat="certificate in user_profile.certificates | filter: { approved: 'true' }">
                        <div class="line two-column">
                            <div class="course-thumb column">
                                <div class="course-thumb-bg" style="background-image: url({{certificate.course.home_thumbnail_url}});"></div>
                                <a class="btn see-certificate" href="/certificate/{{certificate.link_hash}}/" target="_blank">
                                    ver {{ certificate.type==='receipt' ? 'declaração' : 'certificado' }}
                                </a>
                            </div>
                            <div class="course-description column">
                                <div class="progress-label">módulo concluído</div>
                                <h3 class="course-title">{{ certificate.course.name }}</h3>
                                <div class="course-info">
                                    <p><b>Finalizado em:</b> {{ certificate.created_date | date : "d/M/yyyy"}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    -->
</div>

<script type="text/ng-template" id="create-assistance_modal.html">
  <article>
    <header class="modal-header">
      <button type="button" class="close" ng-click="cancelModal()"><i class="fa fa-times" aria-hidden="true"></i>
        <span translate>Close</span>
      </button>
      <h4 class="modal-title" translate>New assistance</h4>
    </header>
    <main class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="datetime" translate>Date</label>
            <input class="form-control"
              moment-picker="dateTime.str"
              placeholder="{{ 'Select date and time' | translate }}"
              format="LL H:mm | [GMT] Z"
              min-view="month" max-view="minute"
              set-on-select="true"
              locale="{{ locale }}"
              ng-model="dateTime.obj">
          </div>
          <div class="form-group">
            <label for="text" translate>Text</label>
            <textarea class="form-control" id="text" ng-model="assistance.content" ui-tinymce="tinymceOptions"></textarea>
          </div>
        </div>
      </div>
    </main>
    <footer class="modal-footer">
      <button type="button" class="btn btn-cancel btn-sm btn-default" ng-click="cancelModal()" translate>Cancel</button>
      <button type="button" class="btn btn-sm btn-primary" ng-click="saveAssistance()" translate>Save</button>
    </footer>
  </article>
</script>
{% endverbatim %}
