{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}

    <script src="https://unpkg.com/angular-sortable-view@0.0.17/src/angular-sortable-view.min.js"></script>
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>

    {% compress js %}
    <!-- Core -->
    <script type="text/javascript" src="{% static 'js/core/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/filters.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}" charset="utf-8"></script>

    <!-- Certificate -->
    <script type="text/javascript" src="{% static 'js/certificate/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/file.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/previewImage.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}" charset="utf-8"></script>
    {% endcompress %}

{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
ng-app="certification"
{% endblock %}

{% block content %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        function onFileSelected(event) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();
            var imgtag = document.getElementById(event.target.id + "-preview");

            reader.onload = function(event) {
                imgtag.src = event.target.result;
            };

            reader.readAsDataURL(selectedFile);
        }

        function onImgNotFound(event) {
            $(this).attr('src', '{% static "img/avatar-default.png" %}')
        }

        $("#base-logo, #site-logo, #cert-logo, #signature").change(onFileSelected);

        $("#profile-avatar").error(onImgNotFound);
    });
</script>
<section class="course certificate" ng-controller="CertificateTemplateCtrl" ng-cloack>

  {% include "_admin_header_inline.html" with course=course hide_editable_fields=True %}

  <!-- ACTIONS -->
  <div class="actions-menu" fixed-bar>
    <div class="container-fluid">
      {% include 'administration/_alert.html' %}
      <a href="{% url 'courses_legacy:course.certificate-templates' course.id %}" class="btn btn-danger cancel" translate>Back to templates list</a>
      <div class="actions-buttons pull-right">
        <button class="btn btn-primary btn-inverse delete" ng-click="deleteTemplate()" translate>Delete</button>
        {% verbatim %}
        <button class="btn btn-info" ng-class="{ 'edit' :  preview, 'preview' : !preview }" ng-click="preview = !preview">
          <span ng-if="preview" translate>Edit</span>
          <span ng-if="!preview" translate>View</span>
        </button>
        {% endverbatim %}
        <button class="btn btn-primary btn-inverse save" ng-click="saveTemplate()" translate>Save</button>
      </div>
    </div>
  </div>
  <!-- END ACTIONS -->

  <section class="page container-fluid">
  <!-- HEADER -->
  {% verbatim %}
  <header class="page-header">
    <h3 class="header-bottom-distance">
      <span ng-if="ct.document_type == 'receipt'" translate>Configure template for receipts</span>
      <span ng-if="ct.document_type == 'certificate'" translate>Configure template for certificates</span>
    </h3>
    <p class="lead"><span translate>Course</span>: {{ ct.course_name }}</p>
    <div class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i>
      <span translate>Edit template name (the final user won't see this name)</span>
    </div>
    <div class="editable-title"><input type="text" ng-model="ct.name" placeholder="{{'Template name' | translate}}"></div>
  </header>

  <div class="alert alert-info" role="alert" ng-class="{hide: !help}">
    <ul>
      <li translate>
        Never forget to Save any changes you make. Before saving it is possible and recommended to preview the changes made.
      </li>
      <li class="certificate-help">
        <span translate>
          To edit the template text, use the editor below and its features. In the text, you can place the following indicators, which will be replaced according to the description:
        </span>
        <ul>
          <li translate>{MODULE}: Certificate module name</li>
          <li translate>{CONTRACT}: Contract name</li>
          <li translate>{NUM_UNITS}: Number of units in the module</li>
          <li translate>{TURMA}: Turma na qual foi concluído o módulo</li>
        </ul>
      </li>
      <li translate>
        To delete an image from the template, just double-click it
      </li>
      <li translate>
        When you click cancel, you will be returned to the certificate listing page. Always remember to Save any changes you have made and want to keep
      </li>
      <li ng-if="message" ng-bind-html="message"></li>
    </ul>
  </div>
  {% endverbatim %}
  <!-- END HEADER -->

  <div class="certificate-content">
      {% verbatim %}
      <div class="edit-certificates" ng-hide="preview">
        <div class="certificate-container certificate-admin" ng-class="{'receipt-admin receipt' : ct.document_type == 'receipt'}">
          <div class="certificate-header">
            <div>
              <div class="certificate-title" ng-if="ct.document_type == 'receipt'" translate>Receipt</div>
              <div class="certificate-title" ng-if="ct.document_type == 'certificate'" translate>Certificate</div>
            </div>
          </div>
          <div class="certificate-info">
            <div class="certificate-template">
              <textarea ui-tinymce="tinymceOptions" class="editable-text" rows="1" ng-model="ct.organization_name" required></textarea>
            </div>
            <p class="student" translate>User name here</p>
            <p>concluiu a formação</p>
            <div class="certificate-course-name">{{ ct.course_name }}</div>
            <div class="certificate-template">
              <textarea ui-tinymce="tinymceOptions" class="editable-text" rows="3" ng-model="ct.text" required></textarea>
            </div>
          </div>
          <footer>
              <div class="certificate-signatures">
                <div class="coordinator-section">
                  <div class="certificate-signature">
                      <img alt=""
                          ng-dblclick="reset($event, 'signature')"
                          preview-image
                          ng-model="images.signature"
                          ng-src="{{ ct.signature_url }}"
                          class="img-responsive" />
                      <file id="signature" ng-model="images.signature" name="logo"></file>
                  </div>
                </div>
                <div class="coordinator-section">
                  <div class="certificate-signature">
                      <img alt=""
                          ng-dblclick="reset($event, 'second_signature')"
                          preview-image
                          ng-model="images.second_signature"
                          ng-src="{{ ct.second_signature_url }}"
                          class="img-responsive" />
                      <file id="second-signature" ng-model="images.second_signature" name="logo"></file>
                  </div>
                </div>
              </div>
          </footer>
        </div>
      </div>

      <div class="certificate-container" ng-class="{'receipt' : ct.document_type == 'receipt'}" ng-hide="!preview">
        <div class="certificate-header">
          <div>
            <div class="certificate-title" ng-if="ct.document_type == 'receipt'" translate>Receipt</div>
            <div class="certificate-title" ng-if="ct.document_type == 'certificate'" translate>Certificate</div>
          </div>
        </div>
        <div class="certificate-info">
          <span ng-bind-html="ct.organization_name"></span>
          <p class="student" translate>Person Name</p>
          <p>concluiu a formação</p>
          <div class="certificate-course-name">{{ ct.course_name }}</div>
          <span ng-bind-html="ct.text"></span>
        </div>
        <footer>
            <div class="certificate-signatures">
              <div class="coordinator-section">
                <div class="certificate-signature">
                    <img class="signature-preview" alt="" ng-src="{{ ct.signature_url }}">
                </div>
              </div>
              <div class="coordinator-section">
                <div class="certificate-signature">
                    <img class="signature-preview" alt="" ng-src="{{ ct.second_signature_url }}">
                </div>
              </div>
            </div>
        </footer>
      </div>
      {% endverbatim %}
  </div>
</section>
{% endblock %}
