{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% block js %}
{{ block.super }}
<script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>
<script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
<script src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>
<script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>
<script src="https://unpkg.com/dropzone@3.12.0/lib/dropzone.js"></script>

<script src="{% static 'js/mpt.ui.tinymce.courses-legacy.config.js' %}"></script>

{% compress js %}
<script type="text/javascript" src="{% static 'js/course_material/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
{% endcompress %}

{% endblock %}
{% block body_attrs %}
ng-app="courseMaterial"
{% endblock %}
{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}
{% block content %}
<script>
    window.course_id = {{ course.pk }};
</script>

<!-- CONTAINER -->
<div class="course course-material" ng-app="courseMaterial">

    <!-- ACTIONS -->
    <div class="actions-menu actions-menu-message" ng-hide="alert.hidden" fixed-bar>
        <div class="container">
            <div class="actions-buttons"></div>
            {% include 'administration/_alert.html' %}
        </div>
    </div>
    <!-- END ACTIONS -->

    {% include "_admin_header_inline.html" with course=course hide_editable_fields=True %}

    <!-- MAIN CONTENT -->
    <section class="course-content page container-fluid" ng-controller="CourseMaterialEditorCtrl">

        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <header class="page-header">
                    <h3 translate>Additional Materials</h3>
                </header>

                <div ng-hide="course_materials.$resolved">
                    <i class="loading fa fa-refresh fa-spin"></i>
                </div>

                <!-- Explicação inicial sobre material de curso -->
                <div class="add-content">
                    <div class="language-selection-container"><b class="page-subtitle" translate>Select the language for the materials</b></div>
                    <button class="btn btn-primary" ng-class="editingCourseLanguage === 'en' ? 'active-language': ''"
                        ng-click="setLanguage('en')">EN</button>
                    <button class="btn btn-primary" ng-class="editingCourseLanguage === 'pt-br' || editingCourseLanguage === 'pt_br' ? 'active-language': ''"
                        ng-click="setLanguage('pt-br')">PT-BR</button>
                    <button class="btn btn-primary" ng-class="editingCourseLanguage === 'es' ? 'active-language': ''"
                        ng-click="setLanguage('es')">ES</button>
                </div>

                <!-- /Explicação inicial sobre material de curso -->
                <b class="page-subtitle">
                    <span translate>Text that students will see in the area of additional materials</span>
                    <button class="btn btn-sm btn-primary edit desc-material pull-right"
                        ng-show="course_material.text && !course_material.editing"
                        ng-click="course_material.editing=true" translate>Edit</button>
                </b>

                <!-- Botões para a lógica de visualização do campo de texto -->

                <div class="materials-text">
                    <!-- Visualização do material de curso -->
                    <div class="materials-message" ng-show="course_material.text && !course_material.editing"
                        ng-bind-html="get_as_safe_html(course_material.text)"></div>
                    <!-- /Visualização do material de curso -->
                </div>
                <!-- Edição do material do curso -->
                <form name="new_material_text" class="new-thread" novalidate
                    ng-submit="course_material.text; new_material_text.$valid && save_course_material()"
                    ng-init="course_material.text" ng-show="!course_material.text || course_material.editing">
                    <div class="form-group">
                        <textarea ui-tinymce="tinymceOptions" ng-model="course_material.text"
                            name="text" ng-hide="!course_materials.$resolved" required></textarea>
                    </div>
                    <div class="form-group edit_material">
                        <button type="button" value="cancelar" class="btn btn-sm btn-danger delete" ng-click="course_material.editing=false;" translate>Cancel</button>
                        <button type="submit" value="salvar" class="btn btn-sm btn-primary save pull-right" translate>Save</button>
                    </div>
                </form>
            <!-- /Edição do material do curso -->

            <b class="page-subtitle" translate>
                Files upload
            </b>
            <!-- ASIDE -->
                <div >
                    <form action="{% url 'courses_legacy:file_upload' course.slug  %}"
                        class="col-xs-6 col-sm-4 col-md-4 col-lg-4 dropzone textcenter"
                        id="file-dropzone">
                        <p translate>Drop files to upload (or click)</p>
                        {% csrf_token %}
                        {% verbatim %}
                        <input type="hidden" name="course_material" value="{{ course_material.id }}" id="id_course_material">
                        {% endverbatim %}
                    </form>
                </div>
            </div>
            <div class="col-xs-10 col-sm-8 col-md-8">
                <p ng-show="files_course.length==0" translate>No files in course material</p>
                <ul class="uploaded-files-list" ng-show="files_course.length>0">
                    <li>
                        <b class="page-subtitle" translate>Materials</b>
                    </li>
                    <li ng-repeat="file_obj in files_course">
                        {% verbatim %}
                        <a ng-href="{{ file_obj.file }}" ng-if="!check_editing || check_editing !== file_obj.id" target="_blank" class="file_name">{{ file_obj.title }}</a>
                        <div class="editable-text" ng-if="check_editing && check_editing === file_obj.id">
                            <input type="text" ng-model="file_name" id="id_name" placeholder="Insert a name for the file">
                        </div>
                        <div class="edit-material">
                            <button ng-if="check_editing && check_editing === file_obj.id" class="btn btn-cancel" ng-click="edit_cancel()" translate>Cancel</button>
                            <button ng-if="check_editing && check_editing === file_obj.id" class="btn btn-success" ng-click="save_edit(file_obj); show_success_message=true" translate>Save</button>
                        </div>

                        <div class="file-link">
                            <p ng-href="{{ file_obj.file }}" target="_blank">{{file_obj.file|filename}}</p>
                            <div class="file-edit pull-right">
                                <button type="submit" target="_blank" class="btn btn-xs" ng-click="edit_file(file_obj)"><i class="fa fa-edit"></i><span class="sr-only" translate>edit material</span></button>
                                <button type="submit" target="_blank" ng-click="delete_file(file_obj)" class="btn btn-xs btn-warning"><i class="fa fa-times" aria-hidden="true"></i><span class="sr-only" translate>delete material</span></button>
                            </div>

                        </div>
                        {% endverbatim %}
                        <br/>
                    </li>
                </ul>
            </div>
            <!-- END ASIDE -->
        </div>
        </div>
        <!-- END ROW -->
    </section>
    <!-- END MAIN CONTENT-->
</div>
<!-- END CONTAINER -->
<script type="text/javascript">
    $(document).ready( function(){
        $('#course-material-text a').attr('target', '_blank');
    });
</script>

<script type="text/javascript">
    Dropzone.autoDiscover = false;
    $('.dropzone').dropzone({
        init: function() {
            var that = this;
            that.on('success', function(file) {
                window.location.reload();
            });
        }
    });
</script>
{% endblock %}

