{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}

<div class="login-page">
    {% for error in form.login.errors %}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endfor error in %}
</div>

<div class="home">
    <section class="login login-content">
        <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
            <fieldset>
                <legend class="login-legend">
                    <h2 translate>Redefinition of password concluded</h2>
                    <p translate>Enter your username and your new password.</p>
                </legend>
                <div class="form-group{% if form.errors %} has-error{% endif %}">
                    <label for="username" class="sr-only" translate>Username</label>
                    <input name="login" type="text" id="username" class="form-control"
                        value="{{form.login.value|default_if_none:""}}"
                        {% verbatim %}placeholder="{{'Insert your username' | translate}}"{% endverbatim %}/>
                    {% for error in form.login.errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                <div class="form-group{% if form.errors %} has-error{% endif %}">
                    <label for="password" class="sr-only" translate>Password</label>
                    <input name="password" type="password" id="password" class="form-control"
                        {% verbatim %}placeholder="{{'Insert your password' | translate}}"{% endverbatim %}>
                    {% for error in form.password.errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                    {% for error in form.non_field_errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                    <p class="recovery-link">
                        <a href="{% url 'account_reset_password' %}"><strong translate>Forgot your password</strong></a>
                    </p>
                </div>

                <button type="submit" class="btn btn-login-page login" translate>
                    Login
                </button>
                <input type="hidden" name="next" value="{{ next }}" />
            </fieldset>

            <p class="login-register">
                <a href="/accounts/signup"><span translate>Don’t have an account</span>? <strong translate>Register here</strong></a>
            </p>
        </form>
    </section>
</div>
{% endblock %}