{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block title %}
Defina sua senha e aceite os Termos de Uso para continuar
{% endblock %}

{% block body_attrs %}
  ng-app="header"
{% endblock %}

{% block account_content %}
    <div class="container js-fullheight c1 login-page">
        <h1>{% trans "Change Password" %}</h1>
        {% comment %} <form method="POST" action="{% url 'account_change_password' %}" class="password_change form-horizontal register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </form> {% endcomment %}
        <form action="{% url 'account_change_password' %}" method="post" class="form-horizontal register-form">{% csrf_token %}
            <fieldset>
                {% comment %} <input type="password" name="oldpassword" placeholder="senha atual" required="" id="id_oldpassword" autocomplete="off">
                <input type="password" name="password1" placeholder="Nova Senha" required="" id="id_password1" >
                <input type="password" name="password2" placeholder="Nova Senha (novamente)" required="" id="id_password2"> {% endcomment %}
                <legend>Mudar sua senha</legend>
                {% with errors=form.oldpassword.errors %}
                <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <label for="oldpassword" class="sr-only">Senha Atual</label>
                    <input name="oldpassword" type="password" required="" id="id_oldpassword" class="form-control" placeholder="Senha Atual">
                </div>
                {% endwith %}
                {% with errors=form.password1.errors %}
                <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <label for="password1" class="sr-only">Senha</label>
                    <input name="password1" type="password" required="" id="id_password1" class="form-control" placeholder="Nova Senha">
                </div>
                {% endwith %}

                {% with errors=form.password2.errors %}
                <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <label for="password2" class="sr-only">Nova Senha (novamente)</label>
                    <input name="password2" type="password" required="" id="id_password2" class="form-control" placeholder="Nova Senha (novamente)">
                </div>
                {% endwith %}
                <button class="btn btn-success" type="submit" name="action">Alterar Senha</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
