{% extends 'account/base.html' %}
{% block account_content %}
<div class="home">
    <section class="login login-content">
        <form onclick="event.stopPropagation()" method="post" action="{% url 'account_reset_password' %}"
            class="forgot-pass-form">{% csrf_token %}
            <fieldset>
                <legend>
                    <h2 translate>Recover Password</h2>
                </legend>

                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <p class="instruction-text" translate>
                        Enter your email below to send a message with instructions for recovering your account.
                    </p>
                    <input required name="email" type="email" id="email" class="form-control"
                    {% verbatim %}placeholder="{{'Insert your e-mail' | translate}}"{% endverbatim %}>
                    {% for error in form.email.errors %}
                        <small class="warning-mark">{{error}}</small>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-submit">Enviar</button>
            </fieldset>
        </form>
    </section>
</div>
{% endblock %}