{% extends 'account/base.html' %}
{% load staticfiles %}

{% block account_content %}

<div class="home" ng-controller="UserSignupController">
    <section class="login login-content">
        <form method="post" action="{% url 'account_signup' %}" class="register-form">{% csrf_token %}
            <fieldset>
                <legend>
                    <h2 translate>Sign up</h2>
                </legend>
                {% comment %} {% with errors=form.username.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="username" class="sr-only" translate>Username</label>
                    <input required name="username" type="text" class="form-control" id="username"
                    value="{{form.username.value|default_if_none:''}}"
                    {% verbatim %}placeholder="{{'Insert your username' | translate }}"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %} {% endcomment %}

                {% with errors=form.name.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="name" class="sr-only" translate>Full Name</label>
                    <input required name="name" type="text" class="form-control" id="name"
                    value="{{form.name.value|default_if_none:''}}"
                    {% verbatim %}placeholder="{{'Insert your full name' | translate }}"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.birth_date.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="birth_date" class="sr-only" translate>Birth Date</label>
                    {{form.birth_date}}
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.cpf.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="cpf" class="sr-only" translate>CPF</label>
                    <input required name="cpf" type="text" class="form-control" id="cpf"
                    value="{{form.cpf.value|default_if_none:''}}"
                    {% verbatim %}placeholder="CPF sem pontos nem traço"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.institution.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="institution" class="sr-only" translate>Escola</label>
                    <input required name="institution" type="text" class="form-control" id="institution"
                    value="{{form.institution.value|default_if_none:''}}"
                    {% verbatim %}placeholder="Escola que frequenta ou frequentou"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.phone_number.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="phone_number" class="sr-only" translate>Celular</label>
                    <input required name="phone_number" type="text" class="form-control" id="phone_number"
                    value="{{form.phone_number.value|default_if_none:''}}"
                    {% verbatim %}placeholder="Celular com DDD"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.gender.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="gender" class="sr-only" translate>Gender</label>
                    {{ form.gender}}
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.race.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="race" class="sr-only" translate>Ethnicity</label>
                    {{ form.race}}
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.city.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="city" class="sr-only" translate>City</label>
                    {%verbatim%}
                    <input autocomplete="off" type="text" id="search-user" class="form-control" ng-model="cityName"
                        placeholder="{{'Inform your town of residence' | translate }}"
                        uib-typeahead="city as city.text for city in getCities($viewValue)"
                        typeahead-loading="loadingLocations"
                        typeahead-on-select="on_select_city($model)"
                        typeahead-min-length="2"
                        typeahead-wait-ms="500"
                        >

                    <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i>
                    <input type="hidden" name="city" ng-value="user_profile.city">
                    {%endverbatim%}
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.email.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="email" class="sr-only">Email</label>
                    <input required name="email" type="email" id="email" class="form-control"
                    value="{{form.email.value|default_if_none:''}}"
                    {% verbatim %}placeholder="{{'Insert your e-mail' | translate }}"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}

                {% with errors=form.password1.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="password1" class="sr-only" translate>Password</label>
                    <input required name="password1" type="password" id="password1" class="form-control"
                    {% verbatim %}placeholder="{{'Insert your password' | translate }}"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                    {% for error in form.non_field_errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                    <small class="info-mark" translate>
                        The password must have at least 9 characters, must have at least one non-numeric character and be different from your username and email.
                    </small>
                </div>
                {% endwith %}

                {% with errors=form.password2.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}">
                    <label for="password2" class="sr-only" translate>Password Confirmation</label>
                    <input required name="password2" type="password" id="password2"  class="form-control"
                    {% verbatim %}placeholder="{{'Repeat the password to confirm' | translate }}"{% endverbatim %}>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}
                {% with errors=form.preferred_language.errors %}
                <div class="form-group{{ errors|yesno:' has-error,' }}" ng-show="false">
                    {%verbatim%}
                        <select required name="preferred_language" class="form-control" id="preferred_language_id">
                            <option value="pt-br" default translate>Preferred language</option>
                            <option ng-repeat="option in language_options track by option.id"
                                ng-value="option.id" ng-selected="" translate>
                                {{ option.name == 'en' ? 'English' :  option.name == 'es' ? 'Español' :  option.name == 'pt-br' ? "Português" : option.name }}
                            </option>
                        </select>
                    {% endverbatim %}
                    <small class="info-mark" translate>Select the preferred language for receiving your emails</small>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                </div>
                {% endwith %}
                {% with errors=form.accepted_terms.errors %}
                <div class="form-group form-group-checkbox {{ errors|yesno:' has-error,' }}">
                    <span class="checkbox-wrapper">
                        <input required name="accepted_terms" id="accepted_terms" type="checkbox"
                            {% if form.accepted_terms.value %}checked=""{% endif %} class=""></span>
                    <label for="accepted_terms" class="terms"><span translate>I agree to the </span>
                        <a href="/pages/termos-de-uso" translate>Terms of Use</a> <span translate>and</span>
                        <a href="/pages/politica-de-privacidade" translate>Privacy Policy</a>.
                    </label>
                </div>
                {% endwith %}
                <div class="register-container-button">
                    <button class="btn btn-login-page register" translate>
                        Register
                    </button>
                </div>
            </fieldset>

            <p class="login-register">
                <a href="/accounts/login">
                    <span translate>
                        Already have an account?
                    </span>
                    <strong translate>Log in here</strong>
                </a>
            </p>
        </form>
    </section>
</div>
{% endblock %}
