{% verbatim %}
<div class="complete-profile-page container-fluid">
  <div class="complete-profile-card" ng-if="$ctrl.profile">
    <h1 translate>Your personal data</h1>
    <div class="complete-profile-card__grid">
      <div class="complete-profile-card__image">
        <div>
          <img src="/static/img/avatar-default.png">
          <a href="/profile/edit/" translate>Change image</a>
        </div>
      </div>
      <div>
        <div class="complete-profile-card__name">{{ $ctrl.profile.name ? $ctrl.profile.name : $ctrl.profile.username }}</div>
        <div class="profile-info" ng-if="$ctrl.profile.birth_date">
          <p>
              <span><b translate>Birth date</b></span> {{ $ctrl.profile.birth_date | date: "shortDate" }}
          </p>
        </div>
        <div class="profile-info" ng-if="$ctrl.cityName">
          <p>
              <span><b translate>City</b></span> {{ $ctrl.cityName }}
          </p>
        </div>
        <div class="profile-info" ng-if="$ctrl.mptProfile.school">
          <p>
              <span><b translate>School</b></span> {{ $ctrl.mptProfile.school }}
          </p>
        </div>
        <div class="profile-info">
          <p>
              <span><b translate>Email</b></span> {{ $ctrl.profile.email }}
          </p>
        </div>
        <a href="/profile/edit/" translate>Update personal data</a>
      </div>
    </div>
  </div>
  <form class="complete-profile-form">
    <h2 translate>Complete your data</h2>
      <h3 class="col-xs-12" translate>Location</h3>
      <div class="row col-xs-12">
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.school }">
          <span translate>School you attend/attended</span>
          <input type="text" ng-model="$ctrl.mptProfile.school">
          <div class="error-message" ng-repeat="error in $ctrl.errors.school" translate>{{ error }}</div>
        </label>
        <!--
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.school_city }">
          <span translate>City</span>
          <input autocomplete="off" type="text" ng-model="$ctrl.schoolCityName" uib-typeahead="city as city.text for city in $ctrl.getCities($viewValue)" typeahead-loading="$ctrl.loadingLocations" typeahead-on-select="$ctrl.onSelectCity($model)" typeahead-min-length="2" typeahead-wait-ms="500">
          <div class="error-message" ng-repeat="error in $ctrl.errors.school_city" translate>{{ error }}</div>
        </label>
        -->
      </div>

      <hr class="col-xs-12"/>

      <h3 class="col-xs-12" translate>Courses</h3>
      <div class="row col-xs-12" ng-repeat="course in $ctrl.mptProfile.profile_courses">
        <label class="col-xs-12 col-sm-4">
          <span translate>Institution name</span>
          <input type="text" ng-model="course.institution_name">
        </label>
        <label class="col-xs-6 col-sm-4">
          <span translate>Course name</span>
          <input type="text" ng-model="course.course_name">
        </label>
        <label class="col-xs-6 col-sm-4">
          <span>Course duration</span>
          <select ng-model="course.duration">
            <option ng-value="null" disabled translate>Select...</option>
            <option value="3" translate>Less than 6 months</option>
            <option value="6" translate>6 months</option>
            <option value="12" translate>12 months</option>
            <option value="18" translate>18 months</option>
            <option value="24" translate>24 months</option>
            <option value="30" translate>More than 24 months</option>
          </select>
        </label>
      </div>
      <div class="col-xs-12">
        <button class="add-more-option" ng-click="$ctrl.addCourse()">
          <i class="fa fa-plus-circle"></i> <span translate>New course</span>
        </button>
      </div>

      <hr class="col-xs-12"/>

      <h3 class="col-xs-12" translate>Languages</h3>
      <div class="row col-xs-12" ng-repeat="language in $ctrl.mptProfile.languages">
        <label class="col-xs-6 col-sm-4">
          <span translate>Language</span>
          <select ng-model="language.language">
            <option ng-value="null" disabled translate>Select...</option>
            <option value="en" translate>English</option>
            <option value="es" translate>Spanish</option>
            <option value="fr" translate>French</option>
            <option value="it" translate>Italian</option>
            <option value="de" translate>German</option>
            <option value="jp" translate>Japanese</option>
            <option value="ar" translate>Arabic</option>
          </select>
        </label>
        <label class="col-xs-6 col-sm-4">
          <span translate>Level</span>
          <select ng-model="language.level">
            <option ng-value="null" disabled translate>Select...</option>
            <option value="beginner" translate>Beginner</option>
            <option value="intermediate" translate>Intermediate</option>
            <option value="advanced" translate>Advanced</option>
            <option value="native" translate>Nativo</option>
          </select>
        </label>
      </div>
      <div class="col-xs-12">
        <button class="add-more-option" ng-click="$ctrl.addLanguage()">
          <i class="fa fa-plus-circle"></i> <span translate>New language</span>
        </button>
      </div>

      <hr class="col-xs-12"/>

      <h3 class="col-xs-12" translate>Basic knowledge</h3>
      <div class="row col-xs-12">
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.knowledge }">
          <span translate>Office</span>
          <ui-select multiple theme="bootstrap" ng-model="$ctrl.mptProfile.knowledge" title="{{ 'Choose a tag...' | translate }}">
            <ui-select-match placeholder="{{ 'Choose a tag...' | translate }}">{{ $item.name }}</ui-select-match>
            <ui-select-choices repeat="tag.id as tag in $ctrl.knowledgeOptions | filter: $select.search" group-by="">
              <div ng-bind-html="tag.name | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>{{ 'No tag was found' | translate }}</ui-select-no-choice>
          </ui-select>
          <div class="error-message" ng-repeat="error in $ctrl.errors.knowledge" translate>{{ error }}</div>
        </label>
      </div>

      <hr class="col-xs-12"/>

      <h3 class="col-xs-12" translate>Skills</h3>
      <div class="row col-xs-12">
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.skills }">
          <span translate>Suggested skills</span>
          <ui-select multiple theme="bootstrap" ng-model="$ctrl.mptProfile.skills" title="{{ 'Choose a tag...' | translate }}">
            <ui-select-match placeholder="{{ 'Choose a tag...' | translate }}">{{ $item.name }}</ui-select-match>
            <ui-select-choices repeat="tag.id as tag in $ctrl.skillOptions | filter: $select.search" group-by="">
              <div ng-bind-html="tag.name | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>{{ 'No tag was found' | translate }}</ui-select-no-choice>
          </ui-select>
          <div class="error-message" ng-repeat="error in $ctrl.errors.skills" translate>{{ error }}</div>
        </label>
      </div>

      <hr class="col-xs-12"/>

      <h3 class="col-xs-12" translate>Resume</h3>
      <div class="row col-xs-12">
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.resume }">
          <span class="sr-only" translate>Resume</span>
          <textarea ng-model="$ctrl.mptProfile.resume" placeholder="{{ 'Do a brief introduction about you, your professional goals and previous experiences' | translate }}"></textarea>
          <div class="error-message" ng-repeat="error in $ctrl.errors.resume" translate>{{ error }}</div>
        </label>
      </div>

      <hr class="col-xs-12"/>

      <h3 class="col-xs-12" translate>Professional goals</h3>
      <div class="row col-xs-12">
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.workday }">
          <span translate>Journey</span>
          <select ng-model="$ctrl.mptProfile.workday">
            <option ng-value="null" disabled translate>Select...</option>
            <option ng-repeat="option in $ctrl.options.workday" ng-value="option.slug">{{ option.label }}</option>
          </select>
          <!--
          <ui-select multiple theme="bootstrap" ng-model="$ctrl.mptProfile.workday" title="{{ 'Choose a tag...' | translate }}">
            <ui-select-match placeholder="{{ 'Choose a tag...' | translate }}">{{ $item.label }}</ui-select-match>
            <ui-select-choices repeat="tag.slug as tag in $ctrl.options.workday | filter: {label: $select.search}" group-by="">
              <div ng-bind-html="tag.label | highlight: $select.search"></div>
            </ui-select-choices>
            <ui-select-no-choice>{{ 'No tag was found' | translate }}</ui-select-no-choice>
          </ui-select>
          -->
          <div class="error-message" ng-repeat="error in $ctrl.errors.workday" translate>{{ error }}</div>
        </label>
        <label class="col-xs-12" ng-class="{ 'invalid': $ctrl.errors.contract_type }">
          <span translate>Contract type</span>
          <select ng-model="$ctrl.mptProfile.contract_type">
            <option ng-value="null" disabled translate>Select...</option>
            <option ng-repeat="option in $ctrl.options.contract_type" ng-value="option.slug">{{ option.label }}</option>
          </select>
          <div class="error-message" ng-repeat="error in $ctrl.errors.contract_type" translate>{{ error }}</div>
        </label>
      </div>

      <hr class="col-xs-12"/>

      <div class="col-xs-12">
        <button type="submit" ng-click="$ctrl.saveProfile()" translate>Save</button>
      </div>
    </div>
  </form>
</div>
{% endverbatim %}
